{% extends 'base.html.twig' %}

{% block title %} Aspek Nilai Mata Kuliah {% endblock %}

{% block content %}
<div class="box">
	<div class="box-header">
		<a href="{{ path('aspek_nilai', {'aksi': 'edit'}) }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a>
		<div class="box-tools pull-right"><button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button></div>
	</div>
	<div class="box-body">
		<div class="form-inline">
			<div class="form-group">
				<label>Mata kuliah dosen</label>
				<select class="form-control" id="makul-select" style="width:150px;margin:0 .5em">
					<option value="">-- Pilih Mata Kuliah --</option>
					{% for dm in dataMakul %}
						{% if is_granted('ROLE_DOSEN') %}
							{% if dm.makul is not null %}
							<option value="{{ dm.makul.id }}" {{ (app.request.get('makul') == dm.makul.id) ? 'selected' : '' }}>{{ dm.makul.nama }}</option>
							{% endif %}
						{% else %}
							<option value="{{ dm.id }}" {{ (app.request.get('makul') == dm.id) ? 'selected' : '' }}>{{ dm.nama }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
		</div>
		<br>
		<table id="datatable1" class="table table-hover table-striped table-responsive">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>Tahun Akademik</th>
					<th>Aspek Nilai</th>
					<th>Persen</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{% for td in data %}
				<tr id="data-{{ td.id }}">
					<td align="center" width="20"></td>
					<td>{{ td.tahun.nama }}</td>
					<td>{{ td.nama }}</td>
					<td>{{ td.persen }}</td>
					<td align="center" width="100">
						<a href="{{ path('aspek_nilai', {'aksi': 'edit', 'id': td.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
						<a href="#" data-id="{{ td.id }}" data-entity="AspekNilai" class="btn btn-danger btn-sm hapus-btn"><i class="fa fa-trash"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}