{% extends 'base.html.twig' %}

{% block title %} Aspek Nilai Mata Kuliah {% endblock %}

{% block content %}
<div class="box">
	<div class="box-header">
		<div class="form-inline">
			<div class="form-group">
				<label>Periode</label>
				<select class="form-control" id="ta-select" style="width:190px;margin:0 .5em">
					<option value="">-- Pilih Periode --</option>
					{% for tahun in dataTa %}
						<option value="{{ tahun.id }}" {{ (ta == tahun) ? 'selected' : '' }}>
							{{ tahun.tahun }}/{{ tahun.tahun+1 }}
							{% if tahun.kodeSemester == 1 %}
								Ganjil
							{% elseif tahun.kodeSemester == 2 %}
								Genap
							{% elseif tahun.kodeSemester == 3 %}
								Pendek
							{% endif %}
						</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	<div class="box-body">
		<br>
		<table id="datatable1" class="table table-hover table-striped table-responsive">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>Aspek Nilai</th>
					<th>Persen</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{% for td in data %}
				<tr id="data-{{ td.id }}">
					<td align="center" width="20"></td>
					<td>{{ td.nama }}</td>
					<td>{{ td.persen }}</td>
					<td align="center" width="100">
						<a href="{{ path('aspek_nilai', {'aksi': 'edit', 'id': td.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
						{# <a href="#" data-id="{{ td.id }}" data-entity="AspekNilai" class="btn btn-danger btn-sm hapus-btn"><i class="fa fa-trash"></i></a> #}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block js %}
	<script>
	$("#ta-select").on('change', function(){
		var url = "{{ url('aspek_nilai') }}";
		var ta = this.value;
		if ( ta !== '' ) {
			url += "?ta="+ta;
			window.location.replace(url);
		}
	});
	</script>
{% endblock %}