{% extends 'base.html.twig' %}

{% block title %} Dosen Pembimbing Mahasiswa {% endblock %}

{% block content %}
<div class="box box-default">
	<div class="box-body">
		<table id="datatable1" class="table table-hover table-striped table-responsive">
		<thead>
			<tr>
				<th class="text-center">No</th>
				<th>NIM</th>
				<th>Nama Mahasiswa</th>
				<th>Prodi</th> 
				<th>Angkatan</th>
				{% if not is_granted('ROLE_DOSEN') %}
				<th>Dosen Pembimbing</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for td in data.result %}

				<tr id="data-{{ td.id }}">
					<td align="center" width="20"></td>
					<td>{{ td.nim }}</td>
					<td>{{ td.nama }}</td>
					<td>{{ td.prodi }}</td>
					<td>{{ td.angkatan }}</td>
					{% if not is_granted('ROLE_DOSEN') %}
					<td>{{ td.dosen }}</td>
					{% endif %}
				</tr>

			{% endfor %}
		</tbody>
		</table>
	</div>
</div>
{% endblock %}