{% extends 'base.html.twig' %}

{% block title %} Jadwal Kuliah {% endblock %}

{% block css %}
<style type="text/css">
	.table tr th, .table tr td {
		text-align: center !important;
	}
</style>
{% endblock %}

{% block content %}
<div class="box"> 
	<div class="box-body no-padding">
	  	<table class="table table-bordered table-responsive">
	  	<table class="table table-bordered table-responsive">
		    <thead>
					<tr>
						<th rowspan="3" width="90">Hari</th>
						<th rowspan="3" width="50">Jam</th>
						<th rowspan="3" width="100">Waktu</th>
						<th colspan="{{ (semester|length)*kelas|length }}">Semester / Kelas</th>
					</tr>
					<tr>
						{% for s in semester %}
							<th colspan="{{ kelas|length }}">{{ s }}</th>
						{% endfor %}
					</tr>
					<tr>
						{% for s in semester %} 
							{% for k in kelas %}
								<th>{{ k.nama }}</th>
							{% endfor %}
						{% endfor %}
					</tr>
		    </thead>
		    <tbody>
					{% for hr in hari %}
					<tr>
						<td rowspan="{{ jam|length+1 }}">{{ hr.nama }}</td>
					</tr>
					{% for j in jam %}
					<tr>
						<td>{{ j.jam }}</td>
						<td>{{ j.dari|date('H:i') }} - {{ j.sampai|date('H:i') }}</td>
						{% for s in semester %}
							{% for k in kelas %}
								<td><a href="#" class="jadwal-kuliah" data-type="select" data-pk="{{ getJadwalKuliah(s, k, hr, j, ta, 'id') }}">{{ getJadwalKuliah(s, k, hr, j, ta) }}</a></td>
							{% endfor %}
						{% endfor %}
					</tr>
					{% endfor %}
					{% endfor %}
		    </tbody>
	  	</table>>
	  	</table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}

{% block js %}
{% if is_granted('ROLE_ADMIN') %}
<script src="{{ asset('plugins/x-editable/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
<script src="{{ asset('plugins/x-editable/inputs-ext/address/address.js') }}"></script>
<script>
$(function(){
    $('.jadwal-kuliah').editable({
        url: '{{ path("jadwal_kuliah_update_action") }}',
        title: 'Pilih Mata Kuliah',
       	ajaxOptions: {
           dataType: 'json' //assuming json response
       	},
        source: [
							{% for mk in makul %}
              {value: '{{ mk.nama }}', text: '{{ mk.nama }}'}{% if not loop.last %},{% endif %}
              {% endfor %}
           ]
    });
});
</script>
<script>
// $(function(){
//     $('.address').editable({
//         url: '/post',
//         value: {
//             city: "Moscow", 
//             street: "Lenina", 
//             building: "12"
//         },
//         validate: function(value) {
//             if(value.city == '') return 'city is required!'; 
//         },
//         display: function(value) {
//             if(!value) {
//                 $(this).empty();
//                 return; 
//             }
//             var html = '<b>' + $('<div>').text(value.city).html() + '</b>, ' + $('<div>').text(value.street).html() + ' st., bld. ' + $('<div>').text(value.building).html();
//             $(this).html(html); 
//         }         
//     }); 
// });
</script>
{% endif %}
{% endblock %}