{% extends 'base.html.twig' %}

{% block title %} Jadwal Perkuliahan {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ asset('plugins/x-editable/bootstrap3-editable/css/bootstrap-editable.css') }}">
<link rel="stylesheet" href="{{ asset('plugins/x-editable/inputs-ext/address/address.css') }}">
<style type="text/css">
	.table tr th, .table tr td {
		text-align: center !important;
	}
</style>
{% endblock %}

{% block content %}
<div class="box"> 
	<div class="box-header">
		<h3 class="box-title">Prodi: {{ app.user.prodi.namaProdi }}</h3>
		<div class="pull-right">
			<div class="form-inline">
				<label>Periode</label>
				<select id="semester-select" class="form-control" style="margin: 0 .5em">
					<option value="">-- Pilih tahun --</option>
					{% for i in "now"|date("Y")+3..2000 %}
						<option value="{{ i }}3" {{ ( app.request.get('semester') == i~3 ) ? 'selected' : '' }}>{{ i }}/{{ i+1 }} Pendek</option>
						<option value="{{ i }}2" {{ ( app.request.get('semester') == i~2 ) ? 'selected' : '' }}>{{ i }}/{{ i+1 }} Genap</option>
						<option value="{{ i }}1" {{ ( app.request.get('semester') == i~1 ) ? 'selected' : '' }}>{{ i }}/{{ i+1 }} Ganjil</option>
					{% endfor %}
				</select>
{# 				<label>Kelas</label>
				<select id="kelas-select" class="form-control" style="margin: 0 .5em">
					<option value="">-- Pilih tahun --</option>
					{% for kelas in dataKelas %}
						<option value="{{ kelas.id }}" {{ ( app.request.get('kelas') == kelas.id ) ? 'selected' : '' }}>{{ kelas.nama }} {{ ( kelas.ruangan is not empty ) ? '('~kelas.ruangan~')' : '' }}</option>
					{% endfor %}
				</select> #}
			</div>
		</div>
	</div>
	<div class="box-body no-padding">
		{% if data.error is not null %}

			<div class="alert alert-warning">
				{{ data.error }}
			</div>

		{% else %}

	  	<table class="table table-bordered table-responsive">
		    <thead>
					<tr>
						<th rowspan="2" width="100">Hari / Waktu</th>
						<th colspan="{{ dataSemester|length }}">Semester</th>
					</tr>
					<tr>
						{% for semester in dataSemester %}
							<th>{{ semester }}</th>
						{% endfor %}
					</tr>
		    </thead>
		    <tbody>
		    	{% for hari in dataHari %}
	    			<tr class="info">
	    				<td colspan="{{ 1+dataSemester|length }}" style="text-align:left !important">{{ hari.nama }}</td>
	    			</tr>
	    			{% for jam in dataJamKuliah %}
	    				<tr>	    				
	    					<td>{{ jam.dari|date('H:i') }}-{{ jam.sampai|date('H:i') }}</td>
	    					{% for smt in dataSemester %}
	    						<td>
	    							<a href="#" class="jadwal-kuliah-smt-{{ smt }}" data-type="select" data-pk="{{ getJadwalKuliah(ta, smt, hari, jam, 'id') }}">{{ getJadwalKuliah(ta, smt, hari, jam) }}</a>
	    						</td>
	    					{% endfor %}
	    				</tr>
	    			{% endfor %}
		    	{% endfor %}
		    </tbody>
	  	</table>

		{% endif %}
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}

{% block js %}
<script>
  	$("#semester-select").on('change', function(){
  		var kelas = $("#kelas-select").val();
  		if (this.value !== '') {
  			var url = "{{ path('jadwal_kuliah_index') }}"+"?semester="+this.value+"&kelas="+kelas;
  			window.location.replace(url);
  		}
  	});
  	$("#kelas-select").on('change', function(){
  		var semester = $("#semester-select").val();
  		if (this.value !== '') {
  			var url = "{{ path('jadwal_kuliah_index') }}"+"?semester="+semester+"&kelas="+this.value;
  			window.location.replace(url);
  		}
  	});
</script>
{% if data.error is null %}
	<script src="{{ asset('plugins/x-editable/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
	<script src="{{ asset('plugins/x-editable/inputs-ext/address/address.js') }}"></script>
	{% for smt in dataSemester %}
	<script>
	$(function(){
	    $('.jadwal-kuliah-smt-{{ smt }}').editable({
	        url: '{{ path("jadwal_kuliah_update_action") }}',
	        title: 'Pilih Mata Kuliah',
	       	ajaxOptions: {
	           dataType: 'json' //assuming json response
	       	},
	        source: [
				{% for mk in dataMakul[smt] %}
	            {value: '{{ mk.id }}', text: '{{ mk.makul.nama }} {{ ( mk.kelas is not null ) ? "(Kls: "~mk.kelas.nama~")" : '' }}'}{% if not loop.last %},{% endif %}
	            {% endfor %}
	           ]
	    });
	});
	</script>
	{% endfor %}
{% endif %}
{% endblock %}