{% extends 'base.html.twig' %}

{% block title %} Mata Kuliah Diampu {% endblock %}

{% block content %}
<div class="box no-border">
	<div class="box-header"></div>
	<div class="box-body">

			<table id="datatable1" class="table table-hover table-striped table-responsive">
			<thead>
			<tr>
				<th>&nbsp;</th>
				<th>Kode</th>
				<th>Mata Kuliah</th>
				{% if not is_granted('ROLE_DOSEN') %}
				<th>Nama Dosen</th>
				{% endif %}
				<th>Semester</th>
				<th>Kelas</th>
				<th>SKS-T</th>
				<th>SKS-P</th>
				<th>SKS-L</th>
			</tr>
			</thead>
			<tbody>
			{% for td in data.result %}
				<tr id="data-{{ td.id }}">
					<td align="center" width="20"></td>
					<td>{{ td.kode_mk }}</td>
					<td>{{ td.nama_mk }}</td>
					{% if not is_granted('ROLE_DOSEN') %}
					<td>{{ td.dosen }}</td>
					{% endif %}
					<td>{{ td.semester }}</td>
					<td>{{ td.kelas }}</td>
					<td>{{ td.sks_teori }}</td>
					<td>{{ td.sks_praktek }}</td>
					<td>{{ td.sks_lapangan }}</td>
				</tr>
			{% endfor %}
			</tbody>
			</table>

	</div>
</div>
{% endblock %}