{% extends 'base.html.twig' %}

{% block title %} Presensi Dosen {% endblock %}

{% block pageTitle %} Presensi Dosen <small>Per Periode</small> {% endblock %}

{% block content %}
<div class="box box-default">
	<div class="box-body">
		<table id="datatablePresensi" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th rowspan="2">&nbsp;</th>
					<th rowspan="2">NIP</th>
					<th rowspan="2">Nama</th>
					<th rowspan="2">Jabatan</th>
					<th class="text-center" colspan="4">
						Presensi
						<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal" data-aksi="new">
						  <i class="fa fa-plus"></i>
						</button>
					</th>
				</tr>
				<tr>
					<th class="text-center">Hadir</th>
					<th class="text-center">Sakit</th>
					<th class="text-center">Ijin</th>
					<th class="text-center">Alpa</th>
				</tr>
			</thead>
			<tbody>
			{% for td in data.result %}
				<tr id="data-{{ td.id }}">
					<td align="center" width="120">
						<a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" data-username="{{ td.username }}" data-nama="{{ td.nama }}" data-jabatan="{{ td.jabatan }}" data-pangkat="{{ td.pangkat_golongan }}"><i class="fa fa-edit"></i></a>
						{# <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" data-aksi="view" data-id="{{ td.id }}"><i class="fa fa-crosshairs"></i></a> #}
						<a href="#" class="btn btn-primary btn-sm" onclick="openWindow('{{ path('cetak_presensi', {role: 'dosen', id: td.id}) }}')"><i class="fa fa-print"></i></a>
					</td>
					<td>{{ td.nidn }}</td> 
					<td>{{ td.nama }}</td>
					<td>{{ td.jabatan }}</td>
					<td align="center">{{ td.presensi.hadir }}</td>
					<td align="center">{{ td.presensi.sakit }}</td>
					<td align="center">{{ td.presensi.ijin }}</td>
					<td align="center">{{ td.presensi.alpa }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
	{% form_theme form "form/bootstrap_3_layout.html.twig" %}
  	{{ form_start(form, {attr: {'class': 'modal-content'}}) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">

	  	{{ form_errors(form) }}

      	<div>
      		<div class="pull-left">
      			<div class="form-inline">
      				<div class="form-group">
      					{{ form_label(form.tanggal) }}
      					{{ form_widget(form.tanggal, {value: "now"|date('d-m-Y')}) }}
      				</div>
      			</div>
      		</div>
      		<div class="pull-right">
      			<div class="form-inline">
      				<div class="form-group">
      					{{ form_label(form.jam) }}
      					{{ form_widget(form.jam) }}
      				</div>
      			</div>
      		</div>
      	</div>
      	<br><br>
        <div>
			<table id="datatable2" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th rowspan="2">NIP</th>
						<th rowspan="2">Nama</th>
						<th rowspan="2">Jabatan</th>
						<th class="text-center" colspan="4">Presensi</th>
					</tr>
					<tr>
						<th class="text-center">Hadir</th>
						<th class="text-center">Sakit</th>
						<th class="text-center">Ijin</th>
						<th class="text-center">Alpa</th>
					</tr>
				</thead>
			<tbody>
			{% set count = 0 %}
			{% for td in data.result %}
				<tr>
					<td>
						{{ td.username }}
						<input type="hidden" id="form_dosen_{{ count }}" name="form[dosen][{{ count }}]" value="{{ td.id }}">
						<input type="hidden" id="form_presensi_{{ count }}" name="form[presensi][{{ count }}]" value="">
					</td>
					<td>{{ td.nama }}</td>
					<td>{{ td.jabatan }}</td>
					<td align="center"><input type="radio" name="dosen_{{ count }}_{{ td.id }}" value="hadir"></td>
					<td align="center"><input type="radio" name="dosen_{{ count }}_{{ td.id }}" value="sakit"></td>
					<td align="center"><input type="radio" name="dosen_{{ count }}_{{ td.id }}" value="ijin"></td>
					<td align="center"><input type="radio" name="dosen_{{ count }}_{{ td.id }}" value="alpa"></td>
				</tr>
				{% set count = count+1 %}
			{% endfor %}
			</tbody>
			</table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
        <button type="submit" class="btn btn-primary">Simpan</button>
      </div>
    {{ form_end(form) }}
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <form action="{{ path('presensi_dosen_edit') }}" method="post" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Edit Presensi Dosen</h4>
      </div>
      <div class="modal-body">

      		<table class="table no-border">
      			<tr>
      				<td>NIP</td>
      				<td>
      					<span id="user-username"></span>
      					<input type="hidden" name="username" value="0">
      				</td>
      			</tr>
      			<tr>
      				<td>NAMA</td>
      				<td><span id="user-nama"></span></td>
      			</tr>
      			<tr>
      				<td>JABATAN</td>
      				<td><span id="user-jabatan"></span></td>
      			</tr>
      			<tr>
      				<td>PANGKAT/GOLONGAN</td>
      				<td><span id="user-pangkat"></span></td>
      			</tr>
      		</table>

			<table id="presensi-user" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th rowspan="2" width="20">No</th>
						<th rowspan="2">Hari/Tanggal</th>
						<th rowspan="2">Jam</th>
						<th class="text-center" colspan="4">Presensi</th>
					</tr>
					<tr>
						<th class="text-center">Hadir</th>
						<th class="text-center">Sakit</th>
						<th class="text-center">Ijin</th>
						<th class="text-center">Alpa</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
        <button type="submit" class="btn btn-primary">Simpan</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  	$(function () {
    	$("#datatablePresensi,#datatable2").DataTable({
    		ordering: false
    	});
  	});
</script>
{% set count = 0 %}
{% for td in data.result %}
	<script>
		$(function(){
			$("input[name='dosen_{{ count }}_{{ td.id }}']").on('change', function(){
				$("#form_presensi_{{ count }}").val(this.value);
			});
		});
	</script>
	{% set count = count+1 %}
{% endfor %}
<script>
	$('#exampleModal').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget) // Button that triggered the modal
	  var username = button.data('username') 
	  var nama = button.data('nama') 
	  var jabatan = button.data('jabatan') 
	  var pangkat = button.data('pangkat') 
	  
	  var modal = $(this)
	  // modal.find('.modal-title').text('New message to ' + recipient)
	  modal.find('.modal-body input[name="username"]').val(username)
	  modal.find('.modal-body #user-username').text(username)
	  modal.find('.modal-body #user-nama').text(nama)
	  modal.find('.modal-body #user-jabatan').text(jabatan)
	  modal.find('.modal-body #user-pangkat').text(pangkat)

		$.ajax({
		  	type: "POST",
		  	url: "{{ path('presensi_dosen_edit_ajax') }}",
		  	data: {username: username}
        })
        .done(function(response) {
          	$('#presensi-user tbody').html(response)
        })
        .fail(function(data) {
          alert('Terjadi kesalahan pengambilan data...')
        });
	})
</script>
{% endblock %}