{% extends 'base.html.twig' %}

{% block title %} Pengajuan Judul Tugas Akhir {% endblock %}

{% block css %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}
<div class="box no-border">
	<div class="box-header"></div>
	<div class="box-body">
		<form action="{{ path("tugas_akhir_cari_mahasiswa") }}" method="post" class="form-horizontal" id="cariForm" {% if is_granted('ROLE_MAHASISWA') %}style="display:none"{% endif %}>
			<div class="form-group">
				<label class="col-sm-3 control-label required" for="form_nim">NIM</label>
				<div class="col-sm-6"><input name="nim" required="required" class="form-control" type="text" value="{{ app.request.get('nim') }}"></div>
				<div class="clear"></div>
			</div>
			<div class="form-group">
				<div class="col-sm-3"></div>
				<div class="col-sm-6"><button type="submit" class="btn btn-primary btn">Cari</button></div>
			</div>
		</form>
		<div id="cariFormMsg"></div>


		<div id="pengajuanFormMsg"></div>
	</div>
</div>
{% endblock %}

{% block js %}

{% if is_granted('ROLE_MAHASISWA') %}
<script>
	$(document).ready(function() {
		$("input[name='nim']").val("{{ app.user.username }}");
		setTimeout(function() {
			$("#cariForm").submit();
		}, 3000)
	});
</script>
{% endif %}	
<script>
  $(function() {
      var form = $('#cariForm');
      var formMessages = $('#cariFormMsg');
      $(form).submit(function(e) {
        e.preventDefault();
        var formData = $(form).serialize();
        $.ajax({
          type: 'POST',
          url: $(form).attr('action'),
          data: formData
        })
        .done(function(response) {
          $(formMessages).html(response);
        })
        .fail(function(data) {
          if (data.responseText !== '') {
            $(formMessages).html(data.responseText);
          } else {
            $(formMessages).html('Oops! An error occured and your message could not be sent.');
          }
        });
      });
    });

	$(document).ready(function(){
		var nim = $("input[name='nim']").val();
		if (nim !== '') { $("#cariForm").submit() }
	});
</script>
{% endblock %}