{% extends 'base.html.twig' %}

{% block title %} Tugas Akhir Mahasiswa {% endblock %}

{% block pageTitle %} Persetujuan Tugas Akhir Mahasiswa {% endblock %}

{% block content %}
<div class="box">
	<div class="box-body">
		<table id="datatable1" class="table table-hover table-striped table-responsive">
		<thead>
		<tr>
			<th>&nbsp;</th>
			<th>NPM</th>
			<th>Nama</th>
			<th>Angkatan</th>
			<th>Semester</th>
			<th>Status</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		{% for td in data.result %}
		<tr id="data-{{ td.id }}">
			<td align="center" width="20"></td>
			<td>{{ td.nim }}</td>
			<td>{{ td.nama }}</td>
			<td>{{ td.angkatan }}</td>
			<td>{{ td.semester }}</td>
			<td>{{ td.status }}</td>
			<td align="center">
				<div class="dropdown">
				  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    Aksi
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
				    <li><a href="{{ path('persetujuan_tugas_akhir', {'aksi': 'edit', 'id': td.id}) }}"><i class="fa fa-edit"></i> Lihat/Edit Detail</a></li>
				    <li><a href="#" data-id="{{ td.id }}" data-entity="TugasAkhir" class="hapus-btn"><i class="fa fa-trash"></i> Hapus</a></li>
				  </ul>
				</div>
			</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
	</div>
</div>
{% endblock %}