{% extends 'base.html.twig' %}

{% block title %} Dosen | Anggota Perpustakaan {% endblock %}

{% block pageTitle %} Dosen <small>Anggota Perpustakaan</small> {% endblock %}

{% block breadcrumbs %}
<li class="disabled">Anggota Perpustakaan</li>
<li class="active">Dosen</li>
{% endblock %}

{% block content %}
<div class="box box-default">
	<div class="box-body">
	  <table id="datatable1" class="table table-hover table-striped table-responsive">
	    <thead>
			<tr>
				<th>&nbsp;</th>
				<th>NIDN</th>
				<th>Nama</th>
				<th>L/P</th>
				<th>Kelahiran</th>
				<th>&nbsp;</th>
			</tr>
	    </thead>
	    <tbody>
			{% for td in data.result %}
				<tr id="data-{{ td.id }}">
					<td align="center" width="20"></td>
					<td>{{ td.username }}</td>
					<td>{{ td.nama }}</td>
					<td>{{ td.jk }}</td>
					<td>{{ (td.tpt_lahir is not null) ? td.tpt_lahir~',' : '' }} {{ (td.tgl_lahir is not null) ? td.tgl_lahir|tanggal : '' }}</td>
					<td align="center">
						<a href="{{ path('anggota_perpustakaan_cetak', {id: td.id}) }}" class="btn btn-primary btn-sm" target="_blank"><i class="fa fa-print"></i></a>
					</td>
				</tr>
			{% endfor %}
	    </tbody>
	  </table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}