{% extends 'base.html.twig' %}

{% block title %} Pengajuan Cuti Mahasiswa {% endblock %}

{% block css %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
<style type="text/css">
	{% if is_granted('ROLE_MAHASISWA') %}
	#cariForm{ display: none !important; }
	{% endif %}
</style>
{% endblock %}

{% block content %}
<div class="box">
	<div class="box-header"></div>
	<div class="box-body">

		{{ formCariMahasiswa(path('cuti_cari_mahasiswa'))|raw }}


		{% if app.request.get('semester') and semester is defined %}
	  	<table id="datatable1" class="table table-bordered table-striped">
	    <thead>
	    <tr>
	    	<th>&nbsp;</th>
				<th>NPM</th>
				<th>Nama</th>
				<th>Angkatan</th>
				<th>Batas Studi</th>
				<th>Kelas</th>
	    </tr>
	    </thead>
	    <tbody>
			{% for td in semester.listMahasiswa %}
			<tr id="data-{{ td.id }}">
				<td align="center">

				</td>
				<td>{{ td.nim }}</td>
				<td>{{ td.nama }}</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			{% endfor %}
	    </tbody>
	  	</table>
	  {% endif %}
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}

{% block js %}
<!-- DataTables -->
<script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
<script>
  	$(function () {
    	$("#datatable1").DataTable({
    		"order": [2, 'asc']
    	});
  	});
</script>
{% if is_granted('ROLE_MAHASISWA') %}
<script>
	$(document).ready(function() {
		$("input[name='nim']").val("{{ app.user.username }}");
		setTimeout(function() {
			$("#cariForm").submit();
		}, 3000)
	});
</script>
{% endif %}
<script>
  $(function() {
      var form = $('#cariForm');
      var formMessages = $('#cariFormMsg');
      $(form).submit(function(e) {
        e.preventDefault();
        var formData = $(form).serialize();
        $.ajax({
          type: 'POST',
          url: $(form).attr('action'),
          data: formData
        })
        .done(function(response) {
          	$(formMessages).html(response);
			$('.datepicker').datepicker({
					format: 'yyyy-mm-dd'
			});
        })
        .fail(function(data) {
          if (data.responseText !== '') {
            $(formMessages).html(data.responseText);
          } else {
            $(formMessages).html('Oops! An error occured and your message could not be sent.');
          }
        });
      });
    });
</script>
{% endblock %}