{% extends 'base.html.twig' %}

{% block title %} Set Pembimbing Akademik {% endblock %}

{% block content %}
<div class="box no-border">
	<div class="box-header">
		<h3 class="box-title">Tentukan Dosen Pembimbing Mahasiswa</h3>
		<div class="pull-right">
			<div class="form-inline">
				<label>Angkatan</label>
				<select id="angkatan-select" class="form-control" style="margin: 0 .5em">
					<option value="">-- Pilih tahun --</option>
					{% for i in "now"|date("Y")..1980 %}
						<option value="{{ i }}" {{ ( app.request.get('angkatan') == i ) ? 'selected' : '' }}>{{ i }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	<div class="box-body">
		<p>Untuk melakukan penentuan pembimbing akademik dari rentang NIM tertentu.</p>

		<form action="" method="post">

		<div class="row">
			<div class="col-sm-12 col-md-8">
				<table id="datatable1" class="table table-hover table-striped table-responsive">
					<thead>
					<tr>
						<th>&nbsp;</th>
						<th>NPM</th>
						<th>Nama Mahasiswa</th>
						<th>Dosen PA</th>
						<th>&nbsp;</th>
					</tr>
					</thead>
					<tbody>
						{% for td in data.result %}
							<tr>
								<td align="center" width="20"></td>
								<td>{{ td.nim }}</td>
								<td>{{ td.nama }}</td>
								<td>{{ td.pa }}</td>
								<td align="center">
									<div class="checkbox">
										<label>
											<input type="checkbox" name="ids[]" value="{{ td.nim }}">
										</label>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="form-group">
					<label>Pembimbing Akademik</label>
					<select class="form-control select2" name="dosen">
						<option value="">-- Pilih Dosen PA --</option>
						{% for dosen in dataDosen %}
							<option value="{{ dosen.id }}">{{ ( dosen.user is not null ) ? dosen.user.nama : dosen.id }}</option>
						{% endfor %}
					</select>
				</div>
				<button class="btn btn-primary" type="submit">Simpan</button>
			</div>
		</div>

		</form>

	</div>
</div>
{% endblock %}

{% block js %}
<script>
	$("#angkatan-select").on( 'change', function(){
		var url = "{{ url('penasehat_akademik_index') }}"+"?angkatan="+this.value;
		if ( this.value !== '' ) {
			window.location.replace(url);
		}
	} );
</script>
{% endblock %}