{% extends 'base.html.twig' %}

{% block title %} Kelas Mahasiswa {% endblock %}

{% block css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="box">
	<div class="box-body">
		<div class="form-inline">
			<div class="form-group">
				<label for="semester">Semester</label>
				<select class="form-control" id="semester-select" style="width:200px;margin:0 .5em">
					<option value="">-- Pilih --</option>
					{% for i in 1..8 %}
						<option value="{{ i }}" {{ (app.request.get('semester') == i) ? 'selected' : '' }}>Semester {{ i }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<label for="kelas">Kelas</label>
				<select class="form-control" id="kelas-select" style="width:150px;margin:0 .5em">
					<option value="">-- Pilih --</option>
					{% for kelas in app_service.getKelasList() %}
						<option value="{{ kelas.id }}" {{ (app.request.get('kelas') == kelas.id) ? 'selected' : '' }}>{{ kelas.nama }} {{ ( kelas.ruangan is not empty ) ? '('~kelas.ruangan~')' }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<hr>
		<table id="datatable1" data-paging="false" data-info="false" class="table table-hover table-striped table-responsive">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>NIM</th>
					<th>Nama</th>
					<th>Angkatan</th>
					{# <th>Batas Studi</th> #}
					<th>Kelas</th>
				</tr>
			</thead>
			<tbody>
			{% for td in data.result %}
				<tr id="data-{{ td.id }}">
					<td align="center" width="20"></td>
					<td>{{ td.nim }}</td>
					<td><a target="_blank" href="{{ path('mahasiswa_edit', {'id': td.id_user}) }}">{{ td.nama }}</a></td>
					<td>{{ td.angkatan }}</td>
					{# <td>{{ printBatasStudi(td.id) }}</td> #}
					<td><a href="#" class="kelas-mahasiswa" data-type="select" data-pk="{{ td.id }}">{{ td.kelas.nama }}</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script>
$(function(){
    $('.kelas-mahasiswa').editable({
        url: '{{ path("kelas_mahasiswa_update") }}',
        title: 'Pilih Kelas',
       	ajaxOptions: {
           dataType: 'json' //assuming json response
       	},
        source: [
			{% for kelas in dataKelas %}
              {value: {{ kelas.id }}, text: '{{ kelas.nama }} {{ ( kelas.ruangan is not empty ) ? '('~kelas.ruangan~')' }}'}{% if not loop.last %},{% endif %}
            {% endfor %}
           ]
    });
});
</script>
<script>
    $(function(){
      // bind change event to select
      $('#semester-select').on('change', function () {
					var semester = $(this).val();
          var url = "{{ url('kelas_mahasiswa_index') }}?kelas={{ app.request.get('kelas') }}&semester="+semester; // get selected value
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
      $('#kelas-select').on('change', function () {
					var kelas = $(this).val();
          var url = "{{ url('kelas_mahasiswa_index') }}?semester={{ app.request.get('semester') }}&kelas="+kelas; // get selected value
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
    });
	
function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}
// query string: ?foo=lorem&bar=&baz
// var foo = getParameterByName('foo'); // "lorem"
// var bar = getParameterByName('bar'); // "" (present with empty value)
// var baz = getParameterByName('baz'); // "" (present with no value)
// var qux = getParameterByName('qux'); // null (absent)
</script>
{% endblock %}