{% extends 'base.html.twig' %}

{% block title %} Mahasiswa Lulus Semester {% endblock %}

{% block content %}
<div class="box">
	<div class="box-header">
		<div class="form-inline">
			<div class="form-group">
				<label for="semester">Semester</label>
				<select class="form-control" id="semester-select" style="width:200px;margin:0 .5em">
					<option value="">-- Pilih --</option>
					{% for i in 1..8 %}
						<option value="{{ i }}" {{ (app.request.get('semester') == i) ? 'selected' : '' }}>Semester {{ i }}</option>
					{% endfor %}
				</select>
			</div>
			{% if app.request.get('semester') is not empty %}
			<div class="form-group">
				<label for="kelas">Kelas</label>
				<select class="form-control" id="kelas-select" style="width:150px;margin:0 .5em">
					<option value="">-- Pilih --</option>
					{% for kelas in app_service.getKelasList() %}
						<option value="{{ kelas.id }}" {{ (app.request.get('kelas') == kelas.id) ? 'selected' : '' }}>{{ kelas.nama }}</option>
					{% endfor %}
				</select>
			</div>
			{% endif %}
		</div>
	</div>
	{% if data.error is null %}
	<div class="box-body">
		<form action="{{ path('lulus_semester_proses') }}" method="post">
			<table class="table table-hover table-striped table-responsive">
				<thead>
				<tr>
					<th>&nbsp;</th>
					<th>NIM</th>
					<th>Nama</th>
					<th>Angkatan</th>
					<th>Semester</th>
				</tr>
				</thead>
				<tbody>
					{% for td in data.result %}
						<tr>
							<td align="center" width="20"></td>
							<td>{{ td.nim }}</td>
							<td>{{ td.nama }}</td>
							<td>{{ td.angkatan }}</td>
							<td>
								<input type="hidden" name="id[]" value="{{ td.id }}">
								<select class="form-control" name="semester[]">
									{% for i in 1..14 %}
										<option value="{{ i }}" {{ (td.semester == i ) ? 'selected' : ''  }}>{{ i }}</option>
									{% endfor %}
								</select>
							</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<th colspan="4"></th>
						<th class="text-center"><button type="submit" class="btn btn-success">PROSES</button></th>
					</tr>
				</tfoot>
			</table>
		</form>
	</div>
	{% endif %}
</div>
{% endblock %}

{% block js %}
<script>
	$("#semester-select, #kelas-select").on( 'change', function(){
		var semester = $("#semester-select").val();
		var kelas = $("#kelas-select").val();
		var url = "{{ url('lulus_semester_index') }}"+"?semester="+semester+"&kelas="+kelas;
		if ( semester !== '' || kelas !== '' ) {
			window.location.replace(url)
		}
	} );
</script>
{% endblock %}