{% extends 'base.html.twig' %}

{% block title %} Mahasiswa Lulus Akademik {% endblock %}

{% block content %}
<div class="box no-border">
	<div class="box-body">
		<form action="{{ path('lulus_akademik_proses') }}" method="post">
			<table class="table">
				<tr>
					<td>Semester</td>
					<td>
						<select id="semester" class="form-control" style="width:250px">
							<option value="">-- Pilih Semester --</option>
							{% for i in 1..8 %}
								<option value="{{ i }}" {{ (app.request.get('semester') == i) ? 'selected' : '' }}>Semester {{ i }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Kelas</td>
					<td>
						<select id="kelas" class="form-control" style="width:200px">
							<option value="">-- Pilih Kelas --</option>
							{% for kelas in app_service.getKelasList() %}
								<option value="{{ kelas.id }}" {{ (app.request.get('kelas') == kelas.id) ? 'selected' : '' }}>{{ kelas.nama }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
			</table>
			<div class="row">
				<div class="col-sm-7">
					<table class="table">
						<tr>
							<td>No. Ijazah</td>
							<td><input class="form-control" type="text" name="no_ijazah"></td>
						</tr>
						<tr>
							<td>No. SK Yudisium</td>
							<td><input class="form-control" type="text" name="no_sk_yudisium"></td>
						</tr>
					</table>
				</div>
				<div class="col-sm-5">
					<table class="table">
						<tr>
							<td>Tgl. Ijazah</td>
							<td><input class="form-control js-datepicker" type="text" name="tgl_ijazah" required=""></td>
						</tr>
						<tr>
							<td>Tgl. SK Yudisium</td>
							<td><input class="form-control js-datepicker" type="text" name="tgl_sk_yudisium" required=""></td>
						</tr>
					</table>
				</div>
			</div>
			{% if app.request.get('semester') is not empty and app.request.get('kelas') is not empty %}
				<table id="datatable1" class="table table-hover table-striped table-responsive">
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th>NIM</th>
							<th>Nama</th>
							<th>Jenis Kelamin</th>
							<th>Angkatan</th>
							{# <th>SKS</th> #}
							<th>IPK</th>
							<th>&nbsp;</th>
						</tr> 
					</thead>
					<tbody>
						{% set params = {'semester': app.request.get('semester'), 'kelas': app.request.get('kelas')} %}
						{% for td in app_service.getListMahasiswa(params) %}
							<tr>
								<td align="center" width="20"></td>
								<td>{{ td.user.username }}</td>
								<td>{{ td.user.nama }}</td>
								<td>{{ gender(td.user.jk) }}</td>
								<td>{{ td.angkatan }}</td>
								{# <td></td> #}
								<td>{{ printIpk(td) }}</td>
								<td align="center"><input type="checkbox" name="id[]" value="{{ td.id }}"></td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<th colspan="8" class="text-right"><button type="submit" class="btn btn-success">HAPUS</button></th>
						</tr>
					</tfoot>
				</table>
			{% endif %}
		</form>
	</div>
</div>
{% endblock %}

{% block js %}
<script>
	$("#semester, #kelas").on( 'change', function(){
		var semester = $("#semester").val();
		var kelas = $("#kelas").val();
		var url = "{{ url('lulus_akademik_index') }}"+"?semester="+semester+"&kelas="+kelas;
		if ( semester !== '' || kelas !== '' ) {
			window.location.replace(url)
		}
	} )
</script>
{% endblock %}