{% extends 'base.html.twig' %}

{% block title %} Edit Dosen {% endblock %}

{% block pageTitle %} {{ data.nama }} <small>Edit Dosen</small> {% endblock %}

{% block content %}
{% set target = (app.request.get('target') is not empty) ? app.request.get('target') : 'identitas' %}

{% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}

{{ form_start(form) }}

{{ form_errors(form) }}

<div class="box">
  <div class="box-body">

    <table class="table">
      <tbody>
        <tr>
          <th class="left_column" width="15%">Nama</th>
          <td colspan="3">: {{ data.nama }}</td>
        </tr>
        <tr>
          <th class="left_column">Jenis Kelamin</th>
          <td>: {{ gender(data.jk) }}</td>
          <th class="left_column">Agama</th>
          <td>:  {{ printTerm(data.agama) }}</td>
        </tr>
        <tr>
          <th class="left_column">Status Aktif</th>
          <td>:  Aktif</td>
          <th class="left_column" width="15%">NIDN</th>
          <td>:  {{ data.dataDosen.nidn }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="{{ (target == 'identitas') ? 'active' : '' }}"><a href="#identitas" data-toggle="tab">Biodata</a></li>
      <li class="{{ (target == 'alamat') ? 'active' : '' }}"><a href="#alamat" data-toggle="tab">Alamat</a></li>
      <li class="{{ (target == 'akademik') ? 'active' : '' }}"><a href="#akademik" data-toggle="tab">Akademik</a></li>
      <li class="{{ (target == 'jabatan') ? 'active' : '' }}"><a href="#jabatan" data-toggle="tab">Jabatan</a></li>
      <li class="{{ (target == 'pendidikan') ? 'active' : '' }}"><a href="#pendidikan" data-toggle="tab">Pendidikan</a></li>
      <li class="{{ (target == 'aktifitas') ? 'active' : '' }}"><a href="#aktifitas" data-toggle="tab">Aktifitas</a></li>
      <li class="{{ (target == 'penelitian') ? 'active' : '' }}"><a href="#penelitian" data-toggle="tab">Penelitian</a></li>
      <li class="{{ (target == 'pelatihan') ? 'active' : '' }}"><a href="#pelatihan" data-toggle="tab">Pelatihan</a></li>
      {# <li class="{{ (target == 'bimbingan') ? 'active' : '' }}"><a href="#bimbingan" data-toggle="tab">Bimbingan</a></li> #}
    </ul>
    <div class="tab-content">
      <div class="{{ (target == 'identitas') ? 'active' : '' }} tab-pane" id="identitas">

        {{ form_row(form.dataDosen.aktif) }}

        {{ form_row(form.dataDosen.nidn) }}

        {{ form_row(form.dataDosen.nip) }}

          {% for field in [ 
              'gelarDepan',
              'gelarBelakang',
              'tptLahir',
              'tglLahir',
              'jk',
              'agama',
              'ktp',
              'statusSipil',
              'telp',
              'hp',
              'email',
              'prodi'
          ] if (attribute(form, field) is defined) %}
              {{ form_row(attribute(form, field)) }}
          {% endfor %}

          {{ form_row(form.dataDosen.namaIbuKandung) }}
         
          <div class="col-sm-12 col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
          <div class="clearfix"></div>
      </div>
      <div class="{{ (target == 'alamat') ? 'active' : '' }} tab-pane" id="alamat">
          {% for field in [ 
              'alamat',
              'dusun',
              'desa',
              'wilayah',
              'pos'
          ] if (attribute(form, field) is defined) %}
              {{ form_row(attribute(form, field)) }}
          {% endfor %}
          <div class="col-sm-12 col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
          <div class="clearfix"></div>
      </div>
      <div class="{{ (target == 'akademik') ? 'active' : '' }} tab-pane" id="akademik">
          {% for field in [ 
              'tglMulaiKerja',
              'semesterMulaiKerja',
              'statusKerja',
              'pendidikanTertinggi',
              'institusiInduk',
              'status'
          ] if (attribute(form.dataDosen, field) is defined) %}
              {{ form_row(attribute(form.dataDosen, field)) }}
          {% endfor %}
          <div class="col-sm-12 col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
          <div class="clearfix"></div>
      </div>
      <div class="{{ (target == 'jabatan') ? 'active' : '' }} tab-pane" id="jabatan">
          {% for field in [ 
              'jabatanAkademik',
              'jabatanFungsional',
              'jabatanStruktural',
              'pangkatGolongan'
          ] if (attribute(form.dataDosen, field) is defined) %}
              {{ form_row(attribute(form.dataDosen, field)) }}
          {% endfor %}
          {{ form_rest(form) }}
          <div class="clearfix"></div>
      </div>
      <div class="{{ (target == 'pendidikan') ? 'active' : '' }} tab-pane" id="pendidikan">
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" data-dosen="{{ data.id }}" data-form="pendidikanForm">Tambah Pendidikan</button>
          <br>
          <table class="table">
            <thead>
              <tr>
                <th>No</th>
                <th>Tahun</th>
                <th>Tgl Ijazah</th>
                <th>Gelar</th>
                <th>Jenjang</th>
                <th>Bidang</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% if data.dataDosen.pendidikan is defined %}
              {% set no = 1 %}
              {% for pendidikan in data.dataDosen.pendidikan %}
                <tr>
                  <td>{{ no }}</td>
                  <td>{{ pendidikan.tahun }}</td>
                  <td>{{ pendidikan.tglIjazah|date('d-m-Y') }}</td>
                  <td>{{ pendidikan.gelar }}</td>
                  <td>{{ pendidikan.jenjang }}</td>
                  <td>{{ pendidikan.bidangKeilmuan }}</td>
                </tr>
                {% set no = no+1 %}
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
      </div>
      <div class="{{ (target == 'aktifitas') ? 'active' : '' }} tab-pane" id="aktifitas">
        {% if data.dataDosen.makulDiampu|length > 0 %}
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>No</th>
                <th>Periode</th>
                <th>Program Studi</th>
                <th>Mata Kuliah</th>
                <th>Kelas</th>
                <th>KRS</th>
              </tr>
            </thead>
            <tbody>
              {% set no = 1 %}
              {% for dp in data.dataDosen.makulDiampu %}
                {% if dp.makul is not null and dp.makul.status != 'trash' %}
                <tr>
                  <td>{{ no }}</td>
                  <td>
                    {% if dp.makul.ta is not null %}
                      {{ dp.makul.ta.nama }}
                    {% else %}
                      {% if dp.makul.kurikulum is not null and dp.makul.kurikulum.ta is not null %}
                        {{ dp.makul.kurikulum.ta.nama }}
                      {% endif %}
                    {% endif %}
                  </td>
                  <td>{{ ( dp.makul.kurikulum is not null and dp.makul.kurikulum.prodi is not null ) ? dp.makul.kurikulum.prodi.namaProdi : '' }}</td>
                  <td>{{ ( dp.makul.makul is not null ) ? dp.makul.makul.nama : '' }}</td>
                  <td>{{ ( dp.makul.kelas is not null ) ? dp.makul.kelas.nama : '' }}</td>
                  <td>{{ ( dp.makul.krs is not null and dp.makul.krs|length > 0 ) ? dp.makul.krs|length : '-' }}</td>
                </tr>
                {% set no = no+1 %}
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        {% else %}
        <div class="alert alert-error">
          Belum ada data
        </div>
        {% endif %}
      </div>
      <div class="{{ (target == 'penelitian') ? 'active' : '' }} tab-pane" id="penelitian">
          <div class="alert alert-error">
            Belum ada data
          </div>
      </div>
      <div class="{{ (target == 'pelatihan') ? 'active' : '' }} tab-pane" id="pelatihan">
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" data-dosen="{{ data.id }}" data-form="pelatihanForm">Tambah Pelatihan</button>
          <br>
          <table class="table">
            <thead>
              <tr>
                <th>No</th>
                <th>Tahun</th>
                <th>Tanggal</th>
                <th>Pelatihan</th>
                <th>Penyelenggara</th>
                <th>Lama</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% if data.dataDosen.pendidikan is defined %}
              {% set no = 1 %}
              {% for pendidikan in data.dataDosen.pendidikan %}
                <tr>
                  <td>{{ no }}</td>
                  <td>{{ pendidikan.tahun }}</td>
                  <td>{{ pendidikan.tglIjazah|date('d-m-Y') }}</td>
                  <td>{{ pendidikan.gelar }}</td>
                  <td>{{ pendidikan.jenjang }}</td>
                  <td>{{ pendidikan.bidangKeilmuan }}</td>
                </tr>
                {% set no = no+1 %}
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
      </div>
      <div class="{{ (target == 'bimbingan') ? 'active' : '' }} tab-pane" id="bimbingan">
          <div class="alert alert-error">
            Belum ada data
          </div>
      </div>
    </div>
    <!-- /.tab-content -->
</div>

{{ form_end(form) }}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">

          <div id="modalFormMsg"></div>

            {% form_theme formPendidikan "form/bootstrap_3_horizontal_layout_custom.html.twig" %}

            {{ form_start(formPendidikan, {attr: {id: 'pendidikanForm', style: 'display:none'}}) }}

            {{ form_errors(formPendidikan) }}

            {{ form_widget(formPendidikan) }}

            {{ form_end(formPendidikan) }}



            {% form_theme formPelatihan "form/bootstrap_3_horizontal_layout_custom.html.twig" %}

            {{ form_start(formPelatihan, {attr: {id: 'pelatihanForm', style: 'display:none'}}) }}

            {{ form_errors(formPelatihan) }}

            {{ form_widget(formPelatihan) }}

            {{ form_end(formPelatihan) }}

      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block js %}
<script>
$(function () {
  $("#form_wilayah").select2();  
});

$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget);
  var form = button.data('form');
  var dosen = button.data('dosen');
  var modal = $(this)

  modal.find('form').hide();
  modal.find('#'+form).show();
  // modal.find('.modal-title').text('New message to ' + recipient)
  // modal.find('.modal-body input').val(recipient)
})


  $(function() {
      var form = $('#pendidikanForm');
      var formMessages = $('#modalFormMsg');
      $(form).submit(function(e) {
        e.preventDefault();
        var formData = $(form).serialize();
        $.ajax({
          type: 'POST',
          url: $(form).attr('action'),
          data: formData
        })
        .done(function(response) {
          // Make sure that the formMessages div has the 'success' class.
          $(formMessages).removeClass('error');
          $(formMessages).addClass('success');
          // Set the message text.
          $(formMessages).html(response);
          // Clear the form.
          // $('#shop_name').val('');
          // $('#subdomain').val('');
        })
        .fail(function(data) {
          // Make sure that the formMessages div has the 'error' class.
          $(formMessages).removeClass('success');
          $(formMessages).addClass('error');
          // Set the message text.
          if (data.responseText !== '') {
            $(formMessages).html(data.responseText);
          } else {
            $(formMessages).html('Oops! An error occured and your message could not be sent.');
          }
        });
      });
    });
</script>

{% endblock %}