{% extends 'base.html.twig' %}

{% block title %} Data Mahasiswa {% endblock %}

{% block content %}
<div class="box">
	<div class="box-header">
		<a href="{{ path('mahasiswa_tambah') }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a>
		<a href="{{ path('mahasiswa_bukuinduk_cetak', {angkatan: app.request.get('angkatan')}) }}" target="_blank" class="btn btn-primary btn-sm"><i class="fa fa-print"></i> Cetak Buku Induk</a>
		<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-download"></i> Export ke Excel</a>
		<div class="pull-right">
			<div class="form-inline">
{# 				<label>Status</label>
				<select id="status_mahasiswa" class="form-control select2" style="margin: 0 .5em" multiple="">
					{% for status in dataStatusMahasiswa %}
						<option value="{{ status.kode }}" {{ ( app.request.get(' status') ==  status.kode ) ? 'selected' : '' }}>{{  status.nama }}</option>
					{% endfor %}
				</select> #}
				<label>Angkatan</label>
				<select id="angkatan" class="form-control select2" style="margin: 0 .5em; width: 200px" multiple="">
					{# <option value="" selected disabled>-- Pilih tahun --</option> #}
					{% for i in "now"|date("Y")..1980 %}
						<option value="{{ i }}" {{ ( app.request.get('angkatan') == i ) ? 'selected' : '' }}>{{ i }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	<div class="box-body">
		<hr>
	  	<table id="datatable2" data-paging="false" data-info="false" class="table table-hover table-striped table-responsive">
		    <thead>
			    <tr>
					<th>&nbsp;</th>
					<th>Nama</th>
					<th>NIM</th>
					<th>L/P</th>
					<th>Agama</th>
					<th>Tanggal Lahir</th>
					<th>Status</th>
					<th>Angkatan</th>
					<th>&nbsp;</th>
			    </tr>
		    </thead>
	  	</table>
	</div>
	<!-- /.box-body -->
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <table class="table">
        	<tr>
        		<td>NIM</td>
        		<td id="mhs-id"></td>
        	</tr>
        	<tr>
        		<td>Nama Mahasiswa</td>
        		<td id="mhs-nama"></td>
        	</tr>
        	<tr>
        		<td>Program Studi</td>
        		<td id="mhs-prodi"></td>
        	</tr>
        </table>

        <div id="mhs-pendidikan" style="display:none">
        	<table class="table">
        		<thead>
        			<tr>
        				<th>Tahun</th>
        				<th>Tgl Ijazah</th>
        				<th>Gelar</th>
        				<th>Jenjang</th>
        				<th>Bidang Keilmuan</th>
        			</tr>
        		</thead>
        		<tbody></tbody>
        	</table>
        </div>

        <div id="mhs-berkas" style="display:none">
        	<table class="table">
        		<thead>
        			<tr>
        				<th>Jenis Berkas</th>
        				<th>File</th>
        			</tr>
        		</thead>
        		<tbody></tbody>
        	</table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
    var table = $('#datatable2').DataTable( {
    	"serverSide": true,
		"ajax": {
		    "url": "/master/mahasiswa?json=true&dt=true",
		    "data": function ( d ) {
		        d.angkatan = $('#angkatan').val();
		        // d.status = $('#status_mahasiswa').val();
		        d.length = 10;
		    }
		}
	    // "columnDefs": [ {
	    //     "searchable": false,
	    //     "orderable": false,
	    //     "targets": [0, -1]
	    // }],
	    // "order": [[ 1, 'asc' ]],
    } );
    $('#angkatan, #status_mahasiswa').on('change', function(){
    	table.ajax.reload();
    });
} );
</script>
<script>
  	// $("#angkatan").on('change', function(){
  	// 	if (this.value !== '') {
  	// 		var url = "{{ path('mahasiswa_index') }}"+"?angkatan="+this.value;
  	// 		window.location.replace(url);
  	// 	}
  	// });
</script>
<script>
	$('#myModal').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget) // Button that triggered the modal
	  var aksi = button.data('aksi') // Extract info from data-* attributes
	  var id = button.data('id')
	  var nim = button.data('nim')
	  var nama = button.data('nama')
	  var prodi = button.data('prodi')
	  $("#mhs-id").text(nim)
	  $("#mhs-nama").text(nama)
	  $("#mhs-prodi").text(prodi)
  	  var modal = $(this)
  	  modal.find('.modal-title').text( aksi.toUpperCase() + ' MAHASISWA' )
	  $.ajax({
	  	type: "POST",
	  	url: "{{ path('ambil_data_mahasiswa') }}",
	  	data: {id: id, jenis:aksi},
	  	success: function(response) {
		  	console.log(response)
		  	if ( aksi == 'pendidikan' ) {
		  		var html = '';
		  		for( var i=0; i < response.length; i++) {
		  			html += '<tr>';
		  			html += '<td>'+response[i].tahun+'</td>';
		  			html += '<td>'+response[i].tglIjazah+'</td>';
		  			html += '<td>'+response[i].gelarAkademik+'</td>';
		  			html += '<td>'+response[i].jenjang+'</td>';
		  			html += '<td>'+response[i].bidangKeilmuan+'</td>';
		  			html += '</tr>';
		  		}
		  		$("#mhs-pendidikan table tbody").html(html)
		  		$("#mhs-pendidikan").show()
		  		$("#mhs-berkas").hide()
		  	} else if ( aksi == 'berkas' ) {
		  		var html = '';
		  		for( var i=0; i < response.length; i++) {
		  			html += '<tr>';
		  			html += '<td>'+response[i].nama+'</td>';
		  			html += '<td><a target="_blank" href="'+response[i].url+'uploads/'+response[i].file+'">'+response[i].file+'</a></td>';
		  			html += '</tr>';
		  		}
		  		$("#mhs-berkas table tbody").html(html)
		  		$("#mhs-berkas").show()
		  		$("#mhs-pendidikan").hide()
		  	}
	  	}
	  });
	  // modal.find('.modal-body input').val(recipient)
	});
</script>
{% endblock %}