{% extends 'base.html.twig' %}

{% block title %} Tambah/Edit Pegawai {% endblock %}

{% block content %}
{% form_theme form "form/bootstrap_3_layout.html.twig" %}

	{{ form_start(form) }}
<div class="box">
	<div class="box-header"></div>
	<div class="box-body">

	  	{{ form_errors(form) }}

	  	<div class="row">
	  		<div class="col-sm-12 col-md-6">
			  	{{ form_row(form.dataPegawai.kode) }}


				{% for field in [ 
						'nama',
						'gelarBelakang',
						'hakAkses',
						'tptLahir',
						'tglLahir',
						'jk',
						'agama',
						'hp',
						'email'
				] if (attribute(form, field) is defined) %}
						{{ form_row(attribute(form, field)) }}
				{% endfor %}

	  		</div>
	  		<div class="col-sm-12 col-md-6">

	  			{{ form_row(form.dataPegawai.nip) }}

	  			{{ form_row(form.ktp) }}

	  			{{ form_row(form.gelarDepan) }}

	  			{{ form_widget(form.dataPegawai) }}

	  			{{ form_row(form.alamat) }}

	  		</div>
	  	</div>

	  	<div class="row">
	  		<div class="col-sm-12 col-md-6">
	  			<hr>
	  			<h4>Detail Login</h4>
				{% for field in [ 
						'username',
						'password',
				] if (attribute(form, field) is defined) %}
						{{ form_row(attribute(form, field)) }}
				{% endfor %}

	  		</div>
	  		<div class="col-sm-12 col-md-6">

	  		</div>
	  	</div>

	</div>
	<div class="box-header">{{ form_row(form.submit) }}</div>
</div>

{{ form_end(form) }}

{% endblock %}