{% extends 'base.html.twig' %}

{% block title %} Edit Data Bidang {% endblock %}

{% block pageTitle %} Edit Bidang <small>Pegawai</small> {% endblock %}

{% block breadcrumbs %} 
<li><a href="{{ path('pegawai_index') }}">Data Staf/Pegawai</a></li>
<li class="active">Edit Bidang</li>
{% endblock %}

{% block css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="box">
	<div class="box-header"></div>
	<!-- /.box-header -->
	<div class="box-body">
		<div class="row">
			<div class="col-sm-12">
				{% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}

				{{ form_start(form) }}

				{{ form_errors(form) }}

				{{ form_widget(form) }}

				{{ form_end(form) }}
			</div>
		</div>
	</div>
	<div class="box-footer"></div>
</div>
{% endblock %}
