{% extends 'base.html.twig' %}

{% block title %} Tambah/Edit Kunjungan {% endblock %}

{% block content %}
<div class="box no-border">
	<div class="box-header"></div>
	<!-- /.box-header -->
	<div class="box-body">

		{% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}

		{{ form_start(form) }}

		{{ form_errors(form) }}
    
		{{ form_widget(form) }}

		{{ form_end(form) }}

	</div>
</div>
{% endblock %}