{% extends 'base.html.twig' %}

{% block title %} Form Peminjaman {% endblock %}

{% block content %}
<div class="box">
	<div class="box-body">

		<form id="formPeminjaman" method="post" action="">

			<div class="row">

				<div class="col-sm-5">
					<div class="form-group">
						<label for="barcode_anggota">ID Anggota</label>
						<select name="barcode_anggota" id="barcode_anggota" class="barcode_anggota form-control"></select>
					</div>
					<br>


				</div>

				<div class="col-sm-offset-1 col-sm-6">
					<div class="form-group">
						<label for="barcode_pustaka">ID Pustaka</label>
						<select name="barcode_pustaka" id="barcode_pustaka" class="barcode_pustaka form-control"></select>
					</div>
					<br>
				</div>

			</div>

			<div class="row">
				<div class="col-md-4">
					<div id="formPeminjamanMsg" style="display:none">
						<table class="table">
							<tr>
								<td>No. Identitas</td>
								<td id="td-username"></td>
							</tr>
							<tr>
								<td>Nama</td>
								<td id="td-nama"></td>
							</tr>
							<tr>
								<td>Jenis Kelamin</td>
								<td id="td-jk"></td>
							</tr>
							<tr>
								<td>Jenis Peminjam</td>
								<td id="td-jenis">Umum</td>
							</tr>
							<tr>
								<td>Alamat</td>
								<td id="td-alamat"></td>
							</tr>
							<tr>
								<td>No. Telp</td>
								<td id="td-telp"></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-md-8">
					<table id="peminjamanTbl" class="table">
						<thead>
							<tr>
								<th>No</th>
								<th>Kode Pustaka</th>
								<th>Judul</th>
								<th>Klasifikasi</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</form>

	</div>
</div>
{% endblock %}

{% block js %}
<script>
	$(function() {
	  	$("#barcode_anggota").on('change', function(){
	        $.ajax({
	          type: 'POST',
	          url: "{{ path('ambil_data_user') }}",
	          data: {id: this.value},
	          success: function(response) {
	          	// console.log
	          	$("#td-username").text(response.username)
	          	$("#td-nama").text(response.nama)
	          	$("#td-jk").text(response.jk)
	          	$("#td-alamat").text(response.alamat)
	          	$("#td-telp").text(response.telp)
	          	$("#formPeminjamanMsg").show()
	          }
	        });
	        $.ajax({
	          type: 'POST',
	          url: "{{ path('_data_peminjaman_anggota') }}",
	          data: {id: this.value, aksi: 'get'}
	        })
	        .done(function(response) {
	          $("#peminjamanTbl tbody").html(response);
	        });
	  	});	
	}); 
	$(function(){
	  	$("#barcode_pustaka").on('change', function(){
	  		var id_anggota = $("#barcode_anggota").val();
	        $.ajax({
	          type: 'POST',
	          url: "{{ path('_data_peminjaman_anggota') }}",
	          data: {id: id_anggota, id_pustaka: this.value, aksi: 'insert'}
	        })
	        .done(function(response) {
	          $("#peminjamanTbl tbody").html(response);
	        });
	  	});	
	});
</script>
<script>
 $(function () {
	$('#barcode_anggota').select2({
		ajax: {
			url: "{{ url('ajax_remote_data_user', {'_type': 'query'}) }}",
			dataType: 'json',
			delay: 250,
			data: function (params) {
				return {
					term: params.term,
					q: params.term, // search term
					page: params.page
				};
			},
			processResults: function (data, params) {
				// parse the results into the format expected by Select2
				// since we are using custom formatting functions we do not need to
				// alter the remote JSON data, except to indicate that infinite
				// scrolling can be used
				params.page = params.page || 1;

				return {
					results: data.items,
					pagination: {
						more: (params.page * 30) < data.total_count
					}
				};
			},
			cache: true
		},
		placeholder: 'ID atau nama anggota',
		escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
		minimumInputLength: 1,
		templateResult: formatRepo,
		templateSelection: formatRepoSelection
	});
});
 $(function () {
	$('#barcode_pustaka').select2({
		ajax: {
			url: "{{ url('ajax_remote_data_pustaka', {'_type': 'query'}) }}",
			dataType: 'json',
			delay: 250,
			data: function (params) {
				return {
					term: params.term,
					q: params.term, // search term
					page: params.page
				};
			},
			processResults: function (data, params) {
				// parse the results into the format expected by Select2
				// since we are using custom formatting functions we do not need to
				// alter the remote JSON data, except to indicate that infinite
				// scrolling can be used
				params.page = params.page || 1;

				return {
					results: data.items,
					pagination: {
						more: (params.page * 30) < data.total_count
					}
				};
			},
			cache: true
		},
		placeholder: 'Kode atau judul pustaka',
		escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
		minimumInputLength: 1,
		templateResult: formatRepo,
		templateSelection: formatRepoSelection
	});
});
</script>
<script>
function formatRepo (repo) {
  if (repo.loading) {
    return repo.text;
  }

  var markup = "<div class='select2-result-repository clearfix'>" +
    "<div class='select2-result-repository__meta'>" +
      "<div class='select2-result-repository__title'>" + repo.full_name + "</div>";

  markup += "<div class='select2-result-repository__statistics'>" +
    "<div class='select2-result-repository__forks'>" + repo.custom + "</div>" +
  "</div>" +
  "</div></div>";

  return markup;
}

function formatRepoSelection (repo) {
  return repo.full_name || repo.text;
}
</script>

{% endblock %}