{% set option = app_service.getGlobalOption() %}
{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head profile="http://gmpg.org/xfn/11">

		<title>{% block title %} Cetak {% endblock %}</title>
		<meta name="description" content="{{ block('title') }}">
		<meta content="text/html;" charset="utf-8" http-equiv="Content-Type">
		<meta name="revisit-after" content="2 days">
		<meta name="robots" content=all,index,follow>
		<meta name="MSSmartTagsPreventParsing" content="TRUE">
		<meta content="en-us" http-equiv="Content-Language">
		<meta name="Distribution" content="Global">
		<meta name="Rating" content="General">
		<link rel="Shortcut Icon" type="image/x-icon" href="images/favicon.ico">
		<link rel="stylesheet" href="{{ asset('dist/css/font-awesome.min.css') }}">
		<link href="{{ asset('dist/css/custom/tables.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('dist/css/custom/forms.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('dist/css/custom/cetak.css') }}" rel="stylesheet" type="text/css" />
		<link rel="image_src" href="images/web-logo.gif">

		{% block css %}{% endblock %}

	</head>
	<body {# onload="window.print();" #}>

		{% block content %}{% endblock %}

	</body>
</html>
{% endspaceless %}