<ul class="sidebar-menu">
	<li><a href="{{ path('dashboard') }}">
		<i class="fa fa-dashboard"></i><span>Dashboard</span></a>
	</li>
	{% if app_service.isModuleActivated('master_data') %}
	<li>
		<a href="#"><i class="fa fa-sitemap"></i><span>Master Data</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
		<ul class="treeview-menu">
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> Master Pusat
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					<li><a href="{{ path('master_badan_hukum') }}">Badan Hukum</a></li>
					<li><a href="{{ path('perguruan_tinggi_index') }}">Perguruan Tinggi</a></li>
					<li><a href="{{ path('prodi_index') }}">Program Studi</a></li>
					<li><a href="{{ path('pimpinan_index') }}">Pimpinan</a></li>
					{# <li><a href="{{ path('teknisi_index') }}">Teknisi / Lab</a></li>
					<li><a href="{{ path('inventaris_index') }}">Inventaris</a></li> #}
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> Akademik
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					<li><a href="{{ path('kurikulum_index') }}">Kurikulum</a></li>
					<li><a href="{{ path('makul_index') }}">Mata Kuliah</a></li>
					<li><a href="{{ path('dosen_pengampu') }}">Dosen Pengampu</a></li>
					<li><a href="{{ path('bobot_nilai') }}">Bobot Nilai</a></li>
					<li><a href="{{ path('predikat') }}">Predikat</a></li>
					{# <li><a href="{{ path('fasilitas_index') }}">Fasilitas Penunjang</a></li> #}
					<li><a href="{{ path('batas_sks') }}">Batas SKS</a></li>
					<li><a href="{{ path('kelas_index') }}">Kelas</a></li>
					<li><a href="{{ path('jam_kuliah_index') }}">Jam Kuliah</a></li>
					<li><a href="{{ path('set_kurikulum') }}">Set Kurikulum</a></li>
					<li><a href="{{ path('semester_index') }}">Data Semester</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> Civitas
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					<li><a href="{{ path('dosen_index') }}">Data Dosen</a></li>
					<li><a href="{{ path('pegawai_index') }}">Data Pegawai</a></li>
					<li><a href="{{ path('mahasiswa_index') }}">Data Mahasiswa</a></li>
					<li><a href="{{ path('reset_password_index') }}">Reset Password</a></li>
				</ul>
			</li>
		</ul>
	</li>
	{% endif %}
	{% if app_service.isModuleActivated('pmb_online') %}
	<li>
		<a href="#"><i class="fa fa-users"></i><span>PMB Online</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
		<ul class="treeview-menu">
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> Konfigurasi
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					<li><a href="{{ path('periode_pmb_index') }}">Periode PMB</a></li>
					<li><a href="{{ path('master_jalur_pmb') }}">Master Jalur PMB</a></li>
					<li><a href="{{ path('master_berkas_upload') }}">Master Berkas Upload</a></li>
					<li><a href="{{ path('asal_sekolah_index', {type: 'sekolah'}) }}">Asal Sekolah</a></li>
					<li><a href="{{ path('asal_sekolah_index', {type: 'perguruan_tinggi'}) }}">Asal Perguruan Tinggi</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> MABA
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					<li><a href="{{ path('calon_maba_index') }}">Calon MABA</a></li>
					<li><a href="{{ path('nilai_usm_index') }}">Nilai USM</a></li>
					<li><a href="{{ path('her_maba_index') }}">HER MABA</a></li>
				</ul>
			</li>
		</ul>
	</li>
	{% endif %}
	{% if app_service.isModuleActivated('akademika') %}
	<li>
		<a href="#"><i class="fa fa-tags"></i><span>Akademika</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
		<ul class="treeview-menu">
			<li><a href="{{ path('tahun_akademik_index') }}"><i class="fa fa-circle-o"></i> Tahun Akademik</a></li>
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> Status Mahasiswa
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					<li><a href="{{ path('kelas_mahasiswa_index') }}">Kelas Mahasiswa</a></li>
					<li><a href="{{ path('penasehat_akademik_index') }}">Penasehat Akademik</a></li>
					<li><a href="{{ path('pengajuan_cuti_index') }}">Pengajuan Cuti</a></li>
					<li><a href="{{ path('mahasiswa_cuti_index') }}">Mahasiswa Cuti</a></li>
					<li><a href="{{ path('lulus_semester_index') }}">Lulus Semester</a></li>
					<li><a href="{{ path('lulus_akademik_index') }}">Lulus Akademik</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> Perkuliahan
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					<li><a href="{{ path('aspek_nilai') }}">Aspek Nilai Mata Kuliah</a></li>
					<li><a href="{{ path('jadwal_kuliah_index') }}">Jadwal Kuliah</a></li>
					<li><a href="{{ path('makul_diampu_index') }}">Mata Kuliah Diampu</a></li>
					{# <li><a href="{{ path('materi_makul_index') }}">Materi Mata Kuliah</a></li> #}
					<li><a href="{{ path('presensi_index', {role: 'dosen'}) }}">Presensi Dosen</a></li>
					<li><a href="{{ path('presensi_index', {role: 'mahasiswa'}) }}">Presensi Mahasiswa</a></li>
					<li><a href="{{ path('mahasiswa_pa_index') }}">Mahasiswa Penasehat Akademik</a></li>
					<li><a href="#">Mahasiswa Bimbingan</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> KRS
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					{# <li><a href="{{ path('input_krs') }}">Input KRS Serentak</a></li> #}
					<li><a href="{{ path('ambil_krs') }}">Ambil KRS Mahasiswa</a></li>
					<li><a href="#">Ubah KRS</a></li>
					<li><a href="#">Mata Kuliah Diakui</a></li>
					<li><a href="#">Konfirmasi KRS</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> Tugas Akhir
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					<li><a href="{{ path('tugas_akhir_index') }}">Pengajuan Judul</a></li>
					<li><a href="{{ path('persetujuan_tugas_akhir') }}">Persetujuan Tugas Akhir</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> Penilaian
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					<li><a href="{{ path('kartu_ujian_index') }}">Kartu Ujian</a></li>
					<li><a href="{{ path('nilai_semester_index') }}">Nilai Semester</a></li>
					<li><a href="{{ path('nilai_tugas_akhir_index') }}">Nilai Tugas Akhir</a></li>
					<li><a href="{{ path('rekap_nilai_index') }}">Rekap Nilai</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> Hasil Studi
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					<li><a href="{{ path('hs_skk') }}">SKK Mahasiswa</a></li>
					<li><a href="{{ path('hs_khs_index') }}">KHS Mahasiswa</a></li>
					<li><a href="{{ path('hs_transkrip_index') }}">Transkrip Nilai</a></li>
					<li><a href="{{ path('hs_ijazah_index') }}">Ijazah</a></li>
					<li><a href="{{ path('hs_rangking_index') }}">Daftar Rangking</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> Wisuda
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					<li><a href="{{ path('wisuda_periode_index') }}">Periode Wisuda</a></li>
					<li><a href="{{ path('wisuda_pengajuan_index') }}">Pengajuan Wisuda</a></li>
					<li><a href="{{ path('wisudawan') }}">Daftar Wisudawan</a></li>
					<li><a href="{{ path('alumni_index') }}">Daftar Alumni</a></li>
				</ul>
			</li>
		</ul>
	</li>
	{% endif %}
	{% if app_service.isModuleActivated('keuangan') %}
	<li>
		<a href="#"><i class="fa fa-shopping-cart"></i><span>Keuangan</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
		<ul class="treeview-menu">
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> Keuangan Mahasiswa
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					<li><a href="{{ path('batas_angsuran_index') }}">Batas Angsuran</a></li>
					<li><a href="{{ path('biaya_kuliah_index') }}">Master Biaya Kuliah</a></li>
					<li><a href="{{ path('dispensasi_pembayaran') }}">Dispensasi Pembayaran</a></li>
					<li><a href="{{ path('rekomendasi_pembayaran') }}">Rekomendasi Pembayaran</a></li>
					<li><a href="{{ path('transaksi_pembayaran') }}">Transaksi Pembayaran</a></li>
					<li><a href="{{ path('konfirmasi_pembayaran') }}">Konfirmasi Pembayaran</a></li>
					<li><a href="{{ path('laporan_pembayaran') }}">Laporan Pembayaran</a></li>
				</ul>
			</li>
		</ul>
	</li>
	{% endif %}
	{% if app_service.isModuleActivated('grafik_view') %}
	<li>
		<a href="#"><i class="fa fa-bar-chart"></i><span>Grafik View</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
		<ul class="treeview-menu">
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> Presensi
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					<li><a href="{{ path('grafik_presensi_index', {role: 'dosen'}) }}">Dosen</a></li>
					<li><a href="{{ path('grafik_presensi_index', {role: 'mahasiswa'}) }}">Mahasiswa</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> PMB
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					<li><a href="#">Program Studi</a></li>
					<li><a href="#">Angkatan</a></li>
					<li><a href="#">Agama</a></li>
					<li><a href="#">Jenis Kelamin</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> Mahasiswa
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					<li><a href="#">Program Studi</a></li>
					<li><a href="#">Angkatan</a></li>
					<li><a href="#">Agama</a></li>
					<li><a href="#">Jenis Kelamin</a></li>
					<li><a href="#">Asal Daerah</a></li>
				</ul>
			</li>
			<li><a href="#"><i class="fa fa-circle-o"></i> IP Semester</a></li>
		</ul>
	</li>
	{% endif %}
	{% if app_service.isModuleActivated('forlap_dikti') %}
	<li>
		<a href="#"><i class="fa fa-users"></i><span>Forlap Dikti</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
		<ul class="treeview-menu" style="display: none;">
			<li><a href="{{ path('feeder_index') }}"><i class="fa fa-circle-o"></i> Feeder Dikti</a></li>
			<li><a href="{{ path('feeder_import_index') }}"><i class="fa fa-circle-o"></i> Feeder ke Siakad</a></li>
			{# <li><a href="{{ path('sikronisasi_index') }}"><i class="fa fa-circle-o"></i> Feeder Dikti</a></li> #}
		</ul>
	</li>
	{% endif %}
	{% if app_service.isModuleActivated('perpustakaan') %}
	<li>
		<a href="#"><i class="fa fa-university"></i><span>Perpustakaan</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
		<ul class="treeview-menu" style="display: none;">
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> Setting
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					<li><a href="{{ path('perpustakaan_index') }}">Identitas Perpustakaan</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> Anggota
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu" style="display: none;">
					<li><a href="{{ path('anggota_perpustakaan_index', {role: 'dosen'}) }}">Dosen</a></li>
					<li><a href="{{ path('anggota_perpustakaan_index', {role: 'pegawai'}) }}">Pegawai</a></li>
					<li><a href="{{ path('anggota_perpustakaan_index', {role: 'mahasiswa'}) }}">Mahasiswa</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> Pustaka
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					<li><a href="{{ path('rak_lokasi_index') }}">Rak</a></li>
					<li><a href="{{ path('rak_klasifikasi_index') }}">Klasifikasi</a></li>
					<li><a href="{{ path('format_pustaka_index') }}">Format Pustaka</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> Sirkulasi
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					<li><a href="#">Dosen</a></li>
					<li><a href="#">Pegawai</a></li>
					<li><a href="#">Mahasiswa</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> Laporan
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					<li><a href="#">Dosen</a></li>
					<li><a href="#">Pegawai</a></li>
					<li><a href="#">Mahasiswa</a></li>
				</ul>
			</li>
		</ul>
	</li>
	{% endif %}
	{% if app_service.isModuleActivated('inventory') %}
	<li>
		<a href="#">
			<i class="fa fa-tags"></i><span>Inventory</span>
			<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
		</a>
		<ul class="treeview-menu">
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> Data Utama
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					<li><a href="{{ path('term_index', {type:'departemen'}) }}">Departemen</a></li>
					<li><a href="{{ path('term_index', {type:'lokasi'}) }}">Gedung/Lokasi</a></li>
					<li><a href="{{ path('term_index', {type:'supplier'}) }}">Supplier</a></li>
					<li><a href="{{ path('term_index', {type:'kategori'}) }}">Kategori</a></li>
					<li><a href="{{ path('term_index', {type:'barang'}) }}">Barang</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> Transaksi
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					<li><a href="#">Pengadaan</a></li>
					<li><a href="#">Penempatan</a></li>
					<li><a href="#">Mutasi</a></li>
					<li><a href="#">Peminjaman</a></li>
					<li><a href="#">Pengembalian</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-circle-o"></i> Laporan
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
				<ul class="treeview-menu">
					<li><a href="#">Barang</a></li>
					<li><a href="#">Pengadaan</a></li>
					<li><a href="#">Penempatan</a></li>
					<li><a href="#">Mutasi</a></li>
					<li><a href="#">Peminjaman</a></li>
					<li><a href="#">Penghapusan Barang</a></li>
					<li><a href="#">Pengembalian</a></li>
				</ul>
			</li>
		</ul>
	</li>
	{% endif %}
	{% if app_service.isModuleActivated('konfigurasi') %}
	<li>
		<a href="#"><i class="fa fa-wrench"></i><span>Konfigurasi</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
		<ul class="treeview-menu">
			<li><a href="{{ path('pengaturan_index') }}"><i class="fa fa-circle-o"></i> Tampilan</a></li>
			{# {% if is_granted('ROLE_SUPER_ADMIN') %} #}
			<li><a href="{{ path('modul_index') }}"><i class="fa fa-circle-o"></i> Modul/Hak Akses</a></li>
			<li><a href="{{ path('admin_user') }}"><i class="fa fa-circle-o"></i> Data Admin/User</a></li>
			{# {% endif %} #}
			<li><a href="{{ path('backup_restore_index') }}"><i class="fa fa-circle-o"></i> Backup &amp; Restore</a></li>
		</ul>
	</li>
	{% endif %}
</ul>

