{% extends 'base.html.twig' %}

{% block content %}

<div class="box no-border">
	<div class="box-header"></div>
	<div class="box-body">
		<div class="row">
			<div class="col-sm-2 col-md-3">
				<img class="img-responsive" src="{{ asset('dist/img/user-group-6.png') }}">
			</div>
			<div class="col-sm-10 col-md-9">
				<h2>Selamat datang {{ app.user.nama }}.</h2>
				<p>
					Selamat datang di Portal Akademik {{ option.pt.nama }}. Sistem informasi akademik digunakan untuk memudahkan mahasiswa, dosen dan staf akademik dalam melaksanakan aktifitas akademik karena didukung oleh teknologi sistem terpadu. Semoga dengan kehadiran sistem ini menjadikan {{ option.pt.nama }} akuntabel dalam pengelolaan akademik mahasiswa.
				</p>
			</div>
		</div>
	</div>
	<div class="box-footer"></div>
</div>

{% if is_granted('ROLE_ADMIN') %}
<div class="row">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        {% set dataMahasiswa = app_service.getListMahasiswa() %}
        <h3>{{ dataMahasiswa|length }}</h3>

        <p>MAHASISWA</p>
      </div>
      <div class="icon">
        <i class="fa fa-users"></i>
      </div>
      <a href="{{ path('mahasiswa_index') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <h3>{{ data.prodi|length }}{# <sup style="font-size: 20px">%</sup> #}</h3>

        <p>PROGRAM STUDI</p>
      </div>
      <div class="icon">
        <i class="fa fa-tags"></i>
      </div>
      <a href="{{ path('prodi_index') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3>{{ data.dosen|length }}</h3>

        <p>DOSEN</p>
      </div>
      <div class="icon">
        <i class="fa fa-cogs"></i>
      </div>
      <a href="{{ path('dosen_index') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-red">
      <div class="inner">
        <h3>{{ data.admin|length }}</h3>

        <p>ADMIN</p>
      </div>
      <div class="icon">
        <i class="fa fa-user-secret"></i>
      </div>
      <a href="{{ path('admin_user') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
</div>
{% endif %}
{% endblock %} 