{% extends 'base.html.twig' %}

{% block title %} Pengaturan Tampilan {% endblock %}

{% block content %}

<div class="box">
	<div class="box-header"></div>
	<div class="box-body">
		
		{% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}
		
		{{ form_start(form) }}

		{{ form_errors(form) }}

		{{ form_widget(form.value) }}

		{{ form_end(form) }}
		
	</div>
	<div class="box-footer"></div>
</div>

{% endblock %}