{% extends 'base.html.twig' %}

{% block title %} Akun Saya {% endblock %}

{% block content %}

{% form_theme form "form/bootstrap_3_horizontal_layout.html.twig" %}
{{ form_start(form) }}

{{ form_errors(form) }}

  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          {{ avatar(app.user, {"class":"profile-user-img img-responsive img-circle"}, true, 160)|raw }}

          <h3 class="profile-username text-center">{{ (app.user.nama is not empty) ? app.user.nama : app.user.username }}</h3>

          <p class="text-muted text-center">{{ app.user.roles[0]|replace({"ROLE": "", "_": " "})|title }}</p>

          <ul class="list-group list-group-unbordered hide">
            <li class="list-group-item">
              <b>Followers</b> <a class="pull-right">1,322</a>
            </li>
            <li class="list-group-item">
              <b>Following</b> <a class="pull-right">543</a>
            </li>
            <li class="list-group-item">
              <b>Friends</b> <a class="pull-right">13,287</a>
            </li>
          </ul>

          <a href="#" class="btn btn-primary btn-block hide"><b>Follow</b></a>
        </div>
        <!-- /.box-body -->
      </div>

    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="{{ (app.request.get('target') != '') ? '' : 'active'  }}"><a href="#profile" data-toggle="tab">Profil</a></li>
          <li class="{{ (app.request.get('target') == 'avatar') ? 'active' : ''  }}"><a href="#avatar" data-toggle="tab">Avatar</a></li>
        </ul>
        <div class="tab-content">
          <div class="{{ (app.request.get('target') != '') ? '' : 'active'  }} tab-pane" id="profile">
            
            {{ form_row(form.username) }}

            {{ form_row(form.nama) }}

            {{ form_row(form.email) }}

            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Simpan</button>
              </div>
            </div>

          </div>
          <!-- /.tab-pane -->
          <div class="{{ (app.request.get('target') == 'avatar') ? 'active' : ''  }} tab-pane" id="avatar">
            
            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <label>Ganti Avatar (max. {{ option.avatar_max_size/1000 }} MB)</label>
                <br>
                <span><em>Extensi gambar yang dibolehkan: .jpg, .png, .jpeg</em></span>
              </div>
            </div>

            {{ form_widget(form.imageFile) }} 

            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <button id="upload-btn" type="submit" class="btn btn-primary disabled" disabled>Upload</button>
              </div>
            </div>

          </div>
        </div>
        <!-- /.tab-content -->
      </div>

    </div>
  </div>

{{ form_end(form) }}

{% endblock %}

{% block js %}
{% if is_granted('ROLE_ADMIN') %}
  <script>
    $(document).ready(function(){
        $("#form_nama").prop('readonly', false);
    });
  </script>
{% endif %}
<script type="text/javascript">
$('#form_imageFile_file').bind('change', function() {

  var max = parseInt("{{ option.avatar_max_size }}")*1000;


  var file = this.files[0];
  var fileType = file["type"];
  var filesize = file["size"];

  var allowed_ext = ["image/gif", "image/jpeg", "image/png"];

  // console.log(allowed_ext.indexOf(this.files[0].type));

  if ( $.inArray( fileType, allowed_ext ) < 0 ) {
    
    $("#upload-btn").prop('disabled', true).addClass('disabled');
    $.alert('Type file tidak dibolehkan.');
    return;
  
  } else {

    $("#upload-btn").prop('disabled', false).removeClass('disabled');

  }

  if ( filesize > max ) {
    $("#upload-btn").prop('disabled', true).addClass('disabled');
    $.alert('Ukuran gambar melebihi batas maksimal.');
  }

});
</script>
{% endblock %}