{% extends 'base.html.twig' %}

{% block title %} Bobot Nilai {% endblock %}

{% block content %}
<div class="box box-default">
	<div class="box-header">
		<h3 class="box-title"><a href="{{ path('bobot_nilai', {'aksi': 'edit'}) }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a></h3>
    <div class="box-tools pull-right"><button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button></div>
	</div>
	<!-- /.box-header -->
	<div class="box-body">
	  <table id="datatable1" class="table table-hover table-striped table-responsive">
	    <thead>
				<tr>
					<th>&nbsp;</th>
					<th>Nilai Huruf</th>
					<th>Bobot</th>
					<th>Min</th>
					<th>Max</th>
					<th>&nbsp;</th>
				</tr>
	    </thead>
	    <tbody>
			{% for td in data %}
			<tr id="data-{{ td.id }}">
				<td align="center" width="20"></td>
				<td>{{ td.predikat }}</td>
				<td>{{ td.bobot }}</td>
				<td>{{ td.min }}</td>
				<td>{{ td.max }}</td>
				<td align="center" width="100">
					<a href="{{ path('bobot_nilai', {'aksi': 'edit', 'id': td.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
					<a href="#" class="btn btn-sm btn-danger hapus-btn" data-id="{{ td.id }}" data-entity="BobotNilai"><i class="fa fa-trash"></i></a>
				</td>
			</tr>
			{% endfor %}
	    </tbody>
	  </table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}