{% extends 'base.html.twig' %}

{% block title %} Bobot Nilai {% endblock %}

{% block content %}
<div class="box box-default">
	<div class="box-header"></div>
	<!-- /.box-header -->
	<div class="box-body">
	  <table class="table table-hover table-striped table-responsive">
	    <thead>
				<tr>
					<th>&nbsp;</th>
					<th>Nilai Huruf</th>
					<th>Bobot</th>
					<th>Min</th>
					<th>Max</th>
					<th>&nbsp;</th>
				</tr>
	    </thead>
	    <tbody>
			{% for td in data %}
			<tr id="data-{{ td.id }}">
				<td align="center" width="20"></td>
				<td>{{ td.predikat }}</td>
				<td>{{ td.bobot }}</td>
				<td>{{ td.min }}</td>
				<td>{{ td.max }}</td>
				<td align="center" width="100">
					<a href="{{ path('bobot_nilai', {'aksi': 'edit', 'id': td.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
				</td>
			</tr>
			{% endfor %}
	    </tbody>
	  </table>
	</div>
	<div class="box-footer"></div>
</div>
{% endblock %}