{% extends 'base.html.twig' %}

{% block title %} Data Jam Kuliah {% endblock %}

{% block content %}
<div class="box">
	<div class="box-header">
		<a href="{{ path('jam_kuliah_edit', {'aksi': 'tambah'}) }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Tambah</a>
   	<div class="box-tools pull-right"><button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button></div>
	</div>
	<!-- /.box-header -->
	<div class="box-body">
	  <table id="datatable1" class="table table-hover table-striped table-responsive">
	    <thead>
				<tr>
					<th>&nbsp;</th>
					<th>Jam</th>
					<th>Dari</th>
					<th>Sampai</th>
					<th>&nbsp;</th>
				</tr>
	    </thead>
	    <tbody>
				{% for td in data %}
				<tr id="data-{{ td.id }}">
					<td align="center" width="20"></td>
					<td>{{ td.jam }}</td>
					<td>{{ td.dari|date("H:i") }}</td>
					<td>{{ td.sampai|date("H:i") }}</td>
					<td align="center" width="100">
						<a href="{{ path('jam_kuliah_edit', {'id': td.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
						<a href="#" class="btn btn-sm btn-danger hapus-btn" data-entity="JamKuliah" data-id="{{ td.id }}"><i class="fa fa-trash"></i></a>
					</td>
				</tr>
				{% endfor %}
	    </tbody>
	  </table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}