{% extends 'base.html.twig' %}

{% block title %} Data Kelas {% endblock %}

{% block content %}
<div class="box">
	<div class="box-header">
		<a href="{{ path('kelas_edit', {'aksi': 'tambah'}) }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a>
        <div class="box-tools pull-right"><button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button></div>
	</div>
	<!-- /.box-header -->
	<div class="box-body">
	  <table id="datatable1" class="table table-hover table-striped table-responsive">
	    <thead>
				<tr>
					<th>&nbsp;</th>
					<th>Nama Kelas</th>
					<th>Ruang</th>
					<th>Kapasitas</th>
					<th>&nbsp;</th>
				</tr>
	    </thead>
	    <tbody>
			{% for td in data %}
			<tr id="data-{{ td.id }}">
				<td align="center" width="20"></td>
				<td>{{ td.nama }}</td>
				<td>{{ td.ruangan }}</td>
				<td>{{ td.kapasitas }}</td>
				<td align="center">
					<a href="{{ path('kelas_edit', {'id': td.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
					<a href="#" class="btn btn-sm btn-danger hapus-btn" data-id="{{ td.id }}" data-entity="Kelas"><i class="fa fa-trash"></i></a>
				</td>
			</tr>
			{% endfor %}
	    </tbody>
	  </table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}