{% extends 'base.html.twig' %}

{% block title %} Tambah/Edit Mata Kuliah {% endblock %}

{% block content %}

{% form_theme form "form/bootstrap_3_horizontal_layout.html.twig" %}

{{ form_start(form) }}

{{ form_errors(form) }}

<div class="box">
	<div class="box-header"></div>
	<div class="box-body">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				{{ form_row(form.kurikulum) }}
				{{ form_row(form.makul) }}
			</div>
			<div class="col-sm-12 col-md-6">
				{{ form_row(form.semester) }}
				{{ form_row(form.kelas) }}
			</div>
		</div>
	</div>
	<div class="box-footer">
		<div class="pull-right">
			{{ form_widget(form.submit) }}
			<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Tambah Dosen Pengajar</button>
		</div>
	</div>
</div>
{{ form_end(form) }}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <form method="post" action="{{ path('simpan_dp_action') }}" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tambah Dosen Pengajar</h4>
      </div>
      <div class="modal-body">
      	<div class="form-horizontal">
	        <div class="form-group">
	        	<label class="col-sm-3 control-label">Mata Kuliah</label>
	        	<div class="col-sm-8">
	        		<input type="text" class="form-control" value="{{ makul.makul.nama }}" disabled="">
	        	</div>
	        </div>
	        <div class="form-group">
	        	<label class="col-sm-3 control-label">Nama Dosen</label>
	        	<div class="col-sm-8">
		        	<select class="form-control" name="id_dosen">
		        		<option value="">-- Pilih --</option>
		        	{% for dosen in dataDosen %}
		        		{% if dosen.user is not null %}
		        		<option value="{{ dosen.id }}">{{ dosen.user.nama }}</option>
		        		{% endif %}
		        	{% endfor %}
		        	</select>
	        	</div>
	        </div>
      	</div>
      </div>
      <div class="modal-footer">
      	<input type="hidden" name="id_kr_mk" value="{{ makul.id }}">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
        <button type="submit" class="btn btn-primary" name="simpan_dp">Simpan</button>
      </div>
    </form>
  </div>
</div>

<div class="nav-tabs-custom">
<ul class="nav nav-tabs">
  <li class="{{ (app.request.get('target') != '') ? '' : 'active'  }}"><a href="#dosen_pengajar" data-toggle="tab">Dosen Pengajar</a></li>
  <li class="{{ (app.request.get('target') == 'krs_mahasiswa') ? 'active' : ''  }}"><a href="#krs_mahasiswa" data-toggle="tab">Mahasiswa KRS / Peserta Kelas</a></li>
</ul>
<div class="tab-content">
  <div class="{{ (app.request.get('target') != '') ? '' : 'active'  }} tab-pane" id="dosen_pengajar">
    
		<table class="table">
			<thead>
				<tr>
					<th>No</th>
					<th>NIDN</th>
					<th>Nama Dosen</th>
				</tr>
			</thead>
			<tbody>
				{% set no = 1 %}
				{% for dp in makul.dosenPengampu %}
					{% if dp.dosen is not null %}
					<tr id="data-{{ dp.id }}">
						<td width="20">{{ no }}</td>
						<td>{{ dp.dosen.user.username }}</td>
						<td>{{ dp.dosen.user.nama }}</td>
						<td width="50">
							<a href="#" class="btn btn-sm btn-danger hapus-btn" data-id="{{ dp.id }}" data-entity="DosenPengampu"><i class="fa fa-trash"></i></a>
						</td>
					</tr>
					{% set no = no+1 %}
					{% endif %}
				{% endfor %}
			</tbody>
		</table>

  </div>
  <!-- /.tab-pane -->
  <div class="{{ (app.request.get('target') == 'krs_mahasiswa') ? 'active' : ''  }} tab-pane" id="krs_mahasiswa">
    
		<table class="table">
			<thead>
				<tr>
					<th>No</th>
					<th>NIM</th>
					<th>Nama Mahasiswa</th>
					<th>L/P</th>
					<th>Angkatan</th>
				</tr>
			</thead>
			<tbody>
				{% set no = 1 %}
				{% for krs in makul.krs %}
					{% if krs.mahasiswa.user is not null %}
					<tr>
						<td width="20">{{ no }}</td>
						<td>{{ krs.mahasiswa.user.username }}</td>
						<td>{{ krs.mahasiswa.user.nama }}</td>
						<td>{{ krs.mahasiswa.user.jk }}</td>
						<td>{{ krs.mahasiswa.angkatan }}</td>
					</tr>
					{% set no = no+1 %}
					{% endif %}
				{% endfor %}
			</tbody>
		</table>

  </div>
</div>
<!-- /.tab-content -->
</div>

{% endblock %}