{% extends 'base.html.twig' %}

{% block title %} Tambah/Edit Mata Kuliah {% endblock %}

{% block content %}
<div class="box no-border">
	<div class="box-header"></div>
	<!-- /.box-header -->
	<div class="box-body">

		{% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}

		{{ form_start(form) }}

		{{ form_errors(form) }}
		
		{{ form_widget(form) }}

		{{ form_end(form) }}

	</div>
	<div class="box-footer"></div>
</div>
{% endblock %}

{% block js %}
<script>
	// function setDosenPengampu() {
	// 	var el = $(".data-dosen");
	// 	var dp = el.size();
	// 	var result = '';
	// 	var values = document.getElementsByClassName('data-dosen');
	// 	for(var i = 0; i < values.length; i++) {
	// 		var str = values[i].value;
	// 		if( i != 0 ) {
	// 			result += "|";
	// 		}
	// 		if( values[i].value != '' ) {
	// 			result += values[i].value;
	// 		}
	// 	}
	// 	$("#form_dosenPengampu").val(result);
	// }
</script>
{% endblock %}