{% extends 'base.html.twig' %}

{% block title %} Data Predikat {% endblock %}

{% block content %}
<div class="box">
	<div class="box-header">
		<a href="{{ path('predikat', {'aksi': 'edit'}) }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a>
		<div class="box-tools pull-right"><button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button></div>
	</div>
	<!-- /.box-header -->
	<div class="box-body">
	  <table id="datatable1" data-order="[3]" class="table table-hover table-striped table-responsive">
	    <thead>
				<tr>
					<th>&nbsp;</th>
					<th>Predikat</th>
					<th>Bobot Min</th>
					<th>Bobot Max</th>
					<th>&nbsp;</th>
				</tr>
	    </thead>
	    <tbody>
			{% for td in data %}
			<tr id="data-{{ td.id }}">
				<td align="center" width="20"></td>
				<td>{{ td.predikat }}</td>
				<td>{{ td.bobotMin }}</td>
				<td>{{ td.bobotMax }}</td>
				<td align="center" width="100">
					<a href="{{ path('predikat', {'aksi': 'edit', 'id': td.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
					<a href="#" class="btn btn-sm btn-danger hapus-btn" data-entity="Predikat" data-id="{{ td.id }}"><i class="fa fa-trash"></i></a>
				</td>
			</tr>
			{% endfor %}
	    </tbody>
	  </table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}