{% extends "base_print.html.twig" %}

{% block content %}
<center>
<center><br/><br/>
	<div class="mainContentCell">
		<div class="content">
			<table  border="0" cellspacing="1" cellpadding="1" class="datatable " >
				<thead>
				  	<tr>
						<td width="149">NIP</td>
						<td width="436"><b>{{ data.user.username }}</b></td>
						<td width="37" valign="top" rowspan="4">
							{{ avatar(data.user, {"width":"80", "height":"80"}, true, 80)|raw }}</td>
				  	</tr>
				  	<tr>
						<td>NAMA</td>
						<td><b > {{ data.user.nama }}</b></td>
				  	</tr>
				  	<tr>
						<td>JABATAN</td>
						<td><b >{{ data.jabatanAkademik }}</b ></td>
				  	</tr>
				  	<tr>
						<td>PANGKAT/GOLONGAN</td>
						<td><b >{{ (data.pangkatGolongan is not null) ? data.pangkatGolongan.nama : '' }}</b ></td>
				  	</tr>
				</thead>
			</table><br/>		
			<table width="700" border="0" align="center" cellpadding="1" cellspacing="0" class="rapor">
				<thead>
					<tr>
				   		<th width="5%" rowspan="2" align="center">No</th>
				   		<th rowspan="2" align="center">Hari</th>
				   		<th rowspan="2" align="center">Tanggal</th>
				   		<th rowspan="2" align="center">Jam</th>
				   		<th colspan="4" align="center">Presensi</th>
				 	</tr>
				 	<tr>		   
				   		<th align="center" width="60">Alpa</th>
				   		<th align="center" width="60">Ijin</th>
				   		<th align="center" width="60">Sakit</th>
				   		<th align="center" width="60">Hadir</th>
				  	</tr>
				</thead>
				<tbody>
				 	{% set no = 1 %}
				 	{% set alpa = 0 %}
			 		{% set ijin = 0 %}
		 			{% set sakit = 0 %}
		 			{% set hadir = 0 %}
				 	{% for td in presensi %}
			 			<tr >
			 				<td align="center">{{ no }}</td> 
							<td align="center">	{{ app_service.hari(td.tanggal) }}</td>
							<td align="center">{{ td.tanggal|date("d-m-Y") }}</td>
							<td align="center">	{{ (td.jam is not null) ? '['~td.jam.jam~']' : '' }} {{ (td.jam is not null and td.jam.dari is not null) ? td.jam.dari|date('H:i') : '' }} {{ (td.jam is not null and td.jam.sampai is not null) ? '- '~td.jam.sampai|date('H:i') : '' }}</td>
							<td align="center">
								{% if td.ket == 'alpa' %}
									<i class="fa fa-check"></i>
									{% set alpa = alpa+1 %}
								{% endif %}
							</td>
							<td align="center">
								{% if td.ket == 'ijin' %}
									<i class="fa fa-check"></i>
									{% set ijin = ijin+1 %}
								{% endif %}
							</td>
							<td align="center">
								{% if td.ket == 'sakit' %}
									<i class="fa fa-check"></i>
									{% set sakit = sakit+1 %}
								{% endif %}
							</td>
							<td align="center">
								{% if td.ket == 'hadir' %}
									<i class="fa fa-check"></i>
									{% set hadir = hadir+1 %}
								{% endif %}
							</td>
						</tr> 
					{% set no = no+1 %}
				 	{% endfor %}
				</tbody>
				<tfoot> 	
					<tr>
						<th  colspan="4" align=center>Total Presensi</th>
						<th  align="center">{{ alpa }}</th>
						<th  align="center">{{ ijin }}</th>
						<th  align="center">{{ sakit }}</th>
						<th  align="center">{{ hadir }}</th>
					</tr>	
				</tfoot>			
			</table>
		</div>
	</div>
</center>
{% endblock %}