{% extends "base_print.html.twig" %}

{% block content %}
<center>
	<table width="100"  border="0" cellspacing="1" cellpadding="1" ><tr><td align="left">
		<table width="700" border="1" align="center" cellspacing="1" cellpadding="1" class=no-style>
			<tr>
				<td width="16%" rowspan="4"><img src="{{ option.logo }}" width="80" height="80"></td>
				<td valign=top align="center"><h1>{{ option.pt.nama }}</h1></td>
			</tr>
			<tr>
				<td width="84%" align="center"></td>
			</tr>
			<tr>
				<td align="center">
					Telp. {{ option.pt.telp }} 
					Email: {{ option.pt.email }}
					Website: {{ option.pt.website }}  
				</td>
			</tr>
			<tr>
				<td align="center">
					<h2>DAFTAR DOSEN</h2>
					<u><h2>{{ (app.user.prodi is not null) ? app.user.prodi.namaProdi : '' }}</h2></u>
				</td>
			</tr>
		</table>
		<table border="1" width="100%">
			<thead>
				<tr>
					<th width="5%" align="center">No</th>
					<th align="center">NIDN</th>
					<th align="center">Nama</th>
					<th align="center">Pendidikan</th>
					<th align="center">Tempat, Tanggal Lahir</th>
					<th align="center">Jenis Kelamin</th>
					<th align="center">Agama</th>
					<th align="center">Asal Daerah</th>
					<th align="center">Tanggal Masuk</th>
				</tr>
		 </thead>
		 <tbody>
		 	{% set no = 1 %}
		 	{% for td in data %}
			 	{% if td.user is not null and td.user.prodi is not null and td.user.prodi == app.user.prodi %}
				<tr>
					<td  align="center">{{ no }}</td> 
					<td  align="center" class="str">{{ ( td.user is not null ) ? td.user.username : td.id }}</a></td>
					<td  align="left">{{ ( td.user is not null ) ? td.user.nama : td.id }}</td>
					<td  align="left">S-2</td>
					<td  align="left">{{ (td.user.tptLahir is not empty) ? td.user.tptLahir~',' }} {{ td.user.tglLahir|date('d-m-Y') }}</td>
					<td  align="left">{{ gender(td.user.jk) }}</td>
					<td  align="left">{{ printTerm(td.user.agama) }}</td>
					<td  align="left">Sidoarjo</td>
					<td  align="left">{{ (td.user.tptLahir is not empty) ? td.user.tptLahir~',' }} {{ td.user.tglLahir|date('d-m-Y') }}</td>
				</tr>
				{% set no = no+1 %}
				{% endif %}
			{% endfor %}
			</tbody>
		</table>

	</table>
</center>
{% endblock %}