{% extends "base_print.html.twig" %}

{% block content %}
<center>

  <table width="700"  border="0" cellspacing="1" cellpadding="1" >
    <tr>
      <td align="left">
        <table width="700" border="1" align=center cellspacing="1" cellpadding="1" class=no-style>
          <tr>
            <td width="16%" rowspan="4"><img src="{{ option.logo }}" width="80" height="80"></td>
            <td valign=top align=center><h1>{{ option.pt.nama }}</h1></td>
          </tr>
          <tr>
            <td width="84%" align=center></td>
          </tr>
          <tr>
            <td align=center>
              Telp. {{ option.pt.telp }}  
              Email   {{ option.pt.email }}
              Website  {{ option.pt.website }}
            </td>
          </tr>
          <tr>
            <td align="center">
              <h2>DAFTAR MAHASISWA BARU</h2>
              <u><h2>{{ (app.user.prodi is not null) ? app.user.prodi.namaProdi|upper : '' }}</h2></u>
            </td>
          </tr>
        </table>
        <table border="1" class="rapor">
          <thead>
            <tr>
             <th width="5%" align="center">No</th>
             <th align="center">ID MABA</th>
             <th align="center">Nama Lengkap</th>
             <th align="center">Tempat, Tanggal Lahir</th>
             <th align="center">Agama</th>
             <th align="center">Jenis Kelamin</th>
             <th align="center">Asal Daerah</th>
             <th align="center">Nama Orang Tua</th>
             <th align="center">Alamat Orang Tua</th>
             <th align="center">Pekerjaan Orang Tua</th>
             <th align="center">Status Maba</th>
             <th align="center">Asal Sekolah</th> 
             <th align="center">NIS Asal</th>
             <th align="center">Nilai UN</th>
             <th align="center">Asal PT</th>
             <th align="center">Asal Prodi</th>
             <th align="center">NIM Asal</th>
             <th align="center">SKS Diakui</th>
            </tr>
           </thead>
           <tbody>
            {# <tr> 
              <th  colspan="18" align=center>Belum ada Data</th>
            </tr> #}
            {% set no = 1 %}
            {% for td in data %}
              {% if td.user is not null and td.maba == 1 %}
              <tr>
                <td align="center">{{ no }}</td>
                <td align="center">{{ "%03d"|format(td.data.pmb.noUrut) }}</td>
                <td align="center">{{ td.user.nama }}</td>
                <td align="center">{{ td.user.tptLahir }}</td>
                <td align="center">{{ printTerm(td.user.agama) }}</td>
                <td align="center">{{ gender(td.user.jk) }}</td>
                <td align="center"></td>
                <td align="center">
                  - {{ printOrangtua(td, 'ayah', 'nama') }}<br>
                  - {{ printOrangtua(td, 'ibu', 'nama') }}
                </td>
                <td align="center">
                  - {{ printOrangtua(td, 'ayah', 'alamat') }}<br>
                  - {{ printOrangtua(td, 'ibu', 'alamat') }}
                </td>
                <td align="center">
                  - {{ printOrangtua(td, 'ayah', 'pekerjaan') }}<br>
                  - {{ printOrangtua(td, 'ibu', 'pekerjaan') }}
                </td>
                <td align="center">{{ printTerm(td.status) }}</td>
                <td align="center">{{ td.namaSekolah }}</td>
                <td align="center">{{ td.nis }}</td>
                <td align="center">{{ td.nilaiUn }}</td>
                <td align="center">{{ td.asalNamaPt }}</td>
                <td align="center">{{ td.asalProdi }}</td>
                <td align="center">{{ td.asalNim }}</td>
                <td align="center">{{ td.asalSksDiakui }}</td>
              </tr>
              {% set no = no+1 %}
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</center>

{% endblock %}