{% extends "base_print.html.twig" %}

{% block content %}
<center>
	<table width="700"  border="0" cellspacing="1" cellpadding="1" >
		<tr>
			<td align=left>
				<table width="700" border="1" align=center cellspacing="1" cellpadding="1" class=no-style>
					<tr> 
						<td><h1>{{ option.pt.nama }}</h1></td>
					</tr>
					<tr>
						<td align=center><br/><h2>BUKU INDUK MAHASISWA</h2> <br/> 
					</tr>
					<tr>
						<td>
							<table border="1" align=center cellspacing="1" cellpadding="1" class=no-style>
								<tr>
									<td >PROGRAM STUDI</td>
									<td width=1>:</td>
									<td>{{ (app.user.prodi is not empty) ? app.user.prodi.namaProdi : '' }}</td>
								</tr>
								<tr>
									<td >ANGKATAN</td><td width=1>:</td>
									<td>{{ app.request.get('angkatan') }}</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<br/>
				<table width="100%" border="0" align="center" cellpadding="1" cellspacing="0" >
					<thead>
						<tr>
						   <th style="border-bottom:2px solid #000000" width="5%" align="left" valign=top>No</th>
						   <th style="border-bottom:2px solid #000000" align="left" valign=top>NIM</th>
					       <th style="border-bottom:2px solid #000000" align="left" valign=top>
							   NAMA MAHASISWA<BR/>
							   ALAMAT<BR/>
							   RT/RW TELP KODE POS<BR/>
							   ALAMAT PERMANEN<BR/>
							   RT/RW TELP KODE POS<BR/>
							   KOTA
						   </th>
					       <th style="border-bottom:2px solid #000000" align="center" valign=top>PHOTO<BR/>3 X 4</th>
					    </tr>
					</thead>
					<tbody>
						{% set no = 1 %}
						{% for td in data %}
							{% if td.user is not null %}
							<tr>
								<td style="border-bottom:1px solid #000000" valign="top">{{ no }}</td> 
								<td style="border-bottom:1px solid #000000" valign="top">{{ td.user.username }}</td>
								<td style="border-bottom:1px solid #000000" align="left" valign="top">
									{{ td.user.nama }}<br/>
									{{ td.user.alamat }}<br/>
									{{ td.user.rt }} / {{ td.user.rw }}<br/>
									{{ td.user.telp }}<br/>
									{{ td.user.hp }}<br/>
									{{ td.user.pos }}<br/>
								</td>
								<td style="border-bottom:1px solid #000000" align=center valign=midle>
									<table class="rapor" height="100" width="100">
										<tr>
											<th>Foto</th>
										</tr>
									</table>
								</td>
							</tr>
							{% set no = no+1 %}
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</td>
		</tr>
	</table>
</center>
{% endblock %}