{% extends 'base_print.html.twig' %}

{% block content %}

<center>

	<table width="700"  border="0" cellspacing="1" cellpadding="1" >
		<tr>
			<td align="left">
				<table width="100%" border="0" align="center" cellpadding="20" cellspacing="20" >
					<tr  >
						<td style="border-bottom:1px solid #000000" valign=top width="50%">
							<table width="100%" border="0" align="center" cellpadding="5" cellspacing="5" >
								<tr>
									<th>{{ option.pt.nama }}</th>
								</tr>
								<tr>
									<td>
										<small>
											-
											-
										</small>
									</td>
								</tr>
								<tr><th>KARTU TANDA MAHASISWA</th></tr>
							</table>
							<hr/>
							<table width="100%" border="0" align="center" cellpadding="10" cellspacing="10" >
								<tr>
									<td width="100" align=right>Nama</td><td width=1>:</td><td>{{ mhs.nama }}</td>
								</tr>
								<tr>
									<td align="right"> Tempat.Tgl. Lahir</td>
									<td width=1>:</td>
									<td>{{ mhs.tptLahir }}{{ (mhs.tglLahir is not null) ? ', '~mhs.tglLahir|date('d F Y') }}</td>
								</tr>
								<tr>
									<td align=right>N P M</td>
									<td width=1>:</td>
									<td>{{ mhs.username }}</td>
								</tr>
								<tr>
									<td align=right>Program Studi</td>
									<td width=1>:</td>
									<td>{{ (mhs.prodi is not null) ? mhs.prodi.namaProdi }}</td>
								</tr>
								<tr>
									<td align="right" valign="top" height="50">Alamat</td>
									<td width="1" valign="top">:</td>
									<td valign="top">{{ mhs.alamat }}</td>
								</tr>
								<tr>
									<td rowspan="2" style="border:1px solid #000000">
										<img src="" width="60" height="80">
									</td>
									<td width="1"></td>
									<td>Masa Berlaku</td>
								</tr>
								<tr>
									<td width="1">&nbsp;</td>
									<th style="border:1px solid #000000">{{ mhs.tglMasuk|date('F Y') }} s/d {{ mhs.tglMasuk|date('F') }} {{ printBatasStudi(mhs.dataMahasiswa) }}</th>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

</center>

{% endblock %}