{% extends "base_print.html.twig" %}

{% block content %}
<center>

  <table width="700"  border="0" cellspacing="1" cellpadding="1">
    <tr>
      <td align=left>
        <table width="700" border="1" align=center cellspacing="1" cellpadding="1" class=no-style>
          <tr>
            <td width="16%" rowspan="5"><img src="images/logo-cetak.png" width="120" height="120"></td>
            <td valign=top align=center><h1>{{ option.pt.nama }}</h1></td>
          </tr>
          <tr>
            <td width="84%" align=center></td>
          </tr>
          <tr>
            <td align=center>
              Telp. {{ option.pt.telp }} / Fax. {{ option.pt.fax }}
            </td>
          </tr>
          <tr>
            <td align=center>
              Email {{ option.pt.email }}
              Website {{ option.pt.website }}
            </td>
          </tr>
          <tr>
            <td align=center>
              <h2>.............................................................................................................................................</h2>
            </td>
          </tr>
        </table>  
        <center>
          <h2><br/>KARTU HASIL STUDI <BR/>(KHS)</h2><br/><br/>
        </center>
        <table width="700" border="1" cellspacing="1" cellpadding="1" class=no-style>
          <tr>
            <td width="100">Nama Mahasiswa</td>
            <td width="5">:</td>
            <td width="230"><strong>{{ data.user.nama }}</strong></td>
            <td width="30">&nbsp;</td>
            <td>Semester</td>
            <td>:</td>
            <td><strong>{{ data.semester }}</strong></td>

           
          </tr>
          <tr>
            <td>NPM</td>
            <td>:</td>
            <td><strong>{{ data.user.username }}</strong></td>
            <td>&nbsp;</td>
            <td>IP Semester lalu</td>
            <td>:</td>
            <td><strong>{{ data.semester }}</strong></td>
          </tr>
          <tr>
            <td>Jurusan</td>
            <td>:</td>
            <td><strong>{{ (data.user.prodi is not null) ? data.user.prodi.jenjang~' '~data.user.prodi.namaProdi : '' }}</strong></td>
            <td>&nbsp;</td>
            <td>Dosen Pembimbing</td>
            <td>:</td>
            <td><strong>{{ (data.pa is not null) ? data.pa.user.nama : '' }}</strong></td>
          </tr>

        </table>
        <br/>
        <table width="700" border="1" cellspacing="1" cellpadding="1" class=rapor>
          <tr>
            <th width="10" rowspan="2">NO</th>
            <th width="50" rowspan="2">NMK </th>
            <th width="410" rowspan="2">NAMA MATA KULIAH </th>
            <th width="50" rowspan="2">SKS</th>
            <th width="50" colspan="2">NILAI</th>
            <th width="80" rowspan="2">SKS X A</th>
          </tr>
          <tr>
            <th>H</th>
            <th>A</th>
          </tr>
{#           <tr>
            <th>(a)</th>
            <th>(b)</th>
            <th>(c)</th>
            <th>(d)</th>
            <th>(e)</th>
            <th>(f)</th>
            <th>(g)</th>
          </tr> #}
          {% if data.krs|length > 0 %}
            {% set no = 1 %}
            {% set sksTotal = 0 %}
            {% set nilaiTotal = 0 %}
            {% for krs in data.krs %}
              <tr>
                <td align="center">{{ no }}</td>
                <td>{{ (krs.makul is not null) ? krs.makul.kode : '' }}</td>
                <td>{{ (krs.makul is not null) ? krs.makul.nama : '' }}</td>
                <td align="center">
                  {% set jmlSks = krs.makul.sksTeori+krs.makul.sksPraktek+krs.makul.sksLapangan %}
                  {{ (krs.makul is not null) ? jmlSks : 0 }}
                  {% set sksTotal = sksTotal+jmlSks %}
                </td>
                <td align="center">
                  {% set nilai = 0 %}
                  {{ getBobotNilai(nilai, true) }}
                </td>
                <td align="center">
                  {% set nilai = 0 %}
                  {% set nilaiAngka = getBobotNilai(nilai) %}
                  {{ nilaiAngka }}
                  {% set nilaiTotal = nilaiTotal+nilaiAngka %}
                </td>
                <td align="center">{{ jmlSks*nilaiAngka }}</td>
              </tr>
              {% set no = no+1 %}
            {% endfor %}
          {% else %}
          <tr>
            <td colspan=7> Belum ambil KRS</td>
          </tr>
          {% endif %}
          <tr>
            <td colspan=7></td>
          </tr>
          <tr>
            <th colspan="3" width="470">JUMLAH</th>
            <td width="50" align="center">{{ sksTotal }}</td>
            <td width="50">&nbsp;</td>
            <td width="50" align="center">{{ nilaiTotal }}</td>
            <td width="80"></td>
          </tr>

          <tr>
            <th colspan=3>SKS YANG PERNAH DITEMPUH</th>
            <td></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          
          <tr>
            <th colspan=3>JUMLAH NILAI MUTU</th>
            <td></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr><tr><td colspan=7></td></tr>
          <tr>
            <th colspan=3 >INDEKS PRESTASI SEMESTER </th>
            <td colspan=4></td>
          </tr>
          <tr>
            <th colspan=3>INDEKS PRESTASI KUMULATIF </th>
            <td colspan=4>0 </td>
          </tr>
          <tr>
            <th colspan=3>PREDIKAT</th>
            <td colspan=4>Tidak Lulus</td>
          </tr>
        </table>
        <table width="700" border="1" cellspacing="1" cellpadding="1" class=no-style>
          <tr>
            <td width="50%" align=center valign=midle height=150>
              <BR/>Ketua Universitas AJA<br/>
              <BR/>
            </td>
            <td align=center valign=midle height=150>
              , 01 April 2018<br/>
              Ketua Program Studi Ilmu Keperawatan
            </td>
          </tr>
          <tr align=center valign=bottom>
            <td>
              <strong><u><b> {{ data.user.nama }}</b></u><br/>
                NIP. 2222</strong>
            </td>
            <td align=center><b><u><b> , </b></u><br/>NIP. </b></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</center>
{% endblock %}