{% extends "base_print.html.twig" %}

{% block content %}

{% set mhs = data.result.mahasiswa %}

<center>

  <table width="700"  border="0" cellspacing="1" cellpadding="1" >
    <tr>
      <td align=left>
        <table width="700" border="1" align=center cellspacing="1" cellpadding="1" class=no-style>
          <tr>
            <td width="16%" rowspan="5"><img src="{{ option.logo }}" width="120" height="120"></td>
            <td valign=top align=center><h1>{{ option.pt.nama }}</h1></td>
          </tr>
          <tr>
            <td width="84%" align=center></td>  
          </tr>
          <tr>
            <td align=center>Telp. {{ option.pt.telp }}/Fax. {{ option.pt.fax }}</td>
          </tr>
          <tr>
            <td align=center>
              Email: {{ option.pt.email }} 
              Website: {{ option.pt.website }}
            </td>
          </tr>
          <tr>
            <td align=center>
              <h2>.............................................................................................................................................</h2>
            </td>
          </tr>
        </table>	
        <center>
          <h2><br/><br/>KARTU RENCANA STUDI</h2><br/><br/>
        </center>
        <table width="700" border="1" cellspacing="1" cellpadding="1" class=no-style>
          <tr>
            <td width="100">&nbsp;</td>
            <td width="5">&nbsp;</td>
            <td width="230">&nbsp;</td>
            <td width="30">&nbsp;</td>
            <td>Nama Mahasiswa</td>
            <td>:</td>
            <td><strong>{{ mhs.nama }}</strong></td>
          </tr>
          <tr>
            <td>Semester</td>
            <td>:</td>
            <td><strong>{{ data.result.semester }}</strong></td>
            <td>&nbsp;</td>
            <td>NPM</td>
            <td>:</td>
            <td><strong>{{ mhs.nim }}</strong></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Jurusan</td>
            <td>:</td>
            <td>{{ mhs.prodi }}</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Status</td>
            <td>:</td>
            <td></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Kantor</td>
            <td>:</td>
            <td></td>
          </tr>
        </table>
        <br/>  
        <table width="700" border="1" cellspacing="1" cellpadding="1" class=rapor>
          <tr>
            <th width="10" rowspan="2">NO</th>
            <th width="50" rowspan="2">NMK</th>
            <th width="350" rowspan="2">MATA KULIAH </th>
            <th width="50" rowspan="2">SKS</th>
        	  <th colspan="3" align="center">WAKTU & TEMPAT</th> 
          </tr>
          <tr>
            <th align="center">HARI</th>
            <th width="100" align="center">JAM</th>
            <th align="center">RUANG</th>
          </tr>
{#           <tr>
            <th>(a)</th>
            <th>(b)</th>
            <th>(c)</th>
            <th>(d)</th>
            <th>(e)</th>
            <th>(f)</th>
          </tr> #}
          {% if data.result.krs|length > 0 %}
            {% set no = 1 %}
            {% set total_sks = 0 %}
            {% for krs in data.result.krs %}
                <tr>
                  <td align="center">{{ no }}</td>
                  <td align="center">{{ krs.kode_mk }}</td>
                  <td>{{ krs.nama_mk }} <em>{{ (krs.nama_mk_eng is not empty) ? "("~krs.nama_mk_eng~")" : '' }}</em></td>
                  <td align="center">{{ krs.jml_sks }}</td>
                  {# <td>{{ krs.status|capitalize }}</td> #}
                  <td align="center">{{ krs.jadwal.hari }}</td>
                  <td align="center">{{ krs.jadwal.jam }}</td>
                  <td align="center">{{ krs.jadwal.ruang }}</td>
                </tr>
                {% set no = no+1 %} 
                {% set total_sks = total_sks+krs.jml_sks %}
            {% endfor %}
          {% else %}
          <tr>
            <td colspan="5"> Belum ambil KRS</td>
          </tr>
          {% endif %}
          <tr>
            <th></th>
            <th></th>
            <th style="color:black;font-weight:bold">Total SKS</th>
            <th align="center">{{ total_sks }}</th>
            <th colspan="3"></th>
          </tr>
        </table>
        <BR/>
        <table width="700" border="1" cellspacing="1" cellpadding="1" class=no-style>
          <tr>
            <td width="50%" align=center valign=midle height="150">
              Mengetahui<br>Penasehat Akademik</td>
            <td align=center valign=midle height="150">
              Bandung, {{ "now"|tanggal }}<br/>
              Mahasiswa
            </td>
          </tr>
          <tr align=center valign=bottom>
            <td>
              <b><u>{{ mhs.nama_pa }}</u><br/>NIP. {{ mhs.nip_pa }}</b>
            </td>
            <td align=center>
        	       <b>	<u><b>( {{ mhs.nama }} )</b></u></b>
        	   </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</center>
{% endblock %}