{% extends "base_print.html.twig" %}

{% block content %}
<center>
  <table width="700"  border="0" cellspacing="1" cellpadding="1" >
    <tr>
      <td><h1>Data Pribadi</h1></td>
    </tr>
    <tr>
      <td>
        <table width="700"  border="0" class="datatable full1">
          <tr>
            <td align="left" width="150" valign="top">NIM</td>
            <td>{{ mhs.user.username }}</td>
          </tr>
          <tr>
            <td align="left"  valign="top">NIK</td>
            <td>{{ mhs.user.ktp }}</td>
          </tr>
          <tr>
            <td align="left" valign="top">ID KK</td>
            <td>{{ mhs.user.noKk }}</td>
          </tr>
          <tr>
            <td align="left" valign="top">NPWP</td>
            <td>{{ mhs.user.npwp }}</td>
          </tr>
          <tr>
            <td align="left" valign="top">Nama Mahasiswa</td>
            <td>{{ mhs.user.nama }}</td>
          </tr>
          <tr>
            <td align="left" valign="top">Tempat Lahir</td>
            <td>{{ mhs.user.tptLahir }}</td>
          </tr>
          <tr>
            <td align="left" valign="top">Tanggal Lahir</td>
            <td>{{ mhs.user.tglLahir|tanggal }}</td>
          </tr>       
          <tr>
            <td  align="left" valign="top">Jenis Kelamin</td>
            <td>{{ gender(mhs.user.jk) }}</td>
          </tr>
          <tr>
            <td  align="left" valign="top">Agama</td>
            <td>{{ (mhs.user.agama is not null) ? mhs.user.agama.nama : '' }}</td>
          </tr>
          <tr>
            <td  align="left" valign="top">Warga Negara</td>
            <td>{{ mhs.user.wargaNegara|upper }}</td>
          </tr>
          <tr>
            <td  align="left" valign="top">Status Sipil</td>
            <td>{{ mhs.user.statusSipil|capitalize }}</td>
          </tr>
          <tr>
            <td align="left" valign="top">Telepon</td>
            <td>{{ mhs.user.telp }}</td>
          </tr>
          <tr>
            <td align="left" valign="top">HP</td>
            <td>{{ mhs.user.hp }}</td>
          </tr>
          <tr>
            <td align="left" valign="top">Email</td>
            <td>{{ mhs.user.email }}</td>
          </tr> 
        </table> 
      </td>
    </tr>
    <tr>
      <td><h1>Alamat</h1></td>
    </tr>
    <tr>
      <td>
        <table width="700"  border="0" class="datatable full1">
          <tr>
            <td  width="150" valign="top">Alamat<font color="red"></font></td>
            <td>{{ mhs.user.alamat }}</td>
          </tr>
          <tr>
            <td>RT/RW</td>
            <td>{{ mhs.user.rt }} / {{ mhs.user.rw }}</td>
          </tr>
          <tr>
            <td>Dusun</td>
            <td>{{ mhs.user.dusun }}</td>
          </tr>
          <tr>
            <td>Desa</td>
            <td>{{ mhs.user.desa }}</td>
          </tr>
          <tr>
            <td>Kec/Kab/Pro</td>
            <td>{{ mhs.user.kecamatan }}</td>
          </tr>
          <tr>
            <td valign="top">Pos</td>
            <td>{{ mhs.user.pos }}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><h1>Orang Tua</h1></td>
    </tr>
    <tr>
      <td>
        <table  width="700" cellspacing="1" cellpadding="1" class="rapor ">
          <tr>
            <td width="150" align="left" valign="top"></td>
            <th width="270">AYAH</th>
            <th>IBU</th>
          </tr>
          <tr>
            <td width=150 align="left" valign="top">Nama</td>
            <td>{{ printOrangtua(mhs, 'ayah', 'nama') }}</td>
            <td>{{ printOrangtua(mhs, 'ibu', 'nama') }}</td>
          </tr>
          <tr>
            <td align="left" width="150" valign="top">NIK</td>
            <td>{{ printOrangtua(mhs, 'ayah', 'nik') }}</td>
            <td>{{ printOrangtua(mhs, 'ibu', 'nik') }}</td>
          </tr>
          <tr>
            <td align="left" valign="top">Agama</td>
            <td>{{ printOrangtua(mhs, 'ayah', 'nik') }}</td>
            <td>{{ printOrangtua(mhs, 'ibu', 'nik') }}</td>
          </tr>
          <tr>
            <td align="left" valign="top">Pendidikan</td>
            <td>{{ printOrangtua(mhs, 'ayah', 'pendidikan') }}</td>
            <td>{{ printOrangtua(mhs, 'ibu', 'pendidikan') }}</td>
          </tr>
          <tr>
            <td  align="left" valign="top">Pekerjaan</td>
            <td>{{ printOrangtua(mhs, 'ayah', 'nik') }}</td>
            <td>{{ printOrangtua(mhs, 'ibu', 'nik') }}</td>
          </tr>
          <tr>
            <td  align="left" valign="top">Penghasilan</td>
            <td>{{ printOrangtua(mhs, 'ayah', 'nik') }}</td>
            <td>{{ printOrangtua(mhs, 'ibu', 'nik') }}</td>
          </tr>               
          <tr>
            <td  align="left" valign="top">Status</td>
            <td>{{ printOrangtua(mhs, 'ayah', 'status') }}</td>
            <td>{{ printOrangtua(mhs, 'ibu', 'status') }}</td>
          </tr>  
          <tr>
            <td  valign="top">Alamat<font color="red"></font></td>
            <td>{{ printOrangtua(mhs, 'ayah', 'alamat') }}</td>
            <td>{{ printOrangtua(mhs, 'ibu', 'alamat') }}</td>
          </tr>
          <tr>
            <td width="150"  valign="top">Kota/Kabupaten</td>
            <td>{{ printOrangtua(mhs, 'ayah', 'nik') }}</td>
            <td>{{ printOrangtua(mhs, 'ibu', 'nik') }}</td>
          </tr>
          <tr>
            <td width="150"  valign="top">Propinsi</td>
            <td>{{ printOrangtua(mhs, 'ayah', 'nik') }}</td>
            <td>{{ printOrangtua(mhs, 'ibu', 'nik') }}</td>
          </tr>
          <tr>
            <td valign="top">Pos</td>
            <td>{{ printOrangtua(mhs, 'ayah', 'pos') }}</td>
            <td>{{ printOrangtua(mhs, 'ibu', 'pos') }}</td>
          </tr>
          <tr>
            <td align="left" valign="top">Telepon</td>
            <td>{{ printOrangtua(mhs, 'ayah', 'telp') }}</td>
            <td>{{ printOrangtua(mhs, 'ibu', 'telp') }}</td>
          </tr>
          <tr>
            <td align="left" valign="top">HP</td>
            <td>{{ printOrangtua(mhs, 'ayah', 'hp') }}</td>
            <td>{{ printOrangtua(mhs, 'ibu', 'hp') }}</td>
          </tr>
          <tr>
            <td align="left" valign="top">Email</td>
            <td>{{ printOrangtua(mhs, 'ayah', 'email') }}</td>
            <td>{{ printOrangtua(mhs, 'ibu', 'email') }}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><h1>Akademik</h1></td>
    </tr>
    <tr>
      <td>
        <table width="100%" border="0" class="datatable full1">
          <tr>
            <td  align="left"  width="150"  valign="top">Program Studi</td>
            <td>{{ mhs.user.prodi.jenjang }} {{ mhs.user.prodi.namaProdi }}</td>
          </tr>
          <tr>
            <td align="left" valign="top">Status Masuk</td>
            <td>{{ ( mhs.jenisDaftar is not null ) ? mhs.jenisDaftar.nama : '' }}</td>
          </tr>
          <tr>
            <td  align="left" valign="top">Tahun Masuk</td>
            <td>{{ mhs.angkatan }}</td>
          </tr> 
          <tr>
            <td  align="left" valign="top">Semester Masuk</td>
            <td>{{ (mhs.semesterMasuk is not null) ? mhs.semesterMasuk.nama : '' }}</td>
          </tr> 
          <tr>
            <td align="left" valign="top">Tanggal Masuk</td>
            <td>{{ mhs.user.tglMasuk|date("d-m-Y") }}</td>
          </tr>   
          <tr>
            <td align="left" valign="top">Kelas</td>
            <td>{{ (mhs.kelas is not null) ? mhs.kelas.nama : '-' }}</td>
          </tr> 
          <tr>
            <td  align="left" valign="top">Semester Sekarang</td>
            <td>{{ mhs.semester }}</td>
          </tr>   
          <tr>
            <td  align="left" valign="top">Status</td>
            <td>{{ (mhs.status is not null) ? mhs.status.nama : '' }}</td>
          </tr> 
          {% if mhs.jenisDaftar is not null and mhs.jenisDaftar.kode == 2 %}
          <tr>
            <td  align="left" width="150"  valign="top">PT Asal</td>
            <td>{{ mhs.asalNamaPt }}</td>
          </tr>
          <tr>
            <td  align="left" valign="top">Prodi Asal</td>
            <td>{{ mhs.asalProdi }}</td>
          </tr>

          <tr>
            <td  align="left" valign="top">Jenjang Asal </td>
            <td>{{ mhs.asalJenjang }}</td>
          </tr>
          <tr>
            <td  align="left" valign="top">NIM Asal</td>
            <td>{{ mhs.asalNim }}</td>
          </tr>
          <tr>
            <td  align="left" valign="top">SKS Diakui Asal</td>
            <td>{{ mhs.asalSksDiakui }}</td>
          </tr>
          {% else %}
          <tr>
            <td  align="left" width="150"  valign="top">Kode Sekolah</td>
            <td>{{ mhs.kodeSekolah }}</td>
          </tr>
          <tr>
            <td  align="left" valign="top">Nama Sekolah</td>
            <td>{{ mhs.namaSekolah }}</td>
          </tr>

          <tr>
            <td  align="left" valign="top">NIS</td>
            <td>{{ mhs.nis }}</td>
          </tr>
          <tr>
            <td  align="left" valign="top">Nilai UN</td>
            <td>{{ mhs.nilaiUn }}</td>
          </tr>
          {% endif %}
        </table> 
      </td>
    </tr>
    <tr>
      <td><h1>Aktivitas</h1></td>
    </tr>
    <tr>
      <td>
        <table width="100%" border="1" cellspacing="1" cellpadding="1" class=rapor>
          <tr>
            <th width="10">NO</th>
            <th width="50">KODE MK </th>
            <th width="410">MATA KULIAH </th>
            <th width="410">SEMESTER</th>
            <th width="50">SKS</th>
          </tr>
{#           {% set no = 1 %} 
          {% if mhs.khs is not null %}
            {% for khs in mhs.khs %}
              {% if khs.krs is not null %}
                {% for krs in khs.krs %}
                  <tr >
                    <td align="center">{{ no }}</td> 
                    <td align="center">{{ krs.makul.kode }}</td>
                    <td>{{ krs.makul.nama }}<i>({{ krs.makul.namaEng }})</i></td>
                    <td align="center">{{ krs.makul.semester }}</td>
                    <td align="center">{{ krs.makul.sksTeori+krs.makul.sksLapangan+krs.makul.sksPraktek }}</td>
                  </tr>
                {% endfor %}
                {% set no = no+1 %} 
              {% endif %}
            {% endfor %}
          {% endif %} #}
        </table>
      </td>
    </tr>
    <tr>
      <td><h1>Pendidikan</h1></td>
    </tr>
    <tr>
      <td>
        <table width="100%" border="0" align="center" cellpadding="1" cellspacing="0" class="datatable full">
          <thead>
           <tr>
            <th width="5%" align="center">No</th>
            <th  align="center">Tahun</th>
            <th  align="center">Tgl Ijazah</th>
            <th  align="center">Gelar</th>
            <th  align="center">Jenjang</th>
            <th  align="center">Bidang</th>
           </tr>
         </thead>
         <tbody>
          {% if mhs.riwayatPendidikan is not null %}
            {% set no = 1 %}
            {% for pendidikan in mhs.riwayatPendidikan %}
              <tr> 
                <th>{{ no }}</th>
                <th>{{ pendidikan.tahun }}</th>
                <th>{{ pendidikan.tglIjazah }}</th>
                <th>{{ pendidikan.gelarAkademik }}</th>
                <th>{{ pendidikan.jenjang }}</th>
                <th>{{ pendidikan.bidangKeilmuan }}</th>
              </tr>
              {% set no = no+1 %}
            {% endfor %}
          {% else %}
          <tr> 
            <th  colspan="6" align="center">Belum ada Data</th>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </td>
    </tr>
</table>
</center>

{% endblock %}