{% extends 'base_print_responsive.html.twig' %}

{% block content %}

<div class="row">
	<div class="col-xs-12">
		<div class="row">
			{% for nim in data %}
			{% set mhs = getUser(nim) %}
			{% if mhs is not null %}
			<div class="col-xs-6">
				<table class="table table-bordered">
						<tr>
							<th colspan="2" class="text-center">{{ option.pt.nama }}</th>
						</tr>
						<tr>
							<th colspan="2" class="text-center"></th>
						</tr>
						<tr>
							<th colspan="2" class="text-center">KARTU UJIAN AKHIR SEMESTER</th>
						</tr>
						<tr>
							<th colspan="2" class="text-center">SEMESTER GANJIL 2013/2014</th>
						</tr>
						<tr>
							<th width="150">NIM</th>
							<td>{{ nim }}</td>
						</tr>
						<tr>
							<th>Nama</th>
							<td>{{ mhs.nama }}</td>
						</tr>
						<tr>
							<th>Tempat, Tgl Lahir</th>
							<td>{{ mhs.tptLahir }}, {{ mhs.tglLahir|date('d-m-Y') }}</td>
						</tr>
						<tr>
							<th>Program Studi</th>
							<td>{{ mhs.prodi.namaProdi }}</td>
						</tr>
						<tr>
							<th>Alamat</th>
							<td>{{ mhs.alamat }}</td>
						</tr>
						<tr>
							<th>Ruang Ujian</th>
							<td></td>
						</tr>
				</table>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}