{% extends "base_print.html.twig" %}

{% block content %}

<center>
	<table width="700"  border="0" cellspacing="1" cellpadding="1" >
		<tr>
			<td align="left">
				<table width="100%" border="0" align="center" cellpadding="20" cellspacing="20" >
					<tr>
						<td style="border-bottom:1px solid #000000" valign=top width="50%">
							<table width="100%" border="0" align="center" cellpadding="5" cellspacing="5" >
								<tr>
									<th style="font-size:18px">{{ perpustakaan.nipn }} | {{ perpustakaan.nama }}</th>
								</tr>
								<tr>
									<td>{{ perpustakaan.alamat }} <br/>Telp:{{ perpustakaan.telp }} - Email:{{ perpustakaan.email }}</td>
								</tr>
								<tr style="background:#000000; color:#FFFFFF;">
									<th style="padding:5px; margin:5px; text-align:center; font-size:16px">PEMINJAMAN PUSTAKA BELUM KEMBALI</th>
								</tr>
							</table>
							<table>
								<tr>
									<td width="20%">Kode</td>
									<td width="1">:</td>
									<td width="30%">{{ pustaka.kode }}</td>
									<td width="20%">ISBN</td>
									<td width="1">:</td>
									<td width="30%">{{ pustaka.isbn }}</td>
								</tr>
								<tr>
									<td>Judul</td>
									<td width="1">:</td>
									<td>{{ pustaka.judul }}</td>
									<td>Klasifikasi</td>
									<td width="1">:</td>
									<td>{{ (pustaka.klasifikasi is not null) ? pustaka.klasifikasi.nama : '' }}</td>
								</tr>
								<tr>
									<td>Format</td>
									<td width="1">:</td>
									<td>{{ (pustaka.format is not null) ? pustaka.format.nama : '' }}</td>
									<td>Lokasi</td>
									<td width="1">:</td>
									<td>{{ (pustaka.lokasi is not null) ? pustaka.lokasi.nama : '' }}</td>
								</tr>
								<tr>
									<td>Pengarang</td>
									<td width="1">:</td>
									<td>{{ pustaka.pengarang }}</td>
									<td>Edisi</td>
									<td width="1">:</td>
									<td>{{ pustaka.sumberDari }}</td>
								</tr>
								<tr>
									<td>Penerbitan</td>
									<td width="1">:</td>
									<td colspan="4">{{ pustaka.penerbit }} {{ (pustaka.tptTerbit is not empty) ? '| '~pustaka.tptTerbit : '' }} {{ (pustaka.tahunTerbit is not empty) ? ', '~pustaka.tahunTerbit : '' }}</td>
								</tr>
								<tr>
									<td>Penerimaan</td>
									<td width="1">:</td>
									<td colspan="4">BELI Tgl. {{ pustaka.tglTerima|date("d F Y") }} Qty. {{ pustaka.jumlah }} @ {{ pustaka.harga }}</td>
								</tr>
								<tr>
									<td >Keterangan</td>
									<td width="1">:</td>
									<td colspan="4">{{ pustaka.ket }}</td>
								</tr>
							</table>
							<hr/>
							<table  id="datatable" class="table table-condensed" cellpadding="0" cellspacing="0">
								<thead> 
									<tr>
										<th rowspan="2">No</th>
										<th rowspan="2" style="width:120px">Kode Pustaka</th>
										<th colspan="4">Peminjam</th>
									</tr>
									<tr>
										<th>Tanggal</th>
										<th>Jam</th>
										<th>ID Anggota</th>
										<th>Nama</th>
									</tr>
								</thead>
								<tbody>
									{% set no = 1 %}
									{% for td in data %}
										<tr>
											<td>{{ no }}</td>
											<td>{{ td.pustaka.kode }}</td>
											<td>{{ td.tanggal|date('d F Y') }}</td>
											<td>{{ td.tanggal|date('H:i') }}</td>
											<td>{{ td.anggota.username }}</td>
											<td>{{ td.anggota.nama }}</td>
										</tr>
										{% set no = no+1 %}
									{% endfor %}
								</tbody>
							</table>
						</td> 
					</tr>
				</table>
			</td>
		</tr>
	</table>
</center>

{% endblock %}