{% extends "base_print.html.twig" %}

{% block css %}
<style type="text/css">
@import url("{{ asset("dist/fonts/barcode/stylesheet.css") }}");
.font_barcode {
	font-family: "IDAHC39M Code 39 Barcode";
}
</style>
{% endblock %}

{% block content %}

<center>

	<table width="500"  border="0" cellspacing="1" cellpadding="1" >
		<tr>
			<td align="left">
				<table width="100%" border="0" align="center" cellpadding="20" cellspacing="20" >
					<tr> 
						<td style="border-bottom:1px solid #000000" valign=top width="50%">
							<table width="100%" border="0" align="center" cellpadding="5" cellspacing="5" >
								<tr>
									<th>{{ perpustakaan.nipn }} | {{ perpustakaan.nama }}</th>
								</tr>
								<tr>
									<td>
										<small>
											{{ perpustakaan.alamat }} <br/>
											Telp:{{ perpustakaan.telp }} <br/>
											Email:{{ perpustakaan.email }}	
										</small>
									</td>
								</tr>
								<tr style="background:#000000; color:#FFFFFF;">
									<th style="padding:5px; margin:5px; text-align:center; font-size:16px">KARTU TANDA ANGGOTA</th>
								</tr>
							</table>
							<table width="100%" border="0" align="center" cellpadding="10" cellspacing="10" >
								<tr>
									<td width="100" align=right>Nama</td>
									<td width="1">:</td>
									<td><strong>{{ data.nama }}</strong></td>
								</tr>
								<tr>
									<td align="right">Jenis Kelamin</td>
									<td width="1">:</td>
									<td><strong>{{ gender(data.jk) }}</strong></td>
								</tr>
								<tr>
									<td align="right"> Tempat.Tgl. Lahir</td>
									<td width="1">:</td>
									<td><strong>{{ data.tptLahir }}, {{ (data.tglLahir is not null) ? data.tglLahir|tanggal : '' }}</strong></td>
								</tr>
								<tr>
									<td align="right">Jenis Anggota</td>
									<td width="1">:</td>
									<td><strong>{{ printTerm(data.hakAkses) }}</strong></td>
								</tr>
								{% if printTerm(data.hakAkses) == 'DOSEN' %}
									{% set kodeAnggota = 'D' %}
								{% elseif printTerm(data.hakAkses) == 'PEGAWAI' %}
									{% set kodeAnggota = 'D' %}
								{% elseif printTerm(data.hakAkses) == 'MAHASISWA' %}
									{% set kodeAnggota = 'M' %}
								{% else %}
									{% set kodeAnggota = 'U' %}
								{% endif %}
								<tr>
									<td align="right">ID Anggota</td>
									<td width="1">:</td>
									<td><strong>{{ kodeAnggota }}.{{ data.username }}</strong></td>
								</tr>
								<tr>
									<td width="1">&nbsp;</td>
									<td width="1">&nbsp;</td>
									<th>
										<font class="font_barcode">{{ kodeAnggota }}.{{ data.username }}</font>
									</th>
								</tr>
							</table>
						</td> 
					</tr>
				</table>
			</td>
		</tr>
	</table>
</center>

{% endblock %}