{% extends "base_print.html.twig" %}

{% block content %}
{% set mhs = data.result %}
<center>

  <table width="700"  border="0" cellspacing="1" cellpadding="1">
    <tr>
      <td align=left>
        <table width="700" border="1" align=center cellspacing="1" cellpadding="1" class=no-style>
          <tr>
            <td width="16%" rowspan="5"><img src="images/logo-cetak.png" width="120" height="120"></td>
            <td valign=top align=center><h1>{{ option.pt.nama }}</h1></td>
          </tr>
          <tr>
            <td width="84%" align=center></td>
          </tr>
          <tr>
            <td align=center>
              Telp. {{ option.pt.telp }} / Fax. {{ option.pt.fax }}
            </td>
          </tr>
          <tr>
            <td align=center>
              Email {{ option.pt.email }}
              Website {{ option.pt.website }}
            </td>
          </tr>
          <tr>
            <td align=center>
              <h2>.............................................................................................................................................</h2>
            </td>
          </tr>
        </table>  
        <center>
          <h2><br/>KARTU HASIL STUDI <BR/>(KHS)</h2><br/><br/>
        </center>
        <table width="700" border="1" cellspacing="1" cellpadding="1" class=no-style>
          <tr>
            <td width="100">Nama Mahasiswa</td>
            <td width="5">:</td>
            <td width="230"><strong>{{ mhs.nama }}</strong></td>
            <td width="30">&nbsp;</td>
            <td>Semester</td>
            <td>:</td>
            <td><strong>{{ mhs.semester }}</strong></td>

           
          </tr>
          <tr>
            <td>NPM</td>
            <td>:</td>
            <td><strong>{{ mhs.nim }}</strong></td>
            <td>&nbsp;</td>
            <td>IP Semester lalu</td>
            <td>:</td>
            <td><strong>{{ mhs.semester }}</strong></td>
          </tr>
          <tr>
            <td>Jurusan</td>
            <td>:</td>
            <td><strong>{{ mhs.prodi }}</strong></td>
            <td>&nbsp;</td>
            <td>Dosen Pembimbing</td>
            <td>:</td>
            <td><strong>{{ mhs.dosen }}</strong></td>
          </tr>

        </table>
        <br/>
        <table width="700" border="1" cellspacing="1" cellpadding="1" class=rapor>
          <tr>
            <th width="10" rowspan="2">NO</th>
            <th width="50" rowspan="2">NMK </th>
            <th width="410" rowspan="2">NAMA MATA KULIAH </th>
            <th width="50" rowspan="2">SKS</th>
            <th width="50" colspan="2">NILAI</th>
            <th width="80" rowspan="2">SKS X A</th>
          </tr>
          <tr>
            <th>H</th>
            <th>A</th>
          </tr>
{#           <tr>
            <th>(a)</th>
            <th>(b)</th>
            <th>(c)</th>
            <th>(d)</th>
            <th>(e)</th>
            <th>(f)</th>
            <th>(g)</th>
          </tr> #}
          {% set no = 1 %}
          {% set sksTotal = 0 %}
          {% set nilaiTotal = 0 %}
          {% if mhs.krs|length > 0 %}
            {% for krs in mhs.krs %}
              <tr>
                <td align="center">{{ no }}</td>
                <td>{{ krs.kode_mk }}</td>
                <td>{{ krs.nama_mk }}</td>
                <td align="center">
                  {{ krs.jumlah_sks }}
                  {% set sksTotal = sksTotal+krs.jumlah_sks %}
                </td>
                <td align="center">{{ krs.nilai_huruf }}</td>
                <td align="center">{{ krs.nilai_angka }}</td>
                <td align="center">{{ krs.jumlah_sks*krs.nilai_angka }}</td>
              </tr>
              {% set no = no+1 %}
            {% endfor %}
          <tr>
            <td colspan="7"></td>
          </tr>
          <tr>
            <th colspan="3" width="470">INDEKS PRESTASI (IP)</th>
            <td width="50" align="center">{{ sksTotal }}</td>
            <td width="50">&nbsp;</td>
            <td width="50" align="center">{{ nilaiTotal }}</td>
            <td width="80"></td>
          </tr>
          {% else %}
          <tr>
            <td colspan=7> Belum ambil KRS</td>
          </tr>
          {% endif %}
        </table>
        <table width="700" border="1" cellspacing="1" cellpadding="1" class=no-style>
          <tr>
            <td width="50%" align=center valign=midle height=150>
              <BR/>Ketua {{ option.pt.nama }}<br/>
              <BR/>
            </td>
            <td align=center valign=midle height=150>
              Bandung, 01 April 2018<br/>
              Ketua, 
            </td>
          </tr>
          <tr align=center valign=bottom>
            <td>
              <strong><u><b> {{ mhs.nama }}</b></u><br/>
                NIP. 2222</strong>
            </td>
            <td align=center><b><u><b> , </b></u><br/>NIP. </b></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</center>
{% endblock %}