{% extends 'base.html.twig' %}

{% block title %} Ranking Mahasiswa {% endblock %}

{% block content %}
<div class="box">
	<div class="box-header">
		<div class="form-inline">
			<label>Angkatan</label>
			<select id="angkatan" class="form-control" style="margin: 0 .5em">
				<option value="">-- Pilih tahun --</option>
				{% for i in "now"|date("Y")..1980 %}
					<option value="{{ i }}" {{ ( app.request.get('angkatan') == i ) ? 'selected' : '' }}>{{ i }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="box-body">
		<table id="datatable1" class="table table-hover table-striped table-responsive">
			<thead>
			<tr>
				<th>&nbsp;</th>
				<th>NIM</th>
				<th>Nama</th>
				<th>IPK</th>
				<th>Rangking</th>
				<th>&nbsp;</th>
			</tr>
			</thead>
			{% if app.request.get('angkatan') is not empty %}
			<tbody>
			{% set params = { 'angkatan': app.request.get('angkatan') } %}
			{% for td in app_service.getListMahasiswa(params) %}
				{% if td.status != app_service.getMasterTermObject('status_mahasiswa', 'L') and td.user is not null and td.user.prodi is not null and app.user.prodi is not null and td.user.prodi == app.user.prodi %}
				<tr id="data-{{ td.id }}">
					<td align="center" width="20"></td>
					<td>{{ td.user.username }}</td>
					<td>{{ td.user.nama }}</td>
					<td>{{ printIpk(td) }}</td>
					<td></td>
					<td></td>
				</tr>
				{% endif %}
			{% endfor %}
			</tbody>
			{% endif %}
		</table>
	</div>
</div>
{% endblock %}

{% block js %}
<script>
  	$("#angkatan").on('change', function(){
  		if (this.value !== '') {
  			var url = "{{ path('hs_rangking_index') }}"+"?angkatan="+this.value;
  			window.location.replace(url);
  		}
  	});
</script>
{% endblock %}