<script>

  $('#ref-form').submit(function(e) {
    e.preventDefault();
    var form = $('#ref-form');
    $("#pesan-notifikasi").html('');
    // formMessages.html('<img src="{{ asset("dist/img/loader2.gif") }}">');
    var formData = $(form).serialize();
    $("#submit-ref-btn").prop("disabled", true).addClass('disabled');

    $.ajax({
      type: "POST",
      url: "{{ url('feeder_ref_get_count') }}",
      data: formData,
      success: function(response) {
        var total_data = parseInt(response);

        if ( total_data > 0 ) {

            var table = $("#ref").val();
            var progress_step = 100/total_data;

            $(".ref-progress").show('slow');
            $(".ref-progress .progress-number .total-data").text(total_data);
            $(".ref-progress .progress-bar").css({"width": "1%"});
            $(".ref-progress .progress-text .progress-percent").text("0");

            for( var i = 0; i < total_data; i++ ) {

                $(".ref-progress .progress-number b").text(0);

                $.ajax({
                  type: 'POST',
                  url: "{{ url('feeder_ref_get_data') }}",
                  data: {table:table, limit: 1, offset: i},
                  success: function(response) {

                    importDataRef(table, response[0], progress_step, total_data);

                  }
                });

            }

        }

      }
    });
  });

  function importDataRef(table, data, progress_step, total_data) {

    // setTimeout(function(){

      $.ajax({
        type: 'POST',
        url: "{{ url('feeder_ref_import') }}",
        data: {table:table, result: data},
        success: function(response) {

          var count = parseInt($(".ref-progress .progress-number b").html());
          var current_progress = parseInt($(".ref-progress .progress-text .progress-percent").html());
          current_progress = Math.ceil(current_progress+progress_step);
          current_progress = ( current_progress >= 99 ) ? 100 : current_progress;
          if (current_progress >= 99) {
            $(".progress-bar-gray").addClass('progress-bar-green').removeClass('progress-bar-gray');
            $("#submit-ref-btn").prop("disabled", false).removeClass('disabled');
          }
					var current_percent = ((count+1)/total_data)*100; 
					$(".ref-progress .progress-bar").css({"width": current_percent+"%"});
					$(".ref-progress .progress-text .progress-percent").text(Math.ceil(current_percent));
          $(".ref-progress .progress-number b").text(count+1);
        }
      })
      .fail(function(data) {
        if (data.responseText !== '') {
          $.alert(data.responseText);
        } else {
          $.alert('Terjadi kesalahan!');
        }
      });

    // }, 10000);

  }

</script>