<table id="example1" class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Jenis Data</th>
    <th>Prodi</th>
    <th>Tahun</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody> 
    <tr id="data-dosen">
      <td>Data Dosen</td>
      <td>
				{#
        <select id="dosen_prodi" class="form-control">
          <option value="">-- PILIH --</option>
          {% for prodi in prodiList %}
            <option value="{{ prodi.kodeProdi }}">{{ prodi.namaProdi }}</option>
          {% endfor %}
        </select>
				#}
      </td>
      <td></td>
      <td align="center"><button type="button" class="proses-btn btn btn-primary btn-sm" data-jenis="dosen">PROSES</button></td>
    </tr>
    <tr id="data-mahasiswa_pt">
      <td>Data Mahasiswa</td>
      <td>
        <select id="mahasiswa_pt_prodi" class="form-control">
          <option value="">-- PILIH --</option>
          {% for prodi in prodiList %}
            <option value="{{ prodi.kodeProdi }}">{{ prodi.namaProdi }}</option>
          {% endfor %}
        </select>
      </td>
      <td>
        <select id="mahasiswa_pt_tahun" class="form-control">
          <option value="">-- PILIH --</option>
          {% for i in "now"|date("Y")..2000 %}
            <option value="{{ i }}" {{ ( app.request.get('angkatan') == i ) ? 'selected' : '' }}>{{ i }}</option>
          {% endfor %}
        </select>
      </td>
      <td align="center"><button type="button" class="proses-btn btn btn-primary btn-sm" data-jenis="mahasiswa_pt">PROSES</button></td>
    </tr>
    <tr id="data-kurikulum">
      <td>Data Kurikulum</td>
      <td>
        <select id="kurikulum_prodi" class="form-control">
          <option value="">-- PILIH --</option>
          {% for prodi in prodiList %}
            <option value="{{ prodi.kodeProdi }}">{{ prodi.namaProdi }}</option>
          {% endfor %}
        </select>
      </td>
      <td></td>
      <td align="center"><button type="button" class="proses-btn btn btn-primary btn-sm" data-jenis="kurikulum">PROSES</button></td>
    </tr>
    <tr id="data-mata_kuliah">
      <td>Data Mata Kuliah</td>
      <td>
        <select id="mata_kuliah_prodi" class="form-control">
          <option value="">-- PILIH --</option>
          {% for prodi in prodiList %}
            <option value="{{ prodi.kodeProdi }}">{{ prodi.namaProdi }}</option>
          {% endfor %}
        </select>
      </td>
      <td></td>
      <td align="center"><button type="button" class="proses-btn btn btn-primary btn-sm" data-jenis="mata_kuliah">PROSES</button></td>
    </tr>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
{#     <tr id="data-krs">
      <td>Data KRS</td>
      <td>
        <select id="krs_prodi" class="form-control">
          <option value="">-- PILIH --</option>
          {% for prodi in prodiList %}
            <option value="{{ prodi.kodeProdi }}">{{ prodi.namaProdi }}</option>
          {% endfor %}
        </select>
      </td>
      <td></td>
      <td align="center"><button type="button" class="proses-btn btn btn-primary btn-sm" data-jenis="krs">PROSES</button></td>
    </tr>
    <tr id="data-kelas_kuliah">
      <td>Data Kelas Perkuliahan</td>
      <td>
        <select id="kelas_kuliah_prodi" class="form-control">
          <option value="">-- PILIH --</option>
          {% for prodi in prodiList %}
            <option value="{{ prodi.kodeProdi }}">{{ prodi.namaProdi }}</option>
          {% endfor %}
        </select>
      </td>
      <td></td>
      <td align="center"><button type="button" class="proses-btn btn btn-primary btn-sm" data-jenis="kelas_kuliah">PROSES</button></td>
    </tr> #}
    {% endif %}
  </tbody>
</table>

<br>

<div class="well">
<p><strong>Catatan!</strong> Meng-import data mahasiswa tidak termasuk dengan KRS dan nilai perkuliahan, untuk meng-import data KRS dan/atau nilai perkuliahan, silahkan import ulang data Mata Kuliah setiap <em>setelah</em> data mahasiswa diimport.</p>
</div>