{% extends 'base.html.twig' %}

{% block title %} Ubah KRS Mahasiswa  {% endblock %}

{% block css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="box">
	<div class="box-body">
		<form id="formPeminjaman" method="post" action="">

			<div class="row">

				<div class="col-sm-5">
					<div class="form-group">
						<label for="nim_mahasiswa">Mahasiswa</label>
						<select name="nim_mahasiswa" id="nim_mahasiswa" class="form-control"></select>
					</div>
					<br>


				</div>

				<div class="col-sm-offset-1 col-sm-6">

				</div>

			</div>
		</form>
		<table id="datatable2" data-ordering="false" data-paging="false" data-info="false" data-serching="false" class="table table-striped table-responsive">
			<thead>
				<tr>
					<th rowspan="2">No</th>
{# 					<th rowspan="2">NPM</th>
					<th rowspan="2">Nama Mahasiswa</th> #}
					<th rowspan="2">Nama Mata Kuliah</th>
					<th rowspan="2">Semester</th>
					<th rowspan="2">Kelas</th>
					<th class="text-center" colspan="{{ dataAspekNilai|length+2 }}">Nilai</th>
					{# <th rowspan="2">Status</th> #}
				</tr>
				<tr>
					{% if dataAspekNilai is defined %}
						{% for aspek in dataAspekNilai %}
						<th class="text-center">{{ aspek.nama }} ({{ aspek.persen }}%)</th>
						{% endfor %}
					{% endif %}
					<th class="text-center">H</th>
					<th class="text-center">A</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var table = $('#datatable2').DataTable( {
    	"serverSide": true,
		"ajax": {
		    "url": "/akademika/krs/ubah/index?json=true&dt=true",
		    "data": function ( d ) {
		        d.nim = $('#nim_mahasiswa').val();
		    }
		}
    } );
    $('#nim_mahasiswa').on('change', function(){
    	table.ajax.reload();
    });
} );
</script>
<script>
 $(function () {
 	// var angkatan = 
	$('#nim_mahasiswa').select2({
		ajax: {
			url: "{{ url('ajax_remote_data_user', {'_type': 'query', 'role': 'mahasiswa'}) }}",
			dataType: 'json',
			delay: 250,
			data: function (params) {
				return {
					term: params.term,
					q: params.term, // search term
					page: params.page
				};
			},
			processResults: function (data, params) {
				// parse the results into the format expected by Select2
				// since we are using custom formatting functions we do not need to
				// alter the remote JSON data, except to indicate that infinite
				// scrolling can be used
				params.page = params.page || 1;

				return {
					results: data.items,
					pagination: {
						more: (params.page * 30) < data.total_count
					}
				};
			},
			cache: true
		},
		placeholder: 'Ketik NPM atau Nama Mahasiswa',
		escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
		minimumInputLength: 1,
		templateResult: formatRepo,
		templateSelection: formatRepoSelection
	});
});

function formatRepo (repo) {
  if (repo.loading) {
    return repo.text;
  }

  var markup = "<div class='select2-result-repository clearfix'>" +
    "<div class='select2-result-repository__meta'>" +
      "<div class='select2-result-repository__title'>" + repo.full_name + "</div>";

  markup += "<div class='select2-result-repository__statistics'>" +
    "<div class='select2-result-repository__forks'>" + repo.custom + "</div>" +
  "</div>" +
  "</div></div>";

  return markup;
}

function formatRepoSelection (repo) {
  return repo.full_name || repo.text;
}
</script>


	{% for aspek in dataAspekNilai %}
		{% if aspek.nama != 'Absensi' %}
		<script>
		$('#nim_mahasiswa').on('change', function(){
			setTimeout(function(){
			    $('.nilai-aspek-{{ aspek.id }}').editable({
			        url: '{{ url("_edit_nilai_aspek") }}',
			        title: 'Input nilai',
			       	ajaxOptions: {
			           	dataType: 'json' 
			       	},
			       	success: function(data, config) {
			           	// if(data && data.id) {
			            //    // $("tr#data-"+data.id+" .lulus").html('Y');
			            //    $("tr#data-"+data.id+" .nilai-aspek-{{ aspek.id }}").text('adshjkdas');
			           	// }

			           	// $(this).html(data.nilai);
			           	console.log(data);
			           	var ctr = $(this);
			           	// setTimeout(function(){
			           	// 	$('#aspek-{{ aspek.id }}-'+data.mhs+' a').text(data.nilai);
			           	// 	$('#aspek-{{ aspek.id }}-'+data.mhs+' .aspek-persen').text(data.nilai_final);
			           	// }, 3000);
			       	}
			    }); 
			}, 3000);
		});
		</script>
		{% endif %}
	{% endfor %}

<script>
	$('#nim_mahasiswa').on('change', function(){
		setTimeout(function(){
		    $('.nilai_huruf').editable({
		        title: 'Nilai huruf',
		       	ajaxOptions: {
		           dataType: 'json' //assuming json response
		       	},
		       	success: function(data, config) {
		           	setTimeout(function(){
		           		$('.krs-'+data.krs_id+'.nilai_angka').text(data.angka);
		           	}, 3000);
		       	},
		        source: [
					{% for bn in dataBobotNilai %}
		              {value: '{{ bn.predikat }}', text: '{{ bn.predikat }}'}{% if not loop.last %},{% endif %}
		            {% endfor %}
		           ]
		    });
		}, 3000);
	});
</script>
{% endblock %}