{% extends 'base.html.twig' %}

{% block title %} Konfirmasi KRS Mahasiswa  {% endblock %}

{% block content %}
<div class="box no-border">
	<div class="box-body">
		<table class="table">			
			<tr {% if is_granted('ROLE_DOSEN') %}style="display:none"{% endif %}>
				<th width="130">Dosen</th>
				<td>
					<select class="form-control select2" id="nidn" style="width:200px">
						<option value="">-- Pilih --</option>
						{% for dosen in dataDosen %}
							{% if dosen.user is not null %}
							<option value="{{ dosen.id }}" {{ (app.request.get('dosen') == dosen.id) ? 'selected' : '' }}>{{ dosen.user.nama }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>
			{% if app.request.get('dosen') is not empty %}
			<tr>
				<th>Angkatan</th>
				<td>
					<select class="form-control" id="tahun" style="width:150px">
						<option value="">-- Pilih --</option>
						{% for i in "now"|date("Y")..1980 %}
							<option value="{{ i }}" {{ (app.request.get('tahun') == i) ? 'selected' : '' }}>{{ i }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<th>Mata Kuliah</th>
				<td>
					<select class="form-control" id="makul" style="width:200px">
						<option value="">-- Pilih --</option>
{# 						{% for makul in dataMakul %}
							<option value="{{ makul.id_mk }}" {{ (app.request.get('makul') == makul.id_mk) ? 'selected' : '' }}>{{ makul.nama_mk }}</option>
						{% endfor %} #}
						{% for makul in dataMakul %}
							<option value="{{ makul.id }}" {{ (app.request.get('makul') == makul.id) ? 'selected' : '' }}>{{ makul.nama }}</option>
						{% endfor %}
{# 						{% for makul in dataMakul %}
							<option value="{{ makul.makul.id }}" {{ (app.request.get('makul') == makul.makul.id) ? 'selected' : '' }}>{{ makul.makul.makul.nama }}</option>
						{% endfor %} #}
					</select>
				</td>
			</tr>
			<tr>
				<th>Kelas</th>
				<td>
					<select class="form-control" id="kelas" style="width:200px">
						<option value="">-- Pilih --</option>
						{% for kelas in dataKelas %}
							<option value="{{ kelas.id }}" {{ (app.request.get('kelas') == kelas.id) ? 'selected' : '' }}>{{ kelas.nama }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			{% endif %}
		</table>
		{% if app.request.get('tahun') is not empty and app.request.get('kelas') is not empty and app.request.get('makul') is not empty %}
		<hr>
		<table id="datatable1" class="table table-hover table-striped table-responsive">
			<thead>
				<tr>
					<th class="text-center">No</th>
					<th>NIM</th>
					<th>Nama</th>
					<th>Angkatan</th>
					<th>Semester</th>
					<th>Kelas</th>
					<th>Status</th>
					<th class="text-center">Aksi</th>
				</tr>
			</thead>
			<tbody>
				{% if data.error is null %}
					{% for td in data.result %}
						{% if is_granted('ROLE_DOSEN') %}


							<tr id="data-{{ td.id }}">
								<td align="center" width="20"></td>
								<td>{{ td.mahasiswa.user.username }}</td>
								<td>{{ td.mahasiswa.user.nama }}</td>
								<td>{{ td.mahasiswa.angkatan }}</td>
								<td>{{ td.mahasiswa.semester }}</td>
								<td>{{ (td.mahasiswa.kelas is not null) ? td.mahasiswa.kelas.nama : '' }}</td>
								<td align="center"><a href="{{ path("krs_cetak", {id: td.id}) }}" target="_blank" class="btn btn-default btn-xs"><i class="fa fa-print"></i></a></td>
								<td><a href="#" class="status-krs" data-type="select" data-pk="{{ td.id }}">{{ td.status|capitalize }}</a></td>
							</tr>



						{% else %}

							<tr id="data-{{ td.id }}">
								<td align="center" width="20"></td>
								<td>{{ td.nim_mhs }}</td>
								<td>{{ td.nama_mhs }}</td>
								<td>{{ td.angkatan }}</td>
								<td>{{ td.semester }}</td>
								<td>{{ td.kelas }}</td>
								<td><a href="#" class="status-krs" data-type="select" data-pk="{{ td.id }}">{{ td.status|capitalize }}</a></td>
								<td align="center" width="100">
									<a href="{{ path("krs_cetak", {nim: td.nim_mhs}) }}" target="_blank" class="btn btn-default btn-sm" title="Cetak KRS"><i class="fa fa-print"></i></a>
									<a href="#" data-id="{{ td.id }}" data-entity="Krs" class="btn btn-danger btn-sm hapus-btn" title="Hapus"><i class="fa fa-trash"></i></a>
								</td>
							</tr>

						{% endif %}	
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block js %}
<script>
  	$("#nidn, #tahun, #kelas, #makul").on('change', function(){
  		var url = "{{ url('krs_index') }}";
  		var nidn = ( $("#nidn").val() !== undefined ) ? $("#nidn").val() : '';
  		var tahun = ( $("#tahun").val() !== undefined ) ? $("#tahun").val() : '';
  		var kelas = ( $("#kelas").val() !== undefined ) ? $("#kelas").val() : '';
  		var makul = ( $("#makul").val() !== undefined ) ? $("#makul").val() : '';
  		if ( nidn != '' ) {
  			url += "?dosen="+nidn;
  		}
  		url += "&tahun="+tahun+"&kelas="+kelas+"&makul="+makul;
  		window.location.replace(url);
  	});
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script>
$(function(){
    $('.status-krs').editable({
        url: '{{ path("status_krs_update") }}',
        title: 'Pilih Status',
       	ajaxOptions: {
           dataType: 'json' //assuming json response
       	},
        source: [
              {value: 'proses', text: 'Proses'},
              {value: 'terima', text: 'Diterima'},
              {value: 'aktif', text: 'Aktif'}
           ]
    });
});
</script>
{% endblock %}