{% extends 'base.html.twig' %}

{% block title %} Rekap Nilai   {% endblock %}

{% block content %}
<div class="box">
	<div class="box-body">
		<div class="form-inline">
			<div class="form-group">
				<label for="semester">Semester</label>
				<select class="form-control" id="semester-select" style="width:200px;margin:0 .5em">
					<option value="">-- Pilih --</option>
					{% for i in 1..8 %}
						<option value="{{ i }}" {{ (app.request.get('semester') == i) ? 'selected' : '' }}>Semester {{ i }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<label>Angkatan</label>
				<select id="angkatan-select" class="form-control" style="width:200px;margin:0 .5em">
					<option value="">-- Pilih tahun --</option>
					{% for i in "now"|date("Y")..1980 %}
						<option value="{{ i }}" {{ ( app.request.get('angkatan') == i ) ? 'selected' : '' }}>{{ i }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<hr>
		<table id="datatable1" class="table table-hover table-striped table-responsive">
			<thead>
			<tr>
				<th>&nbsp;</th>
				<th>NIM</th>
				<th>Nama</th>
				<th>L/P</th>
				<th>IPK</th>
			</tr>
			</thead>
			<tbody>
			{% for td in data.result %}
				<tr id="data-{{ td.id }}">
					<td align="center" width="20"></td>
					<td>{{ td.nim }}</td>
					<td>{{ td.nama }}</td>
					<td>{{ td.jk|upper }}</td>
					<td>{{ td.ipk }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="box-footer"></div>
</div>
{% endblock %}

{% block js %}
<script>
    $(function(){
      // bind change event to select
      $('#semester-select').on('change', function () {
					var semester = $(this).val();
          var url = "{{ url('rekap_nilai_index') }}?angkatan={{ app.request.get('angkatan') }}&semester="+semester; // get selected value
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
      $('#angkatan-select').on('change', function () {
					var angkatan = $(this).val();
          var url = "{{ url('rekap_nilai_index') }}?semester={{ app.request.get('semester') }}&angkatan="+angkatan; // get selected value
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
    });
</script>
{% endblock %}