{% extends 'base.html.twig' %}

{% block title %} Data Dosen Pengampu {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ asset('plugins/x-editable/bootstrap3-editable/css/bootstrap-editable.css') }}">
<link rel="stylesheet" href="{{ asset('plugins/x-editable/inputs-ext/address/address.css') }}">
<style type="text/css">
/*	.table tr th, .table tr td {
		text-align: center !important;
	}*/
</style>
{% endblock %}

{% block content %}
<div class="box box-default">
	<div class="box-body">

		<table class="table no-border">			
			<tbody>
				<tr>
					<th>Kurikulum</th>
					<td>
						<select class="form-control" id="kurikulum-select" style="width:250px" required="">
							<option value="">-- Pilih --</option>
							{% for dk in dataKurikulum %}
								<option value="{{ dk.id }}" {{ (app.request.get('kurikulum') == dk.id) ? 'selected' : '' }}>{{ dk.nama }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<th width="130">Semester</th>
					<td>
						<select class="form-control" id="semester-select" style="width:250px" required="">
							<option value="">-- Pilih Semester --</option>
							{% for i in 1..8 %}
								<option value="{{ i }}" {{ (i == app.request.get('semester')) ? 'selected' : '' }}>Semester {{ i }} ({{app.user.prodi.namaProdi}})</option>
							{% endfor %}
						</select>
					</td>
				</tr>

			</tbody>

		</table>
		<br>
		{% if data.error is empty %}
	  	<table id="datatable1" data-searching="false" data-info="false" class="table table-bordered table-striped">
		    <thead>
		    	<tr>
		    		<th width="20">&nbsp;</th>
		    		<th>Kode MK</th>
					<th>Nama Mata Kuliah</th>
					<th>Kelas</th>
					<th width="100">&nbsp;</th>
			    </tr>
		    </thead>
		    <tbody>
				{% for td in data.result %}
					<tr id="data-{{ td.id }}">
						<td align="center"></td>
						<td>{{ td.kode_mk }}</td>
						<td>{{ td.nm_mk }}</td>
						<td>{{ td.kelas }}</td>
						<td>
							<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i> Tambah/Edit Dosen</a>
						</td>
					</tr>
				{% endfor %}
		    </tbody>
	  	</table>
	  	{% endif %}

	</div>
	<div class="box-footer"></div>
</div>
{% endblock %}

{% block js %}
<script>
	$(document).ready(function(){
		$("#kurikulum-select").on('change', function(){
			var url = "{{ url('dosen_pengampu') }}";
			var semester = "{{ app.request.get('semester') }}";
			var kurikulum = this.value;
			url += "?semester="+semester+"&kurikulum="+kurikulum;
			window.location.replace(url);
		});
		$("#semester-select").on('change', function(){
			var url = "{{ url('dosen_pengampu') }}";
			var semester = this.value;
			var kurikulum = "{{ app.request.get('kurikulum') }}";
			url += "?semester="+semester+"&kurikulum="+kurikulum;
			window.location.replace(url);
		});
	});
</script>
<script src="{{ asset('plugins/x-editable/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
<script>
$(function(){
    $('.dosen-pengampu').editable({
        url: '{{ path("dosen_pengampu_update") }}',
        title: 'Pilih Dosen',
       	ajaxOptions: {
           dataType: 'json' //assuming json response
       	},
        source: [ 
				{% for dosen in dataDosen %}
					{% if dosen.user is not null %}
	              {value: '{{ dosen.id }}', text: '{{ dosen.user.nama }}'}{% if not loop.last %},{% endif %}
	              	{% endif %}
	            {% endfor %}
           ]
    });
});
</script>
{% endblock %}