{% extends 'base.html.twig' %}

{% block title %} Inventaris {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

<div class="box no-border">
	<div class="box-header no-padding">
		{% include "partials/inventaris_nav.html.twig" %}
	</div>
	<div class="box-body">
	  <table class="table table-bordered table-striped">
	    <thead>
	    <tr>
			<th class="text-center">#</th>
			<th>Nama Lokasi</th>
			<th>Detail</th>
	    </tr>
	    </thead>
	    <tbody>
	    	{% set no = 1 %}
			{% for lokasi in lokasiList %}
			<tr id="id-{{ lokasi.id }}">
				<td width="50" align="center">{{ no }}</td>
				<td>{{ lokasi.namaLokasi }}</td>
				<td><a href="{{ path('inventaris_list', {'lokasi': lokasi.id}) }}">{{ lokasi.barang|length }} Barang</a></td>
			</tr>
			{% set no = no+1 %}
			{% endfor %}
	    </tbody>
	  </table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}
{% block js %}
<!-- DataTables -->
<script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
<script>
  	$(function () {
    	$("#datatable1").DataTable({
    		"searching": false,
    		"ordering": false
    	});
  	});
</script>
{% endblock %}