{% extends 'base.html.twig' %}

{% block title %} Data Lokasi {% endblock %}

{% block content %}
<div class="box no-border">
	<div class="box-header no-padding">
		{% include "partials/inventaris_nav.html.twig" %}
	</div>
	<div class="box-body">
		<div class="row">
			<div class="col-sm-12 col-md-5">
				{% form_theme form "form/bootstrap_3_layout.html.twig" %}

				{{ form_start(form) }}

				{{ form_errors(form) }}

				{{ form_widget(form) }}

				{{ form_end(form) }}
			</div>
			<div class="col-sm-12 col-md-offset-1 col-md-6">
			  	<table id="example1" class="table table-bordered table-striped">
					<thead>
					    <tr>
							<th>#</th>
							<th>Nama Lokasi</th>
							<th>&nbsp;</th>
					    </tr>
					</thead>
					<tbody>
						{% set no = 1 %}
						{% for lokasi in lokasiList %}
						<tr>
							<td>{{ no }}</td>
							<td>{{ lokasi.namaLokasi }}</td>
							<td align="center">
								<a href="#" class="btn btn-default btn-xs">Edit</a>
								<a href="#" class="btn btn-danger btn-xs" onclick="return confirm('Yakin ingin dihapus?')">Hapus</a>
							</td>
						</tr>
						{% set no = no+1 %}
						{% endfor %}
					</tbody>
			  	</table>
			</div>
		</div>
	</div>
	<div class="box-footer"></div>
</div>
{% endblock %}