{% extends 'base.html.twig' %}

{% block title %} Data Program Studi {% endblock %}

{% block content %}

<div class="box">
	<div class="box-header">
		<a href="{{ path('prodi_edit', {'aksi': 'tambah'}) }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a>
		<div class="box-tools pull-right"><button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button></div>
	</div>
	<div class="box-body">
	  <table id="datatable2" class="table table-responsive">
	    <thead>
	    <tr>
				<th>Kode</th>
				<th>Kode DIKTI</th>
				<th>Program Studi</th>
				<th>Jenjang</th>
				<th>&nbsp;</th>
	    </tr>
	    </thead>
	    <tbody>
			{% for td in prodiList %}
			<tr id="data-{{ td.id }}">
				<td>{{ td.kode }}</td>
				<td>{{ td.kodeProdi }}</td>
				<td>{{ td.namaProdi }}</td>
				<td>{{ td.jenjang }}</td>
				<td align="center" width="100">
					<a href="{{ path('prodi_edit', {'id': td.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
					<a href="#" class="btn btn-sm btn-danger hapus-btn" data-id="{{ td.id }}" data-entity="ProgramStudi"><i class="fa fa-trash"></i></a>
				</td>
			</tr>
			{% endfor %}
	    </tbody>
	  </table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}

{% block js %}
<script>
	$(function(){
		$("#datatable2").DataTable();
	});
</script>
{% endblock %}