{% extends 'base.html.twig' %}

{% block title %} Reset Password {% endblock %}

{% block content %}
<div class="box no-border">
	<div class="box-header">
		
	</div>
	<div class="box-body">

		<form class="form-horizontal" action="" id="cariForm">
			<div class="form-group">
				<label class="control-label col-sm-2">NIM/NIDN</label>
				<div class="col-sm-4">
					<input type="text" name="username" value="{{ app.request.get('username') }}" class="form-control">
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2"></label>
				<div class="col-sm-4">
					<button class="btn btn-primary">Cari</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</form>

		<div id="cariFormMsg"></div>

{# 		{% if form != '' %}
				{% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}

			  	{{ form_start(form) }}

			  	{{ form_errors(form) }}

			  	{{ form_widget(form) }}

			  	{{ form_end(form) }}
		{% endif %} #}

	</div>
</div>
{% endblock %}
