{% extends 'base.html.twig' %}

{% block title %} Data Asal Sekolah {% endblock %}

{% block content %}
<div class="box">
	<div class="box-header">
		<a href="{{ path('asal_sekolah', {'type': 'sekolah', 'aksi': 'edit'}) }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a>
		<div class="box-tools pull-right"><button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button></div>
	</div>
	<div class="box-body">
	  <table id="datatable1" class="table table-hover table-striped table-responsive">
	    <thead>
	    <tr>
				<th>&nbsp;</th>
				<th>Kode</th>
				<th>Nama Sekolah</th>
				<th>Kota/Kabupaten</th>
				<th>&nbsp;</th>
	    </tr>
	    </thead>
	    <tbody>
			{% for td in data %}
			<tr id="data-{{ td.id }}">
				<td align="center" width="20"></td>
				<td>{{ td.kode }}</td>
				<td>{{ td.nama }}</td>
				<td>{{ (td.wilayah is not null) ? td.wilayah.nama : '' }}</td>
				<td align="center" width="100">
					<a href="{{ path('asal_sekolah', {'aksi': 'edit', 'id': td.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
					<a href="#" class="btn btn-sm btn-danger hapus-btn" data-id="{{ td.id }}" data-entity="AsalSekolah"><i class="fa fa-trash"></i></a>
				</td>
			</tr>
			{% endfor %}
	    </tbody>
	  </table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}