{% extends 'base_print.html.twig' %}

{% block content %}
{% set pt = option.pt %}
{% set data = user.dataMahasiswa %}

<center>
	<table width="700"  border="0" cellspacing="1" cellpadding="1" >
		<tr>
			<td align="left">
				<table width="700" border="0" align=center cellspacing="1" cellpadding="1" class=no-style>
					<tr>
						<td width="16%" rowspan="4"><img src="{{ option.logo }}" width="80" height="80"></td>
						<td valign=top align=center><h1>{{ pt.nama }}</h1></td>
					</tr>
					<tr>
						<td width="84%" align=center>{{ pt.alamat }}</td>
					</tr>
					<tr>
						<td align=center>
							Telp. {{ pt.telp }}, 
							Email: {{ pt.email }}, 
							Website: {{ pt.website }}
						</td>
					</tr>
					<tr>
						<td align=center><h2>FORMULIR PENDAFTARAN MAHASISWA BARU</h2></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table  width="700" border="0" cellspacing="1" class="datatable" cellpadding="1" >
					<thead>
						<tr>
							<td align="right">JURUSAN/PROGRAM STUDI</td>
							<td align="left" width="200"><b >{{ user.prodi.jenjang }} {{ ( user.prodi is not null ) ? data.user.prodi.namaProdi : '' }}</b ></td>
						</tr>
					</thead>
				</table>
			</td>
		</tr>
		<tr>
			<td align=center><h2>BIODATA PRIBADI</h2></td>
		</tr>
		<tr>
			<td>
				<table width="700" border="1" cellspacing="1" cellpadding="1" class=rapor>
					<tr>
						<td width=150 align="left" valign="top">ID PMB</td>
						<td>{{ "%03d"|format(data.data.pmb.noUrut) }}</td>
					</tr>
					<tr>
						<td align="left"  valign="top">NIK</td>
						<td>{{ data.user.ktp }}</td>
					</tr>
					<tr>
						<td align="left" valign="top">ID KK</td>
						<td>{{ data.user.noKk }}</td>
					</tr>
					<tr>
						<td align="left"  valign="top">NPWP</td>
						<td>{{ data.user.npwp }}</td>
					</tr>
					<tr>
						<td width=150 align="left" valign="top">Nama Mahasiswa</td>
						<td>{{ data.user.nama }}</td>
					</tr>
					<tr>
						<td align="left" valign="top">Tempat/Tanggal Lahir</td>
						<td>{{ data.user.tptLahir }}{{ (data.user.tglLahir is not null or data.user.tglLahir is not empty) ? ', '~data.user.tglLahir|tanggal : '' }}</td>
					</tr>
							
					<tr>
						<td  align="left" valign="top">Jenis Kelamin</td>
						<td> {{ gender(data.user.jk) }} </td>
					</tr>
					<tr>
						<td  align="left" valign="top">Agama</td>
						<td> {{ ( data.user.agama is not null ) ? data.user.agama.nama : '' }}</td>
					</tr>
					<tr>
						<td  align="left" valign="top">Warga Negara</td>
						<td> {{ data.user.wargaNegara|upper }} </td>
					</tr>
					<tr>
						<td  align="left" valign="top">Status Sipil</td>
						<td> {{ data.user.statusSipil }} </td>
					</tr>
					<tr>
						<td align="left" valign="top">Telepon/HP</td>
						<td>{{ data.user.telp }} {{ (data.user.hp is not empty) ? '/ '~data.user.hp : '' }}</td>
					</tr>

					<tr>
						<td align="left" valign="top">Email</td>
						<td> {{ data.user.email }}</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td align=center><h2>ALAMAT</h2></td>
		</tr>
		<tr>
			<td>
				<table  width="700" cellspacing="1" cellpadding="1" class="rapor ">
					<tr>
	                    <td  width=150 valign="top">Alamat<font color="red"></font></td>
	                    <td> {{ data.user.alamat }} 
						</td>
	                </tr>
	                <tr>
	                    <td>RT/RW</td>
	                    <td>{{ data.user.rt }} / {{ data.user.rw }}</td>
	                </tr>
					<tr>
	                    <td>Dusun</td>
	                    <td>{{ data.user.dusun }}</td>
	                </tr>
					<tr>
	                    <td>Desa</td>
	                    <td>{{ data.user.desa }}</td>
	                </tr>
					<tr>
						<td>Kec/Kab/Pro</td><td>{{ (data.user.wilayah is not null) ? app_service.getWilayahName(data.user.wilayah.kode) : ''}}</td>
						</tr>
	             	<tr>
	             		<td valign="top">Pos</td>
	             		<td>{{ data.user.pos }}</td>
	             	</tr>
	             </table>
	        </td>
	    </tr>
		<tr>
			<td align=center><h2>BIODATA ORANG TUA</h2></td>
		</tr>
		<tr>
			<td>
				<table  width="700" cellspacing="1" cellpadding="1" class="rapor">
					<tr>
						<td width="150" align="left" valign="top"></td>
						<td width="270">AYAH</td>
						<td >IBU</td>
					</tr>
					<tr>
						<td width="150" align="left" valign="top">Nama</td>
						<td>{{ printOrangtua(data, 'ayah', 'nama') }}</td>
						<td>{{ printOrangtua(data, 'ibu', 'nama') }}</td>
					</tr>
					<tr>
						<td align="left" width="150" valign="top">NIK</td>
						<td>{{ printOrangtua(data, 'ayah', 'nik') }}</td>
						<td>{{ printOrangtua(data, 'ibu', 'nik') }}</td>
					</tr>
					<tr>
						<td align="left" valign="top">Agama</td>
						<td>{{ printOrangtua(data, 'ayah', 'agama') }}</td>
						<td>{{ printOrangtua(data, 'ibu', 'agama') }}</td>
					</tr>
					<tr>
						<td  align="left" valign="top">Pendidikan</td>
						<td>{{ printOrangtua(data, 'ayah', 'pendidikan') }}</td>
						<td>{{ printOrangtua(data, 'ibu', 'pendidikan') }}</td>
					</tr>
					<tr>
						<td align="left" valign="top">Pekerjaan</td>
						<td>{{ printOrangtua(data, 'ayah', 'pekerjaan') }}</td>
						<td>{{ printOrangtua(data, 'ibu', 'pekerjaan') }}</td>
					</tr>
					<tr>
						<td align="left" valign="top">Penghasilan</td>
						<td>{{ printOrangtua(data, 'ayah', 'penghasilan') }}</td>
						<td>{{ printOrangtua(data, 'ibu', 'penghasilan') }}</td>
					</tr>								
					<tr>
						<td align="left" valign="top">Status</td>
						<td>{{ printOrangtua(data, 'ayah', 'status') }}</td>
						<td>{{ printOrangtua(data, 'ibu', 'status') }}</td>
					</tr>							
	                <tr>
	                    <td valign="top">Alamat<font color="red"></font></td>
	                    <td>{{ printOrangtua(data, 'ayah', 'alamat') }}</td>
						<td>{{ printOrangtua(data, 'ibu', 'alamat') }}</td>
	                </tr>
	                <tr>
	                    <td width="150"  valign="top">Kota/Kabupaten</td>
	                    <td>{{ printOrangtua(data, 'ayah', 'kota') }}</td>
						<td>{{ printOrangtua(data, 'ibu', 'kota') }}</td>
	                </tr>
	                <tr>
	                    <td width="150"  valign="top">Propinsi</td>
	                    <td>{{ printOrangtua(data, 'ayah', 'provinsi') }}</td>
						<td>{{ printOrangtua(data, 'ibu', 'provinsi') }}</td>
	                </tr>
	             	<tr>
	                    <td valign="top">Pos</td>
	                    <td>{{ printOrangtua(data, 'ayah', 'pos') }}</td>
						<td>{{ printOrangtua(data, 'ibu', 'pos') }}</td>
	                </tr>
					<tr>
						<td align="left" valign="top">Telepon</td>
						<td>{{ printOrangtua(data, 'ayah', 'telp') }}</td>
						<td>{{ printOrangtua(data, 'ibu', 'telp') }}</td>
					</tr>
					<tr>
						<td align="left" valign="top">HP</td>
						<td>{{ printOrangtua(data, 'ayah', 'hp') }}</td>
						<td>{{ printOrangtua(data, 'ibu', 'hp') }}</td>
					</tr>
					<tr>
						<td align="left" valign="top">Email</td>
						<td>{{ printOrangtua(data, 'ayah', 'email') }}</td>
						<td>{{ printOrangtua(data, 'ibu', 'email') }}</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td align=center><h2>ASAL SEKOLAH/PINDAHAN</h2></td>
		</tr>
		{% if data.jenisDaftar is not null and data.jenisDaftar.kode == 1 %}
		<tr>
			<td>
				<div id="asalpt" style="display:block;">
					<table  width="700"  cellspacing="1" cellpadding="1" class="rapor ">
						<tr>
							<td width=150 align="left"  valign="top">Kode Sekolah</td>
							<td>{{ data.kodeSekolah }}</td>
						</tr>
						<tr>
							<td  align="left"   valign="top">Nama Sekolah</td>
							<td> {{ data.namaSekolah }} </td>
						</tr>
						<tr>
							<td  align="left" valign="top">NIS</td>
							<td> {{ data.nis }}</td>
						</tr>
						<tr>
							<td  align="left" valign="top">Nilai UN</td>
							<td> {{ data.nilaiUn }}</td>
						</tr>
					</table>
				</div> 
			</td>
		</tr>
		{% elseif data.jenisDaftar is not null and data.jenisDaftar.kode == 2 %}
		<tr>
			<td>
				<div id="asalpt">
					<table  width="700"  cellspacing="1" cellpadding="1" class="rapor ">
						<tr>
							<td width=150 align="left"  valign="top">Perguruan Tinggi</td>
							<td>{{ data.asalNamaPt }}</td>
						</tr>
						<tr>
							<td align="left" valign="top">Jenjang</td>
							<td>{{ data.asalJenjang }}</td>
						</tr>
						<tr>
							<td align="left" valign="top">Program Studi</td>
							<td> {{ data.asalProdi }} </td>
						</tr>	
						<tr>
							<td  align="left" valign="top">NIM Asal</td>
							<td>{{ data.asalNim }}</td>
						</tr>
						<tr>
							<td  align="left" valign="top">SKS Diakui</td>
							<td>{{ data.asalSksDiakui }}</td>
						</tr>
					</table>
				</div> 
			</td>
		</tr>
		{% endif %}
		<tr>
			<td><div class="page-break"></div></td>
		</tr>
		<tr>
			<td align=center><h2>HISTORI PENDIDIKAN</h2></td>
	  	</tr>
		<tr>
			<td>
				<table  width="700" border="0" align="center" cellpadding="1" cellspacing="0" class="rapor ">
				   	<thead>
				     	<tr>
					   		<th width="5%" align="center">No</th>
					   		<th  align="center">Tahun</th>
					   		<th  align="center">Tgl Ijazah</th>
					   		<th  align="center">Gelar</th>
				       		<th  align="center">Jenjang</th>
				       		<th  align="center">Bidang</th>
				     	</tr>
					</thead>
				 	<tbody>
				 		{% set no = 1 %}
				 		{% for pendidikan in data.riwayatPendidikan %}
				 		<tr>
			  				<td>{{ no }}</td>
			  				<td>{{ pendidikan.tahun }}</td>
			  				<td>{{ pendidikan.tglIjazah }}</td>
			  				<td>{{ pendidikan.gelarAkademik }}</td>
			  				<td>{{ pendidikan.jenjang }}</td>
			  				<td>{{ pendidikan.bidangKeilmuan }}</td>
						</tr>
						{% set no = no+1 %}
						{% endfor %}
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table width="700" border="1" cellspacing="1" cellpadding="1" class=no-style>
				  <tr>
				    <td width="50%" align=center valign=midle height="150">
						Mengatahui,
						<br/>Orang Tua 
					</td>
				    <td align=center valign=midle height=150> 
						.......... , {{ "now"|tanggal }}
						<br/>Pendaftar,
					</td>
				  </tr>
				  
				  <tr align=center valign=bottom>
				    <td></td>
				    <td align="center">
				    	<h2>{{ data.user.nama }}</h2>
				    </td>
				  </tr>
				</table>
			</td>
		</tr>
	</table>
	<br/>
</center>
{% endblock %}