{% extends 'base.html.twig' %}

{% block title %} Data Nilai Ujian Saringan Masuk {% endblock %}

{% block css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="box">
	<div class="box-header">
		<select id="periode" class="form-control" style="width:300px">
			<option value="">-- Periode PMB --</option>
			{% for pr in periodeList %}
				{% if pr.status != 'trash' %}
				<option value="{{ pr.id }}" {{ (app.request.get("periode") == pr.id) ? 'selected' : '' }}>Periode {{ pr.tahun }}/{{ pr.tahun+1 }} | {{ pr.prodi.namaProdi }}</option>
				{% endif %}
			{% endfor %}
		</select>
	</div>
	{% if app.request.get('periode') is not empty %}
	<div class="box-body">
		  <table id="datatable1" class="table table-hover table-striped table-responsive">
		    <thead>
		    	<tr>
		    		<th>&nbsp;</th>
					<th>ID PMB</th>
					<th>Nama Calon Mahasiswa</th>
					<th>Jenis Maba</th>
					<th>Nilai</th>
					<th>Lulus</th>
		    	</tr>
		    </thead>
		    <tbody>
		    	{% if periode is not null %}
		    	{% for mhs in periode.mahasiswa %}
		    		{% if mhs.maba == 1 %}
					<tr id="data-{{ mhs.id }}">
						<td align="center" width="20"></td>
						<td>{{ "%03d"|format(mhs.data.pmb.noUrut) }}</td>
						<td>{{ mhs.user.nama }}</td>
						<td>{{ printTerm(mhs.jenisDaftar) }}</td>
						<td><a href="#" class="nilai-usm" data-type="text" data-pk="{{ mhs.id }}">{{ mhs.data.pmb.nilaiUsm }}</a></td>
						<td><span class="lulus">{{ (mhs.data.pmb.lulus == 1) ? 'Y' : 'N' }}</span></td>
					</tr>
					{% endif %}
		    	{% endfor %} 
		    	{% endif %}
		    </tbody>
		  </table>
	</div>
	<div class="box-footer"></div>
	{% endif %}
</div>
{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script>
$(function(){
    $('.nilai-usm').editable({
        url: '{{ path("nilai_usm_update") }}', 
        title: 'Input Nilai USM',
       	ajaxOptions: {
           dataType: 'json' //assuming json response
       	},           
       	success: function(data, config) {
           if(data && data.lulus == 1) {
               $("tr#data-"+data.id+" .lulus").text('Y');
           } else {
           		$("tr#data-"+data.id+" .lulus").text('N');
           }
       	}
    });

    $('#periode').on( 'change', function(){
    	var url = '{{ path("nilai_usm_index") }}?periode='+this.value;
    	window.location.replace(url);
    });
});
</script>
{% endblock %}