{% extends 'base.html.twig' %}

{% block title %} Penerimaan Mahasiswa Baru {% endblock %}

{% block content %}

{{ form_start(form) }}
{{ form_errors(form) }}

	<div class="box">
		<div class="box-header">
			<select id="periode" class="form-control" style="width:300px">
				<option value="">-- Periode PMB --</option>
				{% for pr in periodeList %}
					{% if pr.status != 'trash' %}
					<option value="{{ pr.id }}" {{ (app.request.get("periode") == pr.id) ? 'selected' : '' }}>Periode {{ pr.tahun }}/{{ pr.tahun+1 }} | {{ pr.prodi.namaProdi }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
		{% set count = 0 %}
		{% if app.request.get('periode') is not empty %}
		<div class="box-body">
		  <table id="datatable1" class="table table-hover table-striped table-responsive">
		    <thead>
		    	<tr>
					<th>&nbsp;</th>
					<th>ID PMB</th>
					<th>Nama Calon Mahasiswa</th>
					<th>Jenis Maba</th>
					<th>Nilai</th>
					<th>Ket.</th>
					<th>&nbsp;</th>
		    	</tr>
		    </thead>
		    <tbody>
		    	{% if periode is not null %}
		    	{% for mhs in periode.mahasiswa %}
		    		{% if mhs.maba == 1 %}
						{% set nilaiMinimal = ( mhs.periode is not null ) ? mhs.periode.nilaiMinimal : 5 %}
						<tr id="data-{{ mhs.id }}">
							<td align="center" width="20"></td>
							<td>{{ "%03d"|format(mhs.data.pmb.noUrut) }}</td>
							<td>{{ mhs.user.nama }}</td>
							<td>{{ printTerm(mhs.jenisDaftar) }}</td>
							<td>{{ (mhs.data.pmb.nilaiUsm > 0) ? mhs.data.pmb.nilaiUsm : 0 }}</td>
							<td>							
								<span class="lulus">{{ (mhs.data.pmb.nilaiUsm >= nilaiMinimal) ? 'Lulus' : 'Gagal' }}</span>
							</td>
							<td align="center">
								<input type="checkbox" id="form_ids_{{mhs.id}}" name="form[ids][{{mhs.id}}]" value="1" {{ (mhs.data.pmb.nilaiUsm >= nilaiMinimal) ? '' : 'disabled' }}/>
							</td>
						</tr>
						{% set count = count+1 %}
					{% endif %}
				{% endfor %}
				{% endif %}
		    </tbody>
		  </table>
		</div>
		{% endif %}
		<div class="box-footer {% if count == 0 %}hide{% endif %}">
			<div class="text-right">
				{{ form_widget(form) }}
			</div>
		</div>
	</div>

{{ form_end(form) }}

{% endblock %}

{% block js %}
<script>
$(function(){
    $('#periode').on( 'change', function(){
    	var url = '{{ path("her_maba_index") }}?periode='+this.value;
    	window.location.replace(url);
    });
});
</script>
{% endblock %}