{% extends 'base.html.twig' %}

{% block title %} Edit Calon Maba {% endblock %}

{% block content %}

{% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}

{{ form_start(form) }}

{{ form_errors(form) }}

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#identitas" data-toggle="tab">Identitas</a></li>
      <li><a href="#alamat" data-toggle="tab">Alamat</a></li>
      <li><a href="#ortu" data-toggle="tab">Orang Tua</a></li>
      <li><a href="#akademik" data-toggle="tab">Akademik</a></li>
{#       <li><a href="#pmb" data-toggle="tab">PMB</a></li> #}
    </ul>
    <div class="tab-content">
      <div class="active tab-pane" id="identitas">

          {% for field in [ 
              'ktp',
              'noKk',
              'npwp',
              'nama',
              'tptLahir',
              'tglLahir',
              'jk',
              'agama',
              'wargaNegara',
              'statusSipil',
              'telp',
              'email'
          ] if (attribute(form, field) is defined) %}
              {{ form_row(attribute(form, field)) }}
          {% endfor %}

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
              <button type="submit" class="btn btn-primary btn">Simpan</button>
            </div>
          </div>
      </div>
      <!-- /.tab-pane -->
      <div class="tab-pane" id="alamat">
          {% for field in [ 
              'alamat',
              'rt',
              'rw',
              'dusun',
              'desa', 
              'wilayah',
              'pos'
          ] if (attribute(form, field) is defined) %}
              {{ form_row(attribute(form, field)) }}
          {% endfor %}
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
              <button type="submit" class="btn btn-primary btn">Simpan</button>
            </div>
          </div>
      </div>
      <!-- /.tab-pane -->

      <div class="tab-pane" id="ortu">
        <div class="row">
          <div class="col-sm-6">
            <h4 class="text-center">Data Ayah</h4>
            {{ form_widget(form.dataMahasiswa.orangtua.ayah) }}
          </div>
          <div class="col-sm-6">
            <h4 class="text-center">Data Ibu</h4>
            {{ form_widget(form.dataMahasiswa.orangtua.ibu) }}
          </div>
        </div>  
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6">
            <button type="submit" class="btn btn-primary btn">Simpan</button>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="akademik">

        {{ form_row(form.prodi) }}

        {% for field in [ 
            'statusMasuk',
        ] if (attribute(form.dataMahasiswa, field) is defined) %}
            {{ form_row(attribute(form.dataMahasiswa, field)) }}
        {% endfor %}

        <div id="status_masuk-baru" style="display:none">
          <hr>
          {% for field in [ 
              'kodeSekolah',
              'namaSekolah',
              'nis',
              'nilaiUn'
          ] if (attribute(form.dataMahasiswa, field) is defined) %}
              {{ form_row(attribute(form.dataMahasiswa, field)) }}
          {% endfor %}
        </div>

        <div id="status_masuk-pindahan" style="display:none">
          <hr>
          {% for field in [ 
              'asalKodePt',
              'asalNamaPt',
              'asalJenjang',
              'asalProdi',
              'asalNim',
              'asalSksDiakui'
          ] if (attribute(form.dataMahasiswa, field) is defined) %}
              {{ form_row(attribute(form.dataMahasiswa, field)) }}
          {% endfor %}
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6">
            <button type="submit" class="btn btn-primary btn">Simpan</button>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="pmb">

        {# {{ form_row(form.dataMahasiswa.pmb.jalur) }} #}

        <div class="hide">
            {{ form_rest(form) }}
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6">
            <button type="submit" class="btn btn-primary btn">Simpan</button>
          </div>
        </div>
      </div>
      
    </div>
    <!-- /.tab-content -->
</div>

{{ form_end(form) }}

{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function(){
      $("#form_dataMahasiswa_statusMasuk").on('change', function() {
        if(this.value == 'BARU') {
          $("#status_masuk-baru").show();
          $("#status_masuk-pindahan").hide();
        } else if(this.value == 'PINDAHAN') {
          $("#status_masuk-baru").hide();
          $("#status_masuk-pindahan").show();
        } else {
          $("#status_masuk-baru").hide();
          $("#status_masuk-pindahan").hide();
        }
      });
    });
    $(document).ready(function(){
      var statusMasuk = $("#form_dataMahasiswa_statusMasuk").val();
      if (statusMasuk == 'BARU') {
        $("#status_masuk-baru").show();
      } else if(statusMasuk == 'PINDAHAN') {
        $("#status_masuk-pindahan").show();
      }
    });
</script>
{% endblock %}