{% extends 'base_full.html.twig' %}

{% block title %} Preview {% endblock %}

{% block css %}
<style type="text/css">
	@media only screen and (min-width: 768px) {
		.table tr th {
			width: 250px;
			padding-left: 10px !important;
		}
	}
</style>
{% endblock %}

{% block content %}
{# {{ dump(data) }} #}
<div class="panel panel-primary">
  <div class="panel-heading">
		<h3 class="panel-title">DATA PRIBADI</h3>
	</div>
  <table class="table table-responsive">
    <tr>
			<th>ID PMB</th>
			<td>{{ "%03d"|format(data.dataMahasiswa.data.pmb.noUrut) }}</td>
		</tr>
		<tr>
			<th>Nama Mahasiswa</th>
			<td>{{ data.nama }}</td>
		</tr>
		<tr>
			<th>Tempat/Tanggal Lahir</th>
			<td>{{ data.tptLahir }}, {{ data.tglLahir|tanggal }}</td>
		</tr>
		<tr>
			<th>Jenis Kelamin</th>
			<td>{{ gender(data.jk) }}</td>
		</tr>
		<tr>
			<th>Agama</th>
			<td>{{ data.agama.nama }}</td>
		</tr>
		<tr>
			<th>Warga Negara</th>
			<td>{{ data.wargaNegara|upper }}</td>
		</tr>
		<tr>
			<th>Status Sipil</th>
			<td>{{ data.statusSipil }}</td>
		</tr>
		<tr>
			<th>Telp/HP</th>
			<td>{{ data.telp }}</td>
		</tr>
		<tr>
			<th>Email</th>
			<td>{{ data.email }}</td>
		</tr>
  </table>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
		<h3 class="panel-title">ALAMAT</h3>
	</div>
  <table class="table table-responsive">
    <tr>
			<th>Alamat</th>
			<td>{{ data.alamat }}</td>
		</tr>
		<tr>
			<th>RT/RW</th>
			<td>{{ data.rt }}/{{ data.rw }}</td>
		</tr>
		<tr>
			<th>Dusun</th>
			<td>{{ data.dusun }}</td>
		</tr>
		<tr>
			<th>Desa</th>
			<td>{{ data.desa }}</td>
		</tr>
		<tr>
			<th>Kec/Kab/Pro</th>
			<td>
				{{ (data.wilayah is not null) ? app_service.getWilayahName(data.wilayah.kode) : ''}}
			</td>
		</tr>
		<tr>
			<th>Kodepos</th>
			<td>{{ data.pos }}</td>
		</tr>
  </table>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
		<h3 class="panel-title">ORANG TUA</h3>
	</div>
  <table class="table table-responsive">
		<tr>
			<th>&nbsp;</th>
			<th>Ayah</th>
			<th>Ibu</th>
		</tr>
    <tr>
			<th>Nama</th>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ayah', 'nama') }}</td>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ibu', 'nama') }}</td>
		</tr>
		<tr>
			<th>Agama</th>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ayah', 'agama') }}</td>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ibu', 'agama') }}</td>
		</tr>
		<tr>
			<th>Pendidikan</th>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ayah', 'pendidikan') }}</td>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ibu', 'pendidikan') }}</td>
		</tr>
		<tr>
			<th>Pekerjaan</th>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ayah', 'pekerjaan') }}</td>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ibu', 'pekerjaan') }}</td>
		</tr>
		<tr>
			<th>Penghasilan</th>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ayah', 'penghasilan') }}</td>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ibu', 'penghasilan') }}</td>
		</tr>
		<tr>
			<th>Status</th>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ayah', 'status') }}</td>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ibu', 'status') }}</td>
		</tr>
		<tr>
			<th>Alamat</th>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ayah', 'alamat') }}</td>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ibu', 'alamat') }}</td>
		</tr>
		<tr>
			<th>Kota/Kabupaten</th>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ayah', 'kota') }}</td>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ibu', 'kota') }}</td>
		</tr>
		<tr>
			<th>Propinsi</th>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ayah', 'provinsi') }}</td>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ibu', 'provinsi') }}</td>
		</tr>
		<tr>
			<th>Kodepos</th>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ayah', 'pos') }}</td>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ibu', 'pos') }}</td>
		</tr>
		<tr>
			<th>Telepon</th>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ayah', 'telp') }}</td>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ibu', 'telp') }}</td>
		</tr>
		<tr>
			<th>HP</th>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ayah', 'hp') }}</td>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ibu', 'hp') }}</td>
		</tr>
		<tr>
			<th>Email</th>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ayah', 'email') }}</td>
			<td>{{ printOrangtua(data.dataMahasiswa, 'ibu', 'email') }}</td>
		</tr>
  </table>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
		<h3 class="panel-title">AKADEMIK</h3>
	</div>
  <table class="table table-responsive">
    <tr>
			<th>Program Studi</th>
			<td>{{ (data.prodi is not null) ? data.prodi.jenjang~' '~data.prodi.namaProdi : '' }}</td>
		</tr>
		<tr>
			<th>Status Masuk</th>
			<td>{{ (data.dataMahasiswa.jenisDaftar is not null and data.dataMahasiswa.jenisDaftar.kode > 1) ? 'PINDAHAN' : 'BARU'  }}</td>
		</tr>
		<tr>
			<th>Tahun Masuk</th>
			<td>-</td>
		</tr>
		<tr>
			<th>Semester Masuk</th>
			<td>-</td>
		</tr>
		<tr>
			<th>Tanggal Masuk</th>
			<td>-</td>
		</tr>
		<tr>
			<th>Kelas</th>
			<td>-</td>
		</tr>
		<tr>
			<th>Semester Sekarang</th>
			<td>-</td>
		</tr>
		<tr>
			<th>Status</th>
			<td>-</td>
		</tr>
		{% if data.dataMahasiswa.jenisDaftar is not null and data.dataMahasiswa.jenisDaftar.kode == 1 %}
{# 		<tr>
			<th>Kode Sekolah</th>
			<td>{{ data.dataMahasiswa.kodeSekolah }}</td>
		</tr> #}
		<tr>
			<th>Nama Sekolah</th>
			<td>{{ data.dataMahasiswa.namaSekolah }}</td>
		</tr>
		<tr>
			<th>NIS</th>
			<td>{{ data.dataMahasiswa.nis }}</td>
		</tr>
		<tr>
			<th>Nilai UN</th>
			<td>{{ data.dataMahasiswa.nilaiUn }}</td>
		</tr>
		{% elseif data.dataMahasiswa.jenisDaftar is not null and data.dataMahasiswa.jenisDaftar.kode == 2 %}
		<tr>
			<th>Asal Perguruan Tinggi</th>
			<td>{{ (data.dataMahasiswa.asalPt is not null) ? data.dataMahasiswa.asalPt.nama : '-' }}</td>
		</tr>
		<tr>
			<th>NIM Asal</th>
			<td>{{ data.dataMahasiswa.asalNim }}</td>
		</tr>
		<tr>
			<th>SKS Diakui Asal</th>
			<td>{{ data.dataMahasiswa.asalSksDiakui }}</td>
		</tr>
		{% endif %}
  </table>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
		<h3 class="panel-title">HISTORI PENDIDIKAN</h3>
	</div>
  <table class="table table-responsive">
  	<thead>
    	<tr>
			<th>No</th>
			<th>Tahun</th>
			<th>Tgl Ijazah</th>
			<th>Gelar</th>
			<th>Jenjang</th>
			<th>Bidang</th>
		</tr>
  	</thead>
  	<tbody>
  		{% set no = 1 %}
  		{% for pendidikan in data.dataMahasiswa.riwayatPendidikan %}
  			<tr>
  				<td>{{ no }}</td>
  				<td>{{ pendidikan.tahun }}</td>
  				<td>{{ pendidikan.tglIjazah }}</td>
  				<td>{{ pendidikan.gelarAkademik }}</td>
  				<td>{{ pendidikan.jenjang }}</td>
  				<td>{{ pendidikan.bidangKeilmuan }}</td>
  			</tr>
  			{% set no = no+1 %}
  		{% endfor %}
  	</tbody>
  </table>
</div>

<div>
	<a href="{{ path('pmb_formulir_cetak', {id: data.id}) }}" class="btn btn-primary"><i class="fa fa-print"></i> Cetak Formulir</a>
	{# <a href="#" class="btn btn-primary">Kembali</a> #}
</div>

{% endblock %}


