{% extends 'base.html.twig' %}

{% block title %} Pengajuan Wisuda {% endblock %}

{% block css %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}
<div class="box">
	<div class="box-header"></div>
	<div class="box-body">

    {% if periode is defined %}

      {% if "now"|date('Y-m-d H:i:s') > periode.tglMulai|date('Y-m-d H:i:s') and "now"|date('Y-m-d H:i:s') < periode.tglSelesai|date('Y-m-d H:i:s')  %}

        {% if is_granted('ROLE_MAHASISWA') %}

          <div class="row">
            <div class="col-sm-12 col-md-10">
              <table class="table">
                <tr>
                  <th width="200">NIM</th>
                  <td>{{ app.user.username }}</td>
                </tr>
                <tr>
                  <th>Nama</th>
                  <td>{{ app.user.nama }}</td>
                </tr>
                <tr>
                  <th>Jurusan</th>
                  <td>{{ (app.user.prodi is not null) ? app.user.prodi.jenjang.nama : '' }}</td>
                </tr>
                <tr>
                  <th>Program Studi</th>
                  <td>{{ (app.user.prodi is not null) ? app.user.prodi.namaProdi : '' }}</td>
                </tr>
              </table>
            </div>
            <div class="col-sm-12 col-md-2">

            </div>
          </div>

          {% if sudahAjukan == 1 %}

            <div class="alert alert-warning">
              <p><i class="fa fa-info"></i> Mahasiswa sudah mengajukan permintaan wisuda.</p>
            </div>

          {% else %}

            {% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}

            {{ form_start(form) }}

            {{ form_errors(form) }}

            {{ form_widget(form) }}

            {{ form_end(form) }}

          {% endif %}

        {% else %}


          {# {{ formCariMahasiswa(path('wisudawan_cari_mahasiswa'))|raw }} #}

      		<form action="" method="get" class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">NIM</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" name="nim" value="{{ app.request.get('nim') }}" style="width: 300px">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Cari</button>
              </div>
            </div>
          </form>



          {% if mhs is defined %}
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered table-responsive">
                <tbody>
                  <tr>
                    <td>Nama Mahasiswa</td>
                    <td><strong>{{ mhs.user.nama }}</strong></td>
                  </tr>
                  <tr>
                    <td>NIM</td>
                    <td><em>{{ mhs.user.username }}</em></td>
                  </tr>
                  <tr>
                    <td>Tahun Angkatan</td>
                    <td>{{ mhs.angkatan }}</td>
                  </tr>
                  <tr>
                    <td>Prodi/Jurusan</td>
                    <td>{{ printTerm(mhs.user.prodi.jenjang) }} {{ (mhs.user.prodi is not null) ? mhs.user.prodi.namaProdi : '' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}


          {% if app.request.get('nim') is not empty %}
      		<div class="wisadawan-form-wrap">
      			{% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}
       
      			{{ form_start(form) }}

      			{{ form_errors(form) }}

      			{{ form_widget(form) }}

      			{{ form_end(form) }}
      		</div>
          {% endif %}

        {% endif %}

      {% else %}

        <div class="alert alert-warning">
          <p><i class="fa fa-info"></i> Periode wisuda belum dimulai atau sudah ditutup.</p>
        </div>

      {% endif %}

    {% else %}

      <div class="alert alert-warning">
        <p><i class="fa fa-info"></i> Periode wisuda belum dimulai atau sudah ditutup.</p>
      </div>

    {% endif %}

	</div>
</div>
{% endblock %}

{% block js %}
{% if is_granted('ROLE_ADMIN') %}
<script>
  $("input[name='nim']").on('change', function(){
    $("#form_mahasiswa").val(this.value);
  });
</script>
<script>
  $(function() {
      var form = $('#cariForm');
      var formMessages = $('#cariFormMsg');
      $(form).submit(function(e) {
        e.preventDefault();
        var formData = $(form).serialize();
        $.ajax({
          type: 'POST',
          url: $(form).attr('action'),
          data: formData
        })
        .done(function(response) {
        	$('.wisadawan-form-wrap').show();
          $(formMessages).html(response);
        })
        .fail(function(data) {
          $('.wisadawan-form-wrap').hide();
          if (data.responseText !== '') {
            $(formMessages).html(data.responseText);
          } else {
            $(formMessages).html('Oops! An error occured and your message could not be sent.');
          }
        });
      });
    });
</script>
{% endif %}
{% endblock %}