{% extends 'base.html.twig' %}

{% block title %} Periode Wisuda {% endblock %}

{% block content %}
<div class="box no-border">
	<div class="box-header">
		<a href="{{ path('wisuda_periode_index', {'aksi': 'edit'}) }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Tambah data</a>
		<div class="box-tools pull-right"><button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button></div>
	</div>
	<div class="box-body">
		<table id="datatable1" class="table table-hover table-striped table-responsive">
			<thead>
			<tr>
				<th>&nbsp;</th>
				<th>Tahun</th>
				<th>Nama Periode</th>
				<th>Wisudawan</th>
				<th>&nbsp;</th>
			</tr>
			</thead>
			<tbody>
			{% for td in data %}
			<tr id="data-{{ td.id }}">
				<td align="center" width="20"></td>
				<td>{{ td.tahun.nama }}</td>
				<td>{{ td.nama }}</td>
				<td>{{ td.wisudawan|length }}</td>
				<td align="center" width="100">
					<a href="{{ path('wisuda_periode_index', {'aksi': 'edit', 'id': td.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
					<a href="#" data-id="{{ td.id }}" data-entity="WisudaPeriode" class="btn btn-danger btn-sm hapus-btn"><i class="fa fa-trash"></i></a>
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
