{% extends 'base.html.twig' %}

{% block title %} Daftar Wisudawan(i) {% endblock %}

{% block content %}
<div class="box">
	<div class="box-header"></div>
	<div class="box-body">
		<table id="datatable1" class="table table-hover table-striped table-responsive">
		<thead>
		<tr>
			<th class="text-center">No</th>
			<th>NIM</th>
			<th>Nama</th>
			<th>Tahun Masuk</th>
			<th>SKS</th>
			<th>IPK</th>
			<th>Status</th>
			{% if is_granted('ROLE_ADMIN') %} <th>Terima</th> {% endif %}
		</tr>
		</thead>
		<tbody>
		{% for td in data %}
			{% if td.mahasiswa is not null and app.user.prodi is not null and td.mahasiswa.user.prodi == app.user.prodi %}
			<tr id="data-{{ td.id }}">
				<td align="center" width="20"></td>
				<td>{{ td.mahasiswa.user.username }}</td>
				<td>{{ td.mahasiswa.user.nama }}</td>
				<td>{{ td.mahasiswa.angkatan }}</td>
				<td></td>
				<td></td>
				<td></td>
				{% if is_granted('ROLE_ADMIN') %} <td></td> {% endif %}
			</tr>
			{% endif %}
		{% endfor %}
		</tbody>
		</table>
	</div>
</div>
{% endblock %}