{% extends 'base.html.twig' %}

{% block title %} Laporan Pustaka Belum Kembali {% endblock %}

{% block content %}
<div class="box box-default">
	<div class="box-body">
	  	<table id="datatable1" class="table table-hover table-striped table-responsive">
		    <thead>
					<tr>
						<th>&nbsp;</th>
						<th>Kode</th>
						<th>Judul</th>
						<th>Klasifikasi</th>
						<th>Rak</th>
						<th>Anggota</th>
						<th>&nbsp;</th>
					</tr>
		    </thead>
		    <tbody>
				{% for td in data %}
					{% if td.pustaka is not null %}
					<tr id="data-{{ td.id }}">
						<td align="center" width="20"></td>
						<td>{{ td.pustaka.kode }}</td>
						<td>{{ td.pustaka.judul }}</td>
						<td>{{ (td.pustaka.klasifikasi is not null) ? td.pustaka.klasifikasi.nama : '' }}</td>
						<td>{{ (td.pustaka.lokasi is not null) ? td.pustaka.lokasi.nama : '' }}</td>
						<td>{{ (td.anggota is not null) ? td.anggota.nama : '' }}</td>
						<td align="center" width="100">
							<a href="{{ path('pustaka_belum_kembali_cetak', {'id': td.pustaka.id}) }}" class="btn btn-sm btn-primary" target="_blank"><i class="fa fa-print"></i></a>
						</td>
					</tr>
					{% endif %}
				{% endfor %}
		    </tbody>
	  	</table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}
