{% extends 'base.html.twig' %}

{% block title %} Laporan Histori Peminjaman {% endblock %}

{% block content %}

<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#dosen" data-toggle="tab">Dosen</a></li>
    <li><a href="#pegawai" data-toggle="tab">Pegawai</a></li>
    <li><a href="#mahasiswa" data-toggle="tab">Mahasiswa</a></li>
  </ul>
  <div class="tab-content">
    <div class="active tab-pane" id="dosen">

      <table class="table table-bordered table-responsive table-hover">
        <thead>
          <tr>
            <th rowspan="2">&nbsp;</th>
            <th rowspan="2">NIDN</th>
            <th rowspan="2">Nama</th>
            <th class="text-center" rowspan="2">L/P</th>
            <th class="text-center" colspan="2">Histori</th>
          </tr>
          <tr>
            <th class="text-center">Peminjaman</th>
            <th class="text-center">Belum Kembali</th>
          </tr>
        </thead>
        <tbody>
          {% set no = 1 %}
          {% for td in dataDosen %}
            {% if td.user is not null %}
            <tr>
              <td>{{ no }}</td>
              <td>{{ td.user.username }}</td>
              <td>{{ td.user.nama }}</td>
              <td align="center">{{ td.user.jk|upper }}</td>
              <td align="center">{{ printTotalPerpusPeminjaman(td.user) }}</td>
              <td align="center">{{ printTotalPerpusPengembalian(td.user) }}</td>
            </tr>
            {% set no = no+1 %}
            {% endif %}
          {% endfor %}
        </tbody>
      </table>

    </div>
    <!-- /.tab-pane -->
    <div class="tab-pane" id="pegawai">
      <table class="table table-bordered table-responsive table-hover">
        <thead>
          <tr>
            <th rowspan="2">&nbsp;</th>
            <th rowspan="2">NIP</th>
            <th rowspan="2">Nama</th>
            <th class="text-center" rowspan="2">L/P</th>
            <th class="text-center" colspan="2">Histori</th>
          </tr>
          <tr>
            <th class="text-center">Peminjaman</th>
            <th class="text-center">Belum Kembali</th>
          </tr>
        </thead>
        <tbody>
          {% set no = 1 %}
          {% for td in dataPgw %}
            {% if td.user is not null %}
            <tr>
              <td>{{ no }}</td>
              <td>{{ td.user.username }}</td>
              <td>{{ td.user.nama }}</td>
              <td align="center">{{ td.user.jk|upper }}</td>
              <td align="center">{{ printTotalPerpusPeminjaman(td.user) }}</td>
              <td align="center">{{ printTotalPerpusPengembalian(td.user) }}</td>
            </tr>
            {% set no = no+1 %}
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.tab-pane -->

    <div class="tab-pane" id="mahasiswa">
      <table class="table table-bordered table-responsive table-hover">
        <thead>
          <tr>
            <th rowspan="2">&nbsp;</th>
            <th rowspan="2">NIM</th>
            <th rowspan="2">Nama</th>
            <th class="text-center" rowspan="2">L/P</th>
            <th class="text-center" colspan="2">Histori</th>
          </tr>
          <tr>
            <th class="text-center">Peminjaman</th>
            <th class="text-center">Belum Kembali</th>
          </tr>
        </thead>
        <tbody>
          {% set no = 1 %}
          {% for td in app_service.getListMahasiswa() %}
            {% if td.user is not null %}
            <tr>
              <td>{{ no }}</td>
              <td>{{ td.user.username }}</td>
              <td>{{ td.user.nama }}</td>
              <td align="center">{{ td.user.jk|upper }}</td>
              <td align="center">{{ printTotalPerpusPeminjaman(td.user) }}</td>
              <td align="center">{{ printTotalPerpusPengembalian(td.user) }}</td>
            </tr>
            {% set no = no+1 %}
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.tab-pane -->
  </div>
  <!-- /.tab-content -->
</div>

{% endblock %}