{% extends 'base.html.twig' %}

{% block title %} Rincian Biaya Kuliah {% endblock %}

{% block content %}
<div class="box">
	<div class="box-header">
		<a href="{{ path('biaya_kuliah_index', {aksi: 'edit'}) }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a>
	</div>
	<div class="box-body">

		<table id="datatable1" class="table table-hover table-striped table-responsive">
			<thead>
				<tr>
					<th class="text-center">No</th>
					<th>Nama Tagihan</th>
					<th>Semester</th>
					<th>Batas Pembayaran</th>
					<th>Syarat KRS</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{% for td in data %}
					<tr id="data-{{ td.id }}">
						<td align="center" width="20"></td>
						<td>{{ td.nama }}</td>
						<td>{{ td.semester }}</td>
						<td>{{ (td.batasBayar is not null) ? td.batasBayar|date('d F Y') : '' }}</td>
						<td>{{ td.syaratKrs }}</td>
            <td align="center" width="100">
              <a href="{{ path('biaya_kuliah_index', {aksi: 'edit', id: td.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
              <a href="#" class="btn btn-sm btn-danger hapus-btn" data-entity="PembayaranBiayaKuliah" data-id="{{ td.id }}"><i class="fa fa-trash"></i></a>
            </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block js %}
<script>
  $(function() {
      var form = $('#cariForm');
      var formMessages = $('#cariFormMsg');
      $(form).submit(function(e) {
        e.preventDefault();
        formMessages.hide();
        var formData = $(form).serialize();
        $.ajax({
          type: 'POST',
          url: $(form).attr('action'),
          data: formData,
          success: function(data) {
          	if ( data.nama ) {
          		$("#form_namaMahasiswa").val(data.nama);
          		$("#form_nimMahasiswa").val(data.username);
          		formMessages.show();
          	}
          }
        });
      });
    });
</script>
{% endblock %}