{% extends 'base.html.twig' %}

{% block title %} Tambah/Edit Rekomendasi Pembayaran {% endblock %}

{% block content %}
<div class="box no-border">
	<div class="box-header"></div>
	<div class="box-body">

		<form action="{{ path("rekomendasi_pembayaran_cari") }}" method="post" class="form-horizontal" id="cariForm">
			<div class="form-group">
				<label class="col-sm-3 control-label required" for="form_nim">NIM</label>
				<div class="col-sm-6"><input name="nim" required="required" class="form-control" type="text"></div>
				<div class="clear"></div>
			</div>
			<div class="form-group">
				<div class="col-sm-3"></div>
				<div class="col-sm-6"><button type="submit" class="btn btn-primary btn">Cari</button></div>
			</div>
		</form>
	  	<div id="cariFormMsg"></div>

	</div>
</div>

<div class="modal fade" id="rekomendasiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">
		{% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}

	  	{{ form_start(form) }}

	  	{{ form_errors(form) }}

	  	{{ form_widget(form) }}

	  	{{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$('#rekomendasiModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var nama = button.data('nama')
  var nim = button.data('nim')
  var prodi = button.data('prodi')
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  // modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('#form_nim').val(nim)
  modal.find('#form_nama').val(nama)
  modal.find('#form_prodi').val(prodi)
})
</script>	
<script>
  $(function() {
      var form = $('#cariForm');
      var formMessages = $('#cariFormMsg');
      $(form).submit(function(e) {
        e.preventDefault();
        var formData = $(form).serialize();
        $.ajax({
          type: 'POST',
          url: $(form).attr('action'),
          data: formData
        })
        .done(function(response) {
          $(formMessages).html(response);
        })
        .fail(function(data) {
          if (data.responseText !== '') {
            $(formMessages).html(data.responseText);
          } else {
            $(formMessages).html('Oops! An error occured and your message could not be sent.');
          }
        });
      });
    });
</script>

{% endblock %}