{% extends 'base.html.twig' %}

{% block title %} Transaksi Pembayaran {% endblock %}

{% block content %}
<div class="box">
	<div class="box-header"></div>
	<div class="box-body">

		{% if is_granted('ROLE_MAHASISWA') %}

			<table class="table">
				<tr>
					<td width="200">Nama</td>
					<td id="mhs-nama">{{ app.user.nama }}</td>
				</tr>
				<tr>
					<td>NIM</td>
					<td id="mhs-nim">{{ app.user.username }}</td>
				</tr>
				<tr>
					<td>Semester</td>
					<td id="mhs-semester">{{ app.user.dataMahasiswa.semester }}</td>
				</tr>
				<tr>
					<td>Tahun Angkatan</td>
					<td id="mhs-tahun">{{ app.user.dataMahasiswa.angkatan }}</td>
				</tr>
				<tr>
					<td>Program Studi</td>
					<td id="mhs-prodi">{{ (app.user.prodi is not null) ? app.user.prodi.namaProdi : '' }}</td>
				</tr>
			</table>
			<br><br>
			<table id="datatable1" class="table table-hover table-striped table-responsive">
				<thead>
					<tr>
						<th class="text-center">No</th>
						<th>Nama Tagihan</th>
						<th>Jumlah Total</th>
						<th>Dibayar</th>
						<th>Kekurangan</th>
						<th>Proses</th>
					</tr>
				</thead>
				<tbody>
					{% for td in data %}
						{% if app.user.dataMahasiswa.semester == td.semester %}
						{% set totalBiayaKuliah = td.gelombang1+td.gelombang2+td.gelombang3 %}
						{% set totalSudahDibayar = printBiayaKuliahDibayar(td) %}
						<tr id="data-{{ td.id }}">
							<td align="center" width="20"></td>
							<td>{{ td.nama }}</td>
							<td>{{ price(totalBiayaKuliah) }}</td>
							<td>{{ price(totalSudahDibayar) }}</td>
							<td>{{ price(totalBiayaKuliah-totalSudahDibayar) }}</td>
							<td></td>
						</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>

		{% else %}

			<form action="" method="get" class="form-horizontal" id="cariForm">
				<div class="form-group">
					<label class="col-sm-3 control-label required" for="nim">NIM</label>
					<div class="col-sm-6">
						<input name="nim" required="required" class="form-control" value="{{ app.request.get('nim') }}" type="text">
					</div>
					<div class="clear"></div>
				</div>
				<div class="form-group">
					<div class="col-sm-3"></div>
					<div class="col-sm-6">
						<button type="submit" class="btn btn-primary btn">Cari</button>
					</div>
				</div>
			</form>
			<br>
			<div id="cariFormMsg" style="display:none">
				<table class="table">
					<tr>
						<td>Nama</td>
						<td id="mhs-nama"></td>
					</tr>
					<tr>
						<td>NIM</td>
						<td id="mhs-nim"></td>
					</tr>
					<tr>
						<td>Semester</td>
						<td id="mhs-semester"></td>
					</tr>
					<tr>
						<td>Tahun Angkatan</td>
						<td id="mhs-tahun"></td>
					</tr>
					<tr>
						<td>Program Studi</td>
						<td id="mhs-prodi"></td>
					</tr>
				</table>
				<br>
				<table id="datatable1" class="table table-hover table-striped table-responsive">
					<thead>
						<tr>
							<th class="text-center">No</th>
							<th>Nama Tagihan</th>
							<th>Jumlah Total</th>
							<th>Dibayar</th>
							<th>Kekurangan</th>
							<th>Proses</th>
						</tr>
					</thead>
					<tbody>
						{% for td in data %}
							<tr id="data-{{ td.id }}">
								<td align="center" width="20"></td>
								<td>{{ td.nama }}</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

		{% endif %}
	</div>
</div>

<div class="box">
	<div class="box-header">
		<h3 class="box-title">History Pembayaran</h3>
	</div>
	<div class="box-body">
		<table id="datatable2" class="table table-bordered table-striped"
			<thead>
				<tr>
					<th>No</th>
					<th>Tanggal</th>
					<th>Pembayaran</th>
					<th>Jumlah</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			{% if is_granted('ROLE_MAHASISWA') %}
				<tbody>
					{% set no = 1 %}
					{% if dataTransaksiPembayaran is defined %}
					{% for trx in dataTransaksiPembayaran %}
						<tr>
							<td align="center" width="20">{{ no }}</td>
							<td>{{ (trx.tanggal is not null) ? trx.tanggal|date('d F Y') : '' }}</td>
							<td>{{ (trx.biayaKuliah is not null) ? trx.biayaKuliah.nama : '' }}</td>
							<td>{{ price(trx.jumlah) }}</td>
							<td></td>
						</tr>
						{% set no = no+1 %}
					{% endfor %}
					{% endif %}
				</tbody>
			{% endif %}
		</table>
	</div>
</div>
{% endblock %}

{% block js %}
{% if is_granted('ROLE_ADMIN') %}
{% if app.request.get('nim') is not empty %}
<script>
  $(function() {
  	var form = $('#cariForm');
  	var formMessages = $('#cariFormMsg');
    formMessages.hide();
    var nim = "{{ app.request.get('nim') }}";
  	if ( nim !== '' ) {
        $.ajax({
          type: 'POST',
          url: "{{ path('ambil_data_user') }}",
          data: {id: parseInt(nim)},
          success: function(response) {
          	if ( response.data ) {
          		$("#mhs-nama").text(response.nama);
          		$("#mhs-nim").text(response.username);
          		$("#mhs-semester").text(response.data.semester);
          		$("#mhs-tahun").text(response.data.angkatan);
          		$("#mhs-prodi").text(response.prodi);
          		formMessages.show();

		    	$("#datatable2").DataTable({
		    		"searching":false,
		    		"paging":false,
		    		"info":false,
		    		"ordering":false,
		    		"ajax": {
		    			type: "POST",
		    			url: "{{ url('data_list_transaksi_pembayaran') }}"
		    		},
		    		"columns": [
		    			{ 
		    				"data": "tanggal",
						    "render": function ( data, type, row, meta ) {
						      return (data !== null) ? new Date(data) : '';
						    }
		    			},
		    			{ "data": "ket" },
		    			{ "data": "jumlah" },
		    			{ "data": "tes" }
		    		]
		    	});
          	}
          }
        });
    }
 });
</script>
{% endif %}
{% endif %}
{% endblock %}