{% extends 'base_full.html.twig' %}

{# {% if periode|length > 1 %}
{% set tahun = periode.tahun.nama %}
{% else %}
{% set tahun = periode.tahun.nama %}
{% endif %} #}

{#
	RUle PMB Online:
	Jika tidak ada tahun akademik yang dibuka, maka form tidak muncul.
	Jika tahun akademik dibuka, form akan mengecek periode PMB yang diset
	dalam tahun akademik yang aktif...

	Form tampil jika periode pmb tersebut aktif...
#}

{# {% block title %} Form PMB tahun {{ periode.tahunAngkatan.tahun }} {% endblock %} #}
{% block title %} Form PMB tahun {{ "now"|date("Y") }} {% endblock %}

{% block content %}

{% set periodeMulai = dateRange(periode.tglPendaftaran, 'mulai') %}
{% set periodeAkhir = dateRange(periode.tglPendaftaran, 'akhir') %}

{# {% if "now"|date("Y-m-d H:i") < periodeMulai|date("Y-m-d H:i") or "now"|date("Y-m-d H:i") > periodeAkhir|date("Y-m-d H:i") %}

	<div class="alert alert-warning">
		<p><i class="fa fa-info"></i> Periode PMB belum dimulai atau sudah berakhir.</p>
	</div>

{% else %} #}

	{% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}

	{{ form_start(form, {'attr': {'id': 'validation'}}) }}

	{{ form_errors(form) }}

	<div id="pmb-wizard" class="nav-tabs-custom wizard" role="tabpanel">
		<ul class="nav nav-tabs wizard-steps" role="tablist">
		  <li class="active"><a href="#identitas" data-toggle="tab">Identitas</a></li>
		  <li><a href="#alamat" data-toggle="tab">Alamat</a></li>
		  <li><a href="#orangtua" data-toggle="tab">Orang Tua</a></li>
		  <li><a href="#akademik" data-toggle="tab">Akademik</a></li>
		  <li><a href="#berkas" data-toggle="tab">Berkas</a></li>
		  <li><a href="#pendidikan" data-toggle="tab">Pendidikan</a></li>
		</ul>
		<div class="tab-content wizard-content">
		  <div class="active tab-pane wizard-pane" id="identitas" role="tabpanel">
		    
				{{ form_row(form.dataMahasiswa.pmb.periode) }}
				
				{{ form_row(form.dataMahasiswa.pmb.jalur) }}
				
				{{ form_row(form.nama) }}
				
				{{ form_row(form.tptLahir) }}
				
				{{ form_row(form.tglLahir) }}
				
				{{ form_row(form.ktp) }}
				
				{{ form_row(form.noKk) }}
				
				{{ form_row(form.npwp) }}
				
				{{ form_row(form.jk) }}
				
				{{ form_row(form.agama) }}
				
				{{ form_row(form.wargaNegara) }}
				
				{{ form_row(form.statusSipil) }}
				
				{{ form_row(form.telp) }}
				
				{{ form_row(form.email) }}

		  </div>
		  <div class="tab-pane wizard-pane" id="alamat" role="tabpanel">

				{{ form_row(form.alamat) }}
				
				{{ form_row(form.rt) }}
				
				{{ form_row(form.rw) }}
				
				{{ form_row(form.dusun) }}

				{{ form_row(form.desa) }}
				
				{{ form_row(form.rt) }}
				
				{# {{ form_row(form.kecamatan) }} #}

				{{ form_row(form.wilayah) }}
				
				{{ form_row(form.pos) }}

		  </div>
		  <div class="tab-pane wizard-pane" id="orangtua" role="tabpanel">
				<div class="row">
					<div class="col-sm-6">
						<h4 class="text-center">Data Ayah</h4>
						{{ form_widget(form.dataMahasiswa.orangtua.ayah) }}
					</div>
					<div class="col-sm-6">
						<h4 class="text-center">Data Ibu</h4>
						{{ form_widget(form.dataMahasiswa.orangtua.ibu) }}
					</div>
				</div>	
		  </div>
			<div class="tab-pane wizard-pane" id="akademik" role="tabpanel">
				
				{{ form_row(form.dataMahasiswa.statusMasuk) }}
				
				<div id="status_masuk-baru" style="display:none">
					{% for field in [ 
							'kodeSekolah',
							'namaSekolah',
							'nis',
							'nilaiUn'
					] if (attribute(form.dataMahasiswa, field) is defined) %}
							{{ form_row(attribute(form.dataMahasiswa, field)) }}
					{% endfor %}
				</div>
				
				<div id="status_masuk-pindahan" style="display:none">
					{% for field in [ 
							'asalKodePt',
							'asalNamaPt',
							'asalJenjang',
							'asalProdi',
							'asalNim',
							'asalSksDiakui'
					] if (attribute(form.dataMahasiswa, field) is defined) %}
							{{ form_row(attribute(form.dataMahasiswa, field)) }}
					{% endfor %}
				</div>
		  </div>
			<div class="tab-pane wizard-pane" id="berkas" role="tabpanel">
				{{ form_widget(form.dataMahasiswa.berkas) }}
		  </div>
			<div class="tab-pane wizard-pane" id="pendidikan" role="tabpanel">

				<table class="table">
					<thead>
						<tr>
							<th>Tahun</th>
							<th>Tgl Ijazah</th>
							<th>Gelar</th>
							<th>Jenjang</th>
							<th>Bidang</th>
						</tr>
					</thead>
					<tbody id="listPendidikan">
						<tr class="itemPendidikan">
							<td>
								<select name="riwayatPendidikan[tahun][]" class="form-control">
									{% set year = "now"|date("Y") %}
									<option value="">-- Pilih Tahun --</option>
									{% for i in year..1980 %}
										<option value="{{ i }}">{{ i }}</option>
									{% endfor %}
								</select>
							</td>
							<td>
								<input type="text" name="riwayatPendidikan[tglIjazah][]" class="form-control js-datepicker">
							</td>
							<td>
								<input type="text" name="riwayatPendidikan[gelarAkademik][]" class="form-control">
							</td>
							<td>
								<select name="riwayatPendidikan[jenjangPendidikan][]" class="form-control">
									<option value="">-- Pilih --</option>
									{% for jenjang in app_service.getMasterTermObject('jenjang_pendidikan') %}
										<option value="{{ jenjang.nama }}">{{ jenjang.nama }}</option>
									{% endfor %}
								</select>
							</td>
							<td>
								<select name="riwayatPendidikan[bidangKeilmuan][]" class="form-control">
									<option value="">-- Pilih --</option>
									{% for bidang in app_service.getMasterTermObject('bidang_keilmuan') %}
										<option value="{{ bidang.nama }}">{{ bidang.nama }}</option>
									{% endfor %}
								</select>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th colspan="5" class="text-right"><button id="tmb-pendidikan-btn" type="button" class="btn btn-default btn-sm">Tambah Pendidikan</button></th>
						</tr>
					</tfoot>
				</table>

				<br>
				<br>

				{{ form_row(form.submit) }}

				<div class="hide">
					{% for field in [ 
							'nim',
							'angkatan',
							'semester',
							'kelas',
							'status'
					] if (attribute(form.dataMahasiswa, field) is defined) %}
							{{ form_row(attribute(form.dataMahasiswa, field)) }}
					{% endfor %}
					{{ form_rest(form) }}
				</div>
				
		  </div>
		</div>
	</div>

	{{ form_end(form) }}

{# {% endif %} #}

{% endblock %}

{% block js %}
<!-- jQuery Wizard -->
<script src="{{ asset('plugins/jquery-wizard/dist/jquery-wizard.js') }}"></script>
<!-- FormValidation plugin and the class supports validating Bootstrap form -->
<script src="{{ asset('plugins/jquery-wizard/assets/formvalidation/formValidation.min.js') }}"></script>
<script src="{{ asset('plugins/jquery-wizard/assets/formvalidation/bootstrap.min.js') }}"></script>
<script type="text/javascript">
$(function(){
	$("#tmb-pendidikan-btn").on('click', function(){
		var item = document.getElementsByClassName('itemPendidikan');
		$(item[0]).clone().appendTo( "#listPendidikan" ).find('input').val('');
        $('.js-datepicker').datepicker({
            format: 'dd-mm-yyyy'
        });
	})
})
$(function(){
	$("#form_dataMahasiswa_statusMasuk").on('change', function() {
		if(this.value == 'BARU') {
			$("#status_masuk-baru").show();
			$("#status_masuk-pindahan").hide();
		} else if (this.value == 'PINDAHAN') {
			$("#status_masuk-baru").hide();
			$("#status_masuk-pindahan").show();
		} else {
			$("#status_masuk-baru").hide();
			$("#status_masuk-pindahan").hide();
		}
	});
});

$(document).ready(function(){
	var stt = $("#form_dataMahasiswa_statusMasuk").val();
	if (stt == 'BARU') {
		$("#status_masuk-baru").show();
		$("#status_masuk-pindahan").hide();
	} else if (stt == 'PINDAHAN') {
		$("#status_masuk-baru").hide();
		$("#status_masuk-pindahan").show();
	}
	$('form').on('keyup keypress', function(e) {
	  var keyCode = e.keyCode || e.which;
	  if (keyCode === 13) { 
	    e.preventDefault();
	    return false;
	  }
	});
});

(function() {
	$('#pmb-wizard').wizard({
    		templates: {
	      		buttons: function() {
	        	var options = this.options;
	        	return '<div class="clearfix">' +
	          		'<button class="btn btn-default" data-target="#' + this.id + '" data-wizard="back">' + options.buttonLabels.back + '</button>' +
			        '<button class="btn btn-primary pull-right" data-target="#' + this.id + '" data-wizard="next">' + options.buttonLabels.next + '</button>' +
			        '<button class="btn btn-primary pull-right" data-target="#' + this.id + '" data-wizard="finish">' + options.buttonLabels.finish + '</button>' +
			        '</div>';
	      		}
	    	},
		  	buttonLabels: {
			    next: 'Selanjutnya',
			    back: 'Sebelumnya',
			    finish: 'Selesai'
		  	},
			onInit: function() {
				$('#validation').formValidation({
					framework: 'bootstrap',
					fields: {
						pmb_form: {
							validators: {
								notEmpty: {
									message: 'Kolom ini wajib diisi'
								}
							}
						}
					}
				});
			},
			validator: function() {
				var fv = $('#validation').data('formValidation');
				var $this = $(this);
				// Validate the container
				fv.validateContainer($this);
				var isValidStep = fv.isValidContainer($this);
				if (isValidStep === false || isValidStep === null) {
					return false;
				}
				return true;
			},
	    	onBeforeShow: function(step) {
						// var email = $('#pmb_form_mahasiswa_email').val();
						// $.ajax({
						// 	type: "POST",
						// 	url: "{{ url('email_check') }}",
						// 	dataType: "json",
						// 	data: {email:email},
						// 	success: function(response) {
						// 		console.log(response);
						// 	}
						// });	
				if (step.index == 5) {
					$(".clearfix").hide();
				}
					
			      step.$element.tab('show');
			    },
			onFinish: function() {
				$("form").submit();
			}
	});
})();
</script>
<script>
	$(document).ready(function(){
		$(".select2").select2();
	});
</script>
{% endblock %}